@charset "utf-8";
/* CSS Document */
.style1_bg {
    background: url("images/loginBg.pngg") no-repeat scroll left top transparent;
    color: #686868;
    padding:0px;
    width: auto;
	margin-right:21px;
}

