/* Based partially on Matthew Carroll's keyboard accessible flavor of Suckerfish 
 * Dropdowns by Patrick Griffiths and Dan Webb. 
 * http://carroll.org.uk/sandbox/suckerfish/bones2.html
 */

/* ----[ LINKS ]----*/

/* all menu links */
@import url("font/texgyreadventor.css");
body
{
	margin: 0;
	padding: 0;
	font-family: "TeXGyreAdventorRegular";
	font-size: 12px;
	color: #333333;
	height: 100%;
	
}


#nav a{
	text-decoration:none;
	display:block;
	color:#FFFFFF !important;
}
#subMenusContainer a{
	text-decoration:none;
	display:block;
	padding:5px 20px;
	background-color:#3e3f3d;

	color:#FFFFFF !important;
}

/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#nav a{
 padding: 8px 25px 9px;
	margin:0;
	float:left;	
	color:#FFFFFF;
}

/* Just sub menu links */
#subMenusContainer a, #nav li li a{
	text-align:left;
	color:#FFFFFF !important;
}

/* All menu links on hover or focus */
#nav a:hover, #nav a:focus, #nav a.mainMenuParentBtnFocused,
#nav li a:hover,
#nav li a:focus{
	/*background: url(../images/navRoll.png) no-repeat center top;*/
	color:#FFF;
}

/* sub menu links on hover or focus */
#subMenusContainer a:hover, 
#subMenusContainer a:focus, 
#subMenusContainer a.subMenuParentBtnFocused{
	background-color: #3e3f3d;
    box-shadow: 0 0 20px #131313 inset;
    color: #FFFFFF;
    padding: 5px 20px;
}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn{ 
	background: url(../images/arrow_right.gif) right center no-repeat;  
}

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{ 
	background: url(../images/arrow_right_over.gif) right center no-repeat;  
}

/* Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn{	
	 background: url(../images/arrow_down.gif) right center no-repeat;
	
}

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused{	
	background: url(../images/arrow_down_over.gif) right center no-repeat; 
}

/* ----[ OLs ULs, LIs, and DIVs ]----*/

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{ 
	display:none; 
	position: absolute; 
	overflow:hidden;
	/*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
	padding:0 0px;
	margin:0;
	height:150px;
	margin:-1px 0 0 -2px;
}


/* All ULs and OLs */
#nav, #nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}

/* All submenu OLs and ULs */
#nav ol, #nav ul, #subMenusContainer ul, #subMenusContainer ol {	
	/*border around submenu goes here*/	 

	background:#282c5f;	
	border:1px solid #fff;
	left:0;
	color:#FFFFFF;
}


/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#nav li { 
	/*great place to use a background image as a divider*/
	
	list-style:none;
	position:relative;
	float:left;
	display:inline;
	
}

#subMenusContainer li{
	list-style: none;
	border-bottom:1px solid #fff;
	
}

/* main menu ul or ol elment */
#nav{
	display:block;
	float:right;
	 margin: 0 25px 0 0;
	list-style:none;
	z-index:5;
	color:#FFFFFF;
	text-align: center;
	display:block;
}

#subMenusContainer{	display:block; 	position:absolute;	top:0;	left:0;	width:100%;	height:0;	overflow:visible;	z-index:1000000000;}


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#nav li li{	float:none;
margin-top:10px;
}

#nav li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
	color:#FFFFFF;
}

#nav li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	
	color:#FFFFFF;
	top:24px;

}

/* third-and-above-level lists */
#nav li ul ul { margin: -1em 0 0 -1000em; 
border:1px solid #ff0000;}
#nav li:hover ul ul {	margin-left: -1000em; 
}

 /* lists nested under hovered list items */
#nav li:hover ul{	margin-left: 0; }
#nav li li:hover ul {	margin-left: 10em; margin-top:-2.5em;}

/* extra positioning rules for limited noscript keyboard accessibility */
#nav li a:focus + ul {  margin-left: 0; margin-top:2.2em; }
#nav li li a:focus + ul { left:0; margin-left: 1010em; margin-top:-2.2em;}
#nav li li a:focus {left:0;  margin-left:1000em; width:10em;  margin-top:0;}
#nav li li li a:focus {left:0; margin-left: 2010em; width: 10em;  margin-top:-1em;}
#nav li:hover a:focus{ margin-left: 0; }
#nav li li:hover a:focus + ul { margin-left: 10em; }
