.menu {
	height: 42px;
	position: relative;
	z-index: 100;
	background: #3E3F3D;
	float: right;
	margin-right: 130px;
	color: #FFFFFF;
}
.menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.menu li {
	list-style: none;
	float: left;
	display: block;
	position: relative;
 -webkit-transition: opacity .25s ease .1s;
 -moz-transition: opacity .25s ease .1s;
 -o-transition: opacity .25s ease .1s;
 -ms-transition: opacity .25s ease .1s;
 transition: opacity .25s ease .1s;
}
.menu ul li a {
	display: block;
	padding: 0 14px;
	margin: 6px 0;
	line-height: 28px;
	text-decoration: none;
	border-left: 1px solid #3E3F3D;
	border-right: 1px solid #4F5058;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #f3f3f3 !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
 -webkit-transition: color .2s ease-in-out;
 -moz-transition: color .2s ease-in-out;
 -o-transition: color .2s ease-in-out;
 -ms-transition: color .2s ease-in-out;
 transition: color .2s ease-in-out;
}
.menu ul li ul li a {
	width: 140px;
	padding: 0px 0 0px 40px;
	margin: 0;
	line-height: 30px;
	border: none;
	border-bottom: 1px solid #353539;
	height:30px;
	transition: color 0.2s ease-in-out 0s;
}
.menu a, .menu a:hover {
	display: block;
	font-size: 12px;
	text-decoration: none;
	color: #01ad55 !important;
	height: 30px;
	transition: color 0.2s ease-in-out 0s;
}
.menu ul ul {
	visibility: hidden;
	position: absolute;
	height: 0;
	top: 40px;
	left: 0;
	width: 179px;
	background: #3E3F3D;/* border: 1px solid #353539;*/
}
.menu ul ul li {
	background: #3E3F3D;
	text-align: left;
}
.menu ul ul li:hover {
	background: #454545;
	color: #01ad55 !important;
}
.menu ul ul ul {
	visibility: hidden;
	position: absolute;
	height: 0;
	top: 0;
	left: 180px;
	width: 182px;
}
.menu ul ul ul li {
	background: #3E3F3D;
	text-align: left;
	width:183px;
}
.menu ul ul ul li:hover {
	background: #454545;
	color: #01ad55 !important;
}
.menu table {
	position: absolute;
	top: 0;
	left: 0;
	border-collapse: collapse;
}
/* style the table so that it takes no ppart in the layout - required for IE to work */
        .menu ul ul a, .menu ul ul a:visited, .menu ul ul ul a, .menu ul ul ul a:visited {
	color: #fff;
	height: 40px;
	transition: color 0.2s ease-in-out 0s;
}
.menu a:hover, .menu ul ul li:hover {
}
.menu :hover > a, .menu ul ul :hover > a, .menu ul ul ul :hover > a {
}
.menu ul li:hover > ul, .menu ul a:hover ul, .menu ul ul li:hover ul {
	visibility: visible;
}
/* Icons */

.menu a.documents {
	background: url("../images/docs123.png") no-repeat scroll 6px center transparent;
}
.menu a.messages {
	background: url("../images/arrow123.png") no-repeat 6px center;
}
.menu a.taskmessage {
	background: url("../images/bubble123.png") no-repeat 6px center;
}
.menu a.password {
	background-image: url("../images/change_password.png");
	background-repeat: no-repeat;
	background-position: 6px center;
}
.menu a.send_eodc {
	background: url("../images/send_eodc.png") no-repeat 6px center;
}
.menu a.settings {
	background: url("../images/settings.png") no-repeat 6px center;
}
.menu a.national_holidays {
	background: url("../images/national_holidays.png") no-repeat 6px center;
}
.menu a.quick_question {
	background: url("../images/quick_question.png") no-repeat 6px center;
}
.menu a.call_taken {
	background: url("../images/call_taken.png") no-repeat 6px center;
}
.menu a.desk_application {
	background: url("../images/desk_application.png") no-repeat 6px center;
}
.menu a.faq {
	background: url("../images/faq.png") no-repeat 6px center;
}
.menu a.glossary_icon {
	background: url("../images/glossary_icon.png") no-repeat 6px center;
}
.menu a.analytics {
	background: url("../images/analytics.png") no-repeat 6px center;
}
.menu a.catagories {
	background: url("../images/catagories.png") no-repeat 6px center;
}
.menu a.clients {
	background: url("../images/clients.png") no-repeat 6px center;
}
.menu a.companies {
	background: url("../images/companies.png") no-repeat 6px center;
}
.menu a.emplyees {
	background: url("../images/emplyees.png") no-repeat 6px center;
}
.menu a.notes {
	background: url("../images/notes_1.png") no-repeat 6px center;
}
.menu a.projects {
	background: url("../images/projects.png") no-repeat 6px center;
}
.menu a.resource {
	background: url("../images/resource.png") no-repeat 6px center;
}
.menu a.subscriptions {
	background: url("../images/subscriptions.png") no-repeat 6px center;
}
.menu a.status {
	background: url("../images/status.png") no-repeat 6px center;
}
.menu a.support {
	background: url("../images/support.png") no-repeat 6px center;
}
.menu a.leave_management {
	background: url("../images/leave_management.png") no-repeat 6px center;
}
.menu a.news {
	background: url("../images/news.png") no-repeat 6px center;
}
.menu a.priority {
	background: url("../images/priority-icon.png") no-repeat 6px center;
}
.menu a.cr_priority {
	background: url("../images/cr-properties.png") no-repeat 6px center;
}
.menu a.task_priority {
	background: url("../images/task_priority.png") no-repeat 6px center;
}
.menu a.default_sol {
	background: url("../images/default_sol.png") no-repeat 6px center;
}
.menu a.bulk_mail {
	background: url("../images/bulk_mail.png") no-repeat 6px center;
}
.menu a.task_canned {
	background: url("../images/task_canned.png") no-repeat 6px center;
}
.menu a.view_leave {
	background: url("../images/view_leave.png") no-repeat 6px center;
}
.menu a.add_leave {
	background: url("../images/add_leave.png") no-repeat 6px center;
}
.menu a.edit_leave {
	background: url("../images/edit_leave.png") no-repeat 6px center;
}
.menu a.leave2days {
	background: url("../images/leave_2days.png") no-repeat 6px center;
}
.menu a.leave10days {
	background: url("../images/leave_10days.png") no-repeat 6px center;
}
.menu a.leave_report {
	background: url("../images/leave_report.png") no-repeat 6px center;
}
.menu a.manage_faq {
	background: url("../images/manage_faq.png") no-repeat 6px center;
}
.menu a.gallery {
	background: url("../images/photo_gallery.png") no-repeat 6px center;
}
.menu a.solutions {
	background: url("../images/solutions.png") no-repeat 6px center;
}