/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/



.tabs { list-style: none; overflow: hidden; padding-left: 1px; }
.tabs li { display: inline; }
.tabs li a { display: block; float: left; padding: 4px 8px; color: black; border: 1px solid #ccc; background: #eee; margin: 0 0 0 -1px; }
.tabs li a.current { background: white; border-bottom: 0; position: relative; top: 2px; z-index: 2; }

.box-wrapper { -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; padding: 20px;  border: 1px solid #ccc; margin: -1px 0 0 0; height: 40px; position: relative; }
.content-box {
	overflow: hidden;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 30px;
	color:#333333;
}

.current { z-index: 100; }

.col-one, .col-two, .col-three { width: 30%; float: left; position: relative; top: 350px; }
.col-one, .col-two { margin-right: 3%; }
