﻿body
{
}


.ajax__tab_default .ajax__tab_header
{
    white-space: nowrap;
}
.ajax__tab_default .ajax__tab_outer
{
    display: inline-block;
}
.ajax__tab_default .ajax__tab_inner
{
    display: inline-block;
}
.ajax__tab_default .ajax__tab_tab
{
    cursor: pointer;
    display: inline-block;
    margin-right: 4px;
    overflow: hidden;
    text-align: center;
}
.ajax__tab_xp .ajax__tab_header
{
    /* background: url("WebResource.axd?d=I2Yvf3061gp7Pp6sCI1w1xN-6E4RL2OSKfHYVAx7rrbYJd4Ocdyw8gP5BibOE-CWp0SRopFh0NLPqpggFIvFcg2&t=634913318506520000") repeat-x scroll center bottom transparent;*/
    background: none !important;
    font-family: verdana,tahoma,helvetica !important;
    font-size: 15px !important;
    height: 36px !important;
    border-bottom: 1px solid #00A651 !important;
}
.ajax__tab_xp .ajax__tab_outer
{
    /* background: url("WebResource.axd?d=I2Yvf3061gp7Pp6sCI1w1xN-6E4RL2OSKfHYVAx7rrbYJd4Ocdyw8gP5BibOE-CW2YtX_UfzekIfg5zRIUKG1A2&t=634913318506520000") no-repeat scroll right center transparent;     background: -moz-linear-gradient(center top , #EBEBEB 0%, #00A651 100%) no-repeat scroll right center transparent !important;*/
    height: 38px !important;
    padding-right: 5px !important;
}
.ajax__tab_xp .ajax__tab_inner
{
    /*background: url("WebResource.axd?d=I2Yvf3061gp7Pp6sCI1w1xN-6E4RL2OSKfHYVAx7rrbYJd4Ocdyw8gP5BibOE-CWpathFtPZrLW9Y9kGQqBtmQ2&t=634913318506520000") no-repeat scroll 0 0 transparent;         background: -moz-linear-gradient(center top , #EBEBEB 0%, #00A651 100%)no-repeat scroll 0 0 transparent !important;*/
    padding-left: 4px !important;
}
.ajax__tab_xp .ajax__tab_tab
{
    background: -moz-linear-gradient(center top , #EBEBEB 0%, #00A651 100%) repeat scroll 0 0 transparent;
    height: 28px !important; /*border: 1px solid #00A651;     color: #FFFFFF !important;*/
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_outer
{
    /*  background: url("WebResource.axd?d=I2Yvf3061gp7Pp6sCI1w1xN-6E4RL2OSKfHYVAx7rrbYJd4Ocdyw8gP5BibOE-CWdfsdEw_7zRXeEunb9wyu7g2&t=634913318506520000") no-repeat scroll right center transparent;
    background: -moz-linear-gradient(center top , #EBEBEB 0%, #00A651 100%)no-repeat scroll right center transparent !important;*/
     background: url("images/right.png") no-repeat scroll right center transparent !important;
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_inner
{
    /*background: url("WebResource.axd?d=I2Yvf3061gp7Pp6sCI1w1xN-6E4RL2OSKfHYVAx7rrbYJd4Ocdyw8gP5BibOE-CWroEMsG0XtQ-Bk2nkP9Ikfg2&t=634913318506520000") no-repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top , #EBEBEB 0%, #00A651 100%) no-repeat scroll 0 0 transparent !important;*/
    background: url("images/left.png") no-repeat scroll 0 0 transparent !important;
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_tab
{
    /*background: url("WebResource.axd?d=I2Yvf3061gp7Pp6sCI1w1xN-6E4RL2OSKfHYVAx7rrbYJd4Ocdyw8gP5BibOE-CWs0n4iecVmmngIDAx2NkpVQ2&t=634913318506520000") repeat-x scroll 0 0 transparent;
    background: -moz-linear-gradient(center top , #EBEBEB 0%, #00A651 100%) repeat-x scroll 0 0 transparent !important;*/
     background: url("images/center.png")repeat-x scroll 0 0 transparent !important;
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_outer
{
    /*background: url("WebResource.axd?d=I2Yvf3061gp7Pp6sCI1w1xN-6E4RL2OSKfHYVAx7rrbYJd4Ocdyw8gP5BibOE-CW7IEykauvz1pmg-8KbPiLyW8uvpw3JgGq8U75SesB0aA1&t=634913318506520000") no-repeat scroll right center transparent;     background: -moz-linear-gradient(center top , #EBEBEB 0%, #00A651 100%) no-repeat scroll right center transparent !important;*/
    background: url("images/right.png") no-repeat scroll right center transparent !important;
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_inner
{
    /* background: url("WebResource.axd?d=I2Yvf3061gp7Pp6sCI1w1xN-6E4RL2OSKfHYVAx7rrbYJd4Ocdyw8gP5BibOE-CWwEeeIXWVoZZIk6OmE2FfZg2&t=634913318506520000") no-repeat scroll 0 0 transparent;     background: -moz-linear-gradient(center top , #EBEBEB 0%, #00A651 100%) no-repeat scroll 0 0 transparent !important;*/
    background: url("images/left.png") no-repeat scroll 0 0 transparent !important;
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_tab
{
    /*background: url("WebResource.axd?d=I2Yvf3061gp7Pp6sCI1w1xN-6E4RL2OSKfHYVAx7rrbYJd4Ocdyw8gP5BibOE-CWwtTiOxci8R1IkkMtHAnVqw2&t=634913318506520000") repeat-x scroll 0 0 transparent;     background: -moz-linear-gradient(center top , #EBEBEB 0%, #00A651 100%) repeat-x scroll 0 0 transparent !important;*/
    background: url("images/center.png") repeat-x scroll 0 0 transparent !important;
    background: #00A651 repeat-x scroll 0 0 transparent !important;
    height: 28px !important; /* border-radius: 5px 5px 0 0 !important;*/
}
.ajax__tab_xp .ajax__tab_body
{
    /*-moz-border-bottom-colors: none !important;     -moz-border-left-colors: none !important;     -moz-border-right-colors: none !important;     -moz-border-top-colors: none !important;*/
    background-color: #FFFFFF !important;
    border-color: -moz-use-text-color #00A651 #00A651 !important; /* border-image: none !important;     border-right: 1px solid #999999 !important;     border-style: none solid solid !important;     border-width: 0 1px 1px !important;*/
    font-family: verdana,tahoma,helvetica !important;
    font-size: 10pt !important;
    padding: 8px !important;
}
.ajax__scroll_horiz
{
    overflow-x: scroll;
}
.ajax__scroll_vert
{
    overflow-y: scroll;
}
.ajax__scroll_both
{
    overflow: scroll;
}
.ajax__scroll_auto
{
    overflow: auto;
}
