﻿body {
}

.ajax__tab_default .ajax__tab_header {
    white-space: nowrap;
}
.ajax__tab_default .ajax__tab_outer {
    display: inline-block;
}
.ajax__tab_default .ajax__tab_inner {
    display: inline-block;
}
.ajax__tab_default .ajax__tab_tab {
    cursor: pointer;
    display: inline-block;
    margin-right: 4px;
    overflow: hidden;
    text-align: center;
}
.ajax__tab_xp .ajax__tab_header {
    /*background: url("WebResource.axd?d=8v1pzEc7n98rIH8z8tud1RHo_Nd-MUa0wF7mWFlMZce3EwXNSxvkgsm30Hhteo_Z9T2YOeP0S3v-NEqjRTHjogk9I-htHOs_D52r7D88-mzEH-L-4VqK4eQmDb1qoO7K5t8junObdSg9FztHX6Mt_F6ygKQ1&t=634627489100000000") repeat-x scroll center bottom transparent;*/
     background: url("images/border.jpg") repeat-x scroll center bottom transparent !important;
    font-family: verdana,tahoma,helvetica;
    font-size: 11px;
    
}
.ajax__tab_xp .ajax__tab_outer {
     /*background: url("WebResource.axd?d=HbCz15vrObpqWirQicHCJYZ9OPtjJXXe98qy60UzuOtOgQdzxuma6rlqVmdntta1tJHRFG90kho2EPE3g4hz-zyF4rqYFRTI7oupXAhYlAeM-7dDZAoBdJRyvs47Fb20TbfBYm5FUz6PVbrN0JgNNmDDXII1&t=634627489100000000") no-repeat scroll right center transparent;*/
    height: 21px;
    padding-right: 4px;
}
.ajax__tab_xp .ajax__tab_inner {
     /*background: url("WebResource.axd?d=htn_E0DBXCY_jPDQp3aWVZqcxhK-Sp4NGzPvDfopMoj3i6mIDL26UBW9AYOYTmYruYK60hPhcHE5vMAJ9mwpAYqVDHLSFBVRv8rCqlPtCM9nbMLcOa3JkaO0i25PrkhZHXkKqTlJqe4X2uV-S95k8RvsWDc1&t=634627489100000000") no-repeat scroll 0 0 transparent;*/
    padding-left: 3px;
}
.ajax__tab_xp .ajax__tab_tab {
     /*background: url("WebResource.axd?d=MzJhR5VVNARpUNaktbi3LENDWjdcnoc6kOx-pbnofY6KFeUnQpjvU9Q4QXB45DwJiFoOB9PxypOiRhUx2VlxuaqDe_YsWw_lOKrIvpF4iAL5FCNQTsIq20CtcdWhRSed-eNHwA2&t=634627489100000000") repeat-x scroll 0 0 transparent;*/
    height: 13px;
    margin: 0;
    padding: 4px;
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_outer {
    /* background: url("WebResource.axd?d=IIIFylJql3fzzTMj9pjqN16Dh78-o7VqXCiBBdUKqcEjHhFHvcjvEzgWgUfo3XR7Uvk-X_luJjCspGzytrjPJdtF8Qa9l5E1_kVsjCCmXlwLsnV58DEB79QT7z3OdiDyRSZcS4vPiDeryTYXwNqDwftvuJc1&t=634627489100000000") no-repeat scroll right center transparent;*/
       background: url("images/right.jpg") no-repeat scroll right center transparent !important;
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_inner {
     /*background: url("WebResource.axd?d=hq0MvmFkLN4BwWK-pHRAX-bj0NNVnJAl79lk7yDzbK-CFimunTVdWklVcjgjSLUBEO54AZ8KqdnQ0uqcNMT74a7KctQhd2IoE7t-hIOYl5jsHoUBQq783Zfvsd9EeMsK_pyEgopz2TS9oRXGzjvVx6lUWDk1&t=634627489100000000") no-repeat scroll 0 0 transparent;*/
     background: url("images/left.jpg") no-repeat scroll 0 0 transparent !important;
}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_tab {
    /* background: url("WebResource.axd?d=mcz_fZwQ-2AL9gAG8eRSGFOqBkx-4bPUessueMbLsfBG_zPpqNnE2F-p7U3pWzt3UABHeYbBRWFTJBEl7rcB2QZDRS9c7y3jKSNksCLOxMrTswQVNSzt-LnXS0tPAeIFO2VIQMcA57TRhh--z6HIhVcYIR81&t=634627489100000000") repeat-x scroll 0 0 transparent;*/
     background: url("images/center.jpg")repeat-x scroll 0 0 transparent !important;
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_outer {
     /*background: url("WebResource.axd?d=ase8iYDKfj3YduRWHIeJvwxU1VAAw0auDW-CYe6tLKmNht0IfZ02iNPNQWZwt6TFdDJxN49K7NpFCELgcqFb6c4tRa8zmIcmvhwy8zq3geRSDgXoDDw773iHnKVWwLkQxjbqznqGCzIbb-DFiFYI83cXxmM1&t=634627489100000000") no-repeat scroll right center transparent;*/
      background: url("images/right.jpg") no-repeat scroll right center transparent !important;
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_inner {
    /* background: url("WebResource.axd?d=70Csj0pdiCMiRk0dhwhxeJNHaKpR-tBtmAYeKrhR7phiX09QAIAF0INS3s05aP0da8lSjid1m1mcXX7Xw9W9XrFoumLoZJ1aAWlH_eNM7y2Rn7ZAQzBc8CLzdDfJGVuYqrf6W6JjNWYETOB7h2vnT7UmUok1&t=634627489100000000") no-repeat scroll 0 0 transparent;*/
    background: url("images/left.jpg") no-repeat scroll 0 0 transparent !important;
}
.ajax__tab_xp .ajax__tab_active .ajax__tab_tab {
     /*background: url("WebResource.axd?d=C8OpTR8Zww05RBytAwKbwvt8UBrm_p4iyoUo3_tDHtWucdX8jub1PVGh50WFsiWdW-tRWs9F-ozAfWnsM_Ps559KssJw9CaEj-Nz5HfvFxW4U-6cTUGcFogbTFtXL5u9UtDW3HVVpOvebdCKiVr_KBOjLh41&t=634627489100000000") repeat-x scroll 0 0 transparent;*/
     background: url("images/center.jpg") repeat-x scroll 0 0 transparent !important;
}
.ajax__tab_xp .ajax__tab_body {
    
    background-color: #FFFFFF;
     border-color: -moz-use-text-color #00A651 #00A651 !important;
    border-image: none;
   
    font-family: verdana,tahoma,helvetica;
    font-size: 10pt;
    padding: 8px;
}
.ajax__scroll_horiz {
    overflow-x: scroll;
}
.ajax__scroll_vert {
    overflow-y: scroll;
}
.ajax__scroll_both {
    overflow: scroll;
}
.ajax__scroll_auto {
    overflow: auto;
}
