﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ClientNote.aspx.cs" Inherits="ClientNote" %>
<%@ Register Src="Header.ascx" TagName="Header" TagPrefix="uc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Client Note</title>
<link href="StyleSheet.css" rel="stylesheet" type="text/css" />
<link href="DashStyle.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <uc1:Header ID="Header1" runat="server" />
    <br />
    <br />
    <center>
            <iframe id="Clientnotes" runat="server" width="99%" height="500px" style="border:none;" name="frmaddnotes">
            </iframe>
    </center>
    </div>
    </form>
</body>
</html>
