﻿body
{
}
.no-info-text
{
    font-size: 22px;
    line-height: 1.7em;
}
.errorExplanation
{
    background-color: #FEEFD6;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 14px 20px;
}
.submit
{
    background-color: #F8F8F8;
    background-image: url("/images/overlay-button.png?1319804108");
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande" ,Tahoma,Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    margin: 1px;
    padding: 5px 12px 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.submit:hover
{
    background-color: #00A651;
    border-color: #00A651;
    color: #000000;
}
.actionbuttons
{
    background-color: #F8F8F8;
    background-image: url("/images/overlay-button.png?1319804108");
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    float: right;
    padding: 2px 7px 3px 3px;
    position: relative; /*margin: -5px 6px 2px 5px;*/
}

.processMessage
{
    background-color: Transparent;
    border-color: inherit;
    border-style: none;
    border-width: medium;
    left: 50%;
    padding: 10px;
    position: fixed;
    top: 21%;
    width: 18%;
}
.pagearea
{
    background-color: #FFFFFF;
    padding: 14px 20px;
    border-color: #D9D9D9;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.summary
{
    background: none repeat scroll 0 0 #EBEBEB;
    border: 1px solid #00A651;
    border-radius: 6px 6px 6px 6px;
    padding: 4px;
    margin-bottom: 10px;
    clear: both;
    content: "";
    display: table;
    width: 96%;
}
ul.summary li
{
    border-right: 1px solid #00A651;
    display: inline;
    float: left;
    font-size: 18px;
    padding-top: 18px;
    text-align: center;
    width: 14.0%;
}
ul.summary li.last
{
    border: 0 none;
}
ul.summary li a
{
    color: #0054A5;
    text-align: center;
    text-decoration: none;
}
.sidebar
{
    float: right;
    width: 310px;
}
.reminders:before
{
    border-color: #FFFFFF #FFFFFF #734E3D #734E3D;
}
.reminders:before
{
    background: none repeat scroll 0 0 #E3B558;
    border-color: #EFEFEF #EFEFEF transparent transparent;
    border-radius: 0 0 0 5px;
    border-style: solid;
    border-width: 14px;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 0;
}
.reminders, .todo
{
    background-color: #FFFFE2;
    position: relative;
}

 .tooltiptrans
{
  position: relative;
   cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #333;
  outline: none;
  font-size:14px;
  font-weight:bold;
}

.tooltiptrans span
{
  visibility: hidden;
  color: #333;
  font-weight:normal !important;
  font-size:10.5px;
  position: absolute; 
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: 230px;
   
  padding: 2px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
}

.tooltiptrans:hover
{
  border: 0; /* IE6 fix */
}

.tooltiptrans:hover span
{
  visibility: visible;
}

.tooltiptrans span:before,
.tooltiptrans span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -108px;  
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.tooltiptrans span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}