﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Employee-attendance.aspx.cs" Inherits="Employee_attendance" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajax" %>
<%--<%@ Register TagName="WeeklyReport" TagPrefix="WR" Src="~/Admin/LMSAdmin/LMS-Weekly-report.ascx" %>--%>
<%@ Register Src="~/Header.ascx" TagName="Header" TagPrefix="uc1" %>
<%@ Register Src="~/footer.ascx" TagName="footer" TagPrefix="uc2" %>
<%@ Register Src="~/Controls/InOutTR.ascx" TagName="IOTR" TagPrefix="uc3" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<title><%= ConfigurationManager.AppSettings["CompanyName"].ToString()%></title>
<link href="StyleSheet.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
        function get_(div_) {

            div_ = div_.id + "1";

            document.getElementById(div_).style.display = "block";
        }
        function get_1(div_) {

            div_ = div_.id + "1";

            document.getElementById(div_).style.display = "none";
        }

      

    </script>

<link href="../StyleSheet.css" rel="stylesheet" type="text/css" />
<link href="../SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<link href="../SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/MenuMatic.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../slider.css" />

<style type="text/css">
.style2 {
	color: #686868;
	width: 670px;
}
.style6 {
	width: 161px;
}
fieldset {
	background-color: #F3F3F3;
	border: 1px solid #CCCCCC;
	padding: 10px 20px 20px;
}

.leavetbl td{ border:1px solid #999999; padding:3px;}
.xls_button
{
	background-image:url(xls.png);
	background-repeat:no-repeat;
}

</style>
</head>

<body>
<form id="form1" runat="server" style="font-size: small;">
  <div> 
   
  </div>
  <div>
    <uc1:Header ID="Header1" runat="server" />
    <!--<table width="100%"  onkeypress="javascript:keypressHandler(event)">
      <tr>
        <td  valign="top" align="left" width="20%"></td>
        <td valign="top" align="left" width="20%" ></td>
        <td  valign="top" align="left" width="20%"  ></td>
        <td valign="top" align="left" width="20%" ></td>
        <td valign="top" align="left"  width="20%"></td>
      </tr>
      <tr>
        <td></td>
        <td valign="top"></td>
        <td valign="top"></td>
        <td valign="top" class="style6"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td ></td>
        <td ></td>
        <td ></td>
      </tr>
    </table>-->
    <asp:ValidationSummary ID="ValidationSummary1" runat="server" EnableClientScript="true" ShowMessageBox="true" ShowSummary="false" ValidationGroup="g1" />
  </div>
  <div> </div>
  <div>
  <br />


<uc3:IOTR ID="InToutTR" runat="server"/>



  </div>
  
</form>
</body>
</html>
