﻿<%@ WebHandler Language="C#" Class="Handler2" %>

using System;
using System.Web;
using System.Data;
using System.Data.SqlClient;
using System.Configuration;
using System.Collections;
using System.Web.Security;
using System.Web.UI;
using System.Web.UI.WebControls;
using System.Web.UI.WebControls.WebParts;
using System.Web.UI.HtmlControls;
using System.IO;
using System.Drawing;
using System.Drawing.Imaging;
using System.Drawing.Text;
using System.Drawing.Drawing2D;
using System.Net;
using System.Net.NetworkInformation;

public class Handler2 : IHttpHandler {
    
    public void ProcessRequest (HttpContext context) {

        try
        {

            //string sql = "select CompanyName from  NonesCRMusers where UserName = '" + context.Session["username"].ToString() + "'";
            
            object objUserCompany = DatabaseHelper.executeScalar("Update NonesCRMusers set CompanyName = 'Enviro' where UserName = 'Daniel Cown'");
            
            string sql = "select project_name,CompanyName from projects where active = 'Y'";
            
            //string sql = @"select project_name from projects where active = 'Y' and CompanyName='" + Company.ToString() + "' order by project_name;"
                                                                  
            DataSet ds = DatabaseHelper.getDataset(sql);

            if (ds.Tables[0].Rows.Count > 0)
            {
                context.Response.Write("WebsiteUrl,project_name" + "\n");
                string table = "";
                table = "<table>";
               for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
			   {
                   context.Response.Write(ds.Tables[0].Rows[i]["project_name"].ToString() + "," + ds.Tables[0].Rows[i]["CompanyName"].ToString() + "\n");
                   //table += "<tr>";
                   //for (int ir = 0; ir < ds.Tables[0].Columns.Count; ir++)
                   // {
                   //     table += "<td>";
                   //     table += ds.Tables[0].Rows[i][ds.Tables[0].Columns[ir].ColumnName].ToString();
                   //     table += "<td>";
                   // }
                   //table += "</tr>";
                }
               //table += "</table>";
               //context.Response.Write(table);
            }
        }
        catch (Exception ex)
        {
            ex.Message.ToString();
        }
        
        context.Response.ContentType = "text/plain";
        context.Response.Write("Hello World");
    }
 
    public bool IsReusable {
        get {
            return false;
        }
    }

}