<p align="center">
	<a href="http://www.livewatch.de" target="_blank"><img src="http://uptime.livewatch.de/uptime/524ed2dd3df35" alt="Server monitoring / website monitoring with Livewatch.de" border="0"></a>
	<br><a href="http://www.livewatch.de">Server Monitoring with Livewatch.de</a>
</p>