<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Notifications.ascx.cs"
    CodeBehind="Notifications.ascx.cs" Inherits="Admin_Notifications" %>

<script language="javascript" type="text/javascript">
    function window.confirm(str) {
        execScript('n = msgbox("' + str + '","4132")', "vbscript");
        return (n == 6);
    }
</script>

<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <%--<td style="padding: 0 0 0 10px;">--%>
        <td style="padding: 0 0 0 0px;">
            <span id="Notification" runat="server" style="font-size: 16px; color: #282C5F;"><%--Notifications:--%></span>
            <%--<span style="color: #333333">&nbsp; </span>--%>
           <%--<span id="NewCR" runat="server" style="color: green">
                New CRs<asp:LinkButton ID="LnkNewCR" runat="server" OnClick="LnkNewCR_Click"></asp:LinkButton></span><span
                    style="color: #333333">&nbsp; </span><span id="CRwocr" runat="server" style="color: green">
                        <span style="color: #ff0000">CR(wocr)</span><asp:LinkButton ID="LnkCRWocr" runat="server"
                            OnClick="LnkCRWocr_Click"></asp:LinkButton></span>&nbsp; <span id="CrNewComment"
                                runat="server" style="color: green"><span style="color: #333333">CRs with new comment</span><asp:LinkButton
                                    ID="LnkCrNewComment" runat="server" OnClick="LnkCrNewComment_Click"></asp:LinkButton></span><span
                                        style="color: #333333"> </span><span id="MakeCommentRead" runat="server" style="color: green">
                                            <asp:LinkButton ID="LnkMakecommentRead" runat="server" OnClick="LnkMakecommentRead_Click"></asp:LinkButton></span>&nbsp;
            <span id="unansweredque" runat="server" style="color: red"><span style="color: #333333">
                My unanswered</span> questions<asp:LinkButton ID="lnkUnansweredQuestions" runat="server"
                    CausesValidation="False" OnClick="lnkUnansweredQuestions_Click"></asp:LinkButton></span><span
                        style="color: #333333">&nbsp; </span><span id="immediatetask" runat="server" style="color: red">
                            <span style="color: #333333">My im</span>mediate tasks<asp:LinkButton ID="lnkPr0Task"
                                runat="server" CausesValidation="False" OnClick="lnkPr0Task_Click"></asp:LinkButton></span>&nbsp;
            <span id="OverDuetsk" runat="server" style="color: red">Overdue tasks
                <asp:Button ID="BtnOverdue" runat="server" BackColor="transparent" BorderStyle="none"
                    CausesValidation="False" ForeColor="blue" OnClick="BtnOverdue_Click" Style="width: auto;
                    cursor: pointer" /></span> <span id="highestTasks" runat="server" style="color: #ee82ee">
                        My 1a tasks<asp:LinkButton ID="lnkHighestTasks" runat="server" CausesValidation="False"
                            OnClick="lnkHighestTasks_Click"></asp:LinkButton></span>&nbsp; <span id="highTasks"
                                runat="server" style="color: black">My high tasks<asp:LinkButton ID="lnkHighTasks"
                                    runat="server" CausesValidation="False" OnClick="lnkHighTasks_Click"></asp:LinkButton></span>&nbsp;
            <span id="PR1CTask" runat="server" style="color: black">My 1c tasks<asp:LinkButton
                ID="Lnk1cTasks" runat="server" CausesValidation="False" OnClick="Lnk1cTasks_Click"></asp:LinkButton></span>&nbsp;
            <span id="TskNewComment" runat="server" style="color: red">My tasks with new comment<asp:LinkButton
                ID="LnkTskNewcomment" runat="server" CausesValidation="false" OnClick="LnkTskNewcomment_Click"></asp:LinkButton></span>
            <span id="spnMakeTskcmntRead" runat="server" style="color: green">
                <asp:LinkButton ID="LnkMakeTaskcommentRead" runat="server" CausesValidation="false"
                    OnClick="LnkMakeTaskcommentRead_Click"></asp:LinkButton></span>&nbsp; <span id="SpnAllTaskNewComment"
                        runat="server" style="color: red">Tasks with new comment<asp:LinkButton ID="LnkAllTsknewComment"
                            runat="server" OnClick="LnkAllTsknewComment_Click"></asp:LinkButton></span>
            <span id="Span2" runat="server" style="color: green">
                <asp:LinkButton ID="LnkMakeAllTaskCmmntRead" runat="server" CausesValidation="false"
                    OnClick="LnkMakeAllTaskCmmntRead_Click"></asp:LinkButton></span>&nbsp;--%>
                    
                    <%--================================Start Without change name code =========================================================================--%>
                    
                    
                    <%--New CRs|CR(wocr)|CRs with new comment|My unanswered questions|My immediate tasks|Overdue tasks|All overdue|My 1a tasks|My high tasks|My 1c tasks|My tasks with new comment|Tasks with new comment
                 
                 Immediate(1) Do now(1) High(3) Normal(4) Low(21) Questions(3) Unread comments(3) Overdue (1)  |  All overdue (2)  |  CR: New(2) Unread comments(4)
                 
                 |CR(wocr)|Tasks with new comment
                 
                 My immediate tasks|My 1a tasks|My high tasks|My 1c tasks|My unanswered questions|My tasks with new comment|Overdue tasks|All overdue|New CRs|CRs with new comment|
                   --%>
                  
                    MINE:
                    <%-----------------------------------------------------------------------------------------%>
                    <span id="immediatetask" runat="server" style="color:red">
                            <span style="color:red"></span>Immediate<asp:LinkButton ID="lnkPr0Task"
                                runat="server" ForeColor="red"  CausesValidation="False" OnClick="lnkPr0Task_Click"></asp:LinkButton></span>
                                
                    <%---------------------------------------------------------------------------------------------%>
                                 <span id="highestTasks" runat="server" style="color:#FF1493">
                        Do now<asp:LinkButton ID="lnkHighestTasks" ForeColor="#FF1493"  runat="server" CausesValidation="False"
                            OnClick="lnkHighestTasks_Click"></asp:LinkButton></span>
                    <%---------------------------------------------------------------------------------------------%>
                                                                       
                   <span id="highTasks" runat="server" style="color:black">High<asp:LinkButton ID="lnkHighTasks"
                                    runat="server" CausesValidation="False" OnClick="lnkHighTasks_Click"></asp:LinkButton></span>
                    <%---------------------------------------------------------------------------------------------%>
                                        
                                                         
                    <span id="PR1CTask" runat="server" style="color:black">Normal<asp:LinkButton
                    ID="Lnk1cTasks" runat="server" CausesValidation="False" OnClick="Lnk1cTasks_Click"></asp:LinkButton></span>
                    <%---------------------------------------------------------------------------------------------%> 
                   
                    <span id="PRlowTask" runat="server" style="color:black">Low<asp:LinkButton
                    ID="LinklowTasks" runat="server" CausesValidation="False" 
                    onclick="LinklowTasks_Click" ></asp:LinkButton></span>
                    <%---------------------------------------------------------------------------------------------%>  
                    <span id="TskNewComment" runat="server" style="color:#FF1493">Unread comments<asp:LinkButton
                    ID="LnkTskNewcomment" runat="server" CausesValidation="false" ForeColor="#FF1493" OnClick="LnkTskNewcomment_Click"></asp:LinkButton></span>
                    <span id="spnMakeTskcmntRead" runat="server" style="color:#FF1493;margin-left:-5px">
                    <asp:LinkButton ID="LnkMakeTaskcommentRead" runat="server" ForeColor="#FF1493"  CausesValidation="false"
                    OnClick="LnkMakeTaskcommentRead_Click"></asp:LinkButton></span>
                    <%---------------------------------------------------------------------------------------------%> 
                    <span id="unansweredque" runat="server" style="color:black"><%--<span style="color:black">&nbsp;|&nbsp;
                    </span>--%>To answer<asp:LinkButton ID="lnkUnansweredQuestions" runat="server"
                    CausesValidation="False" OnClick="lnkUnansweredQuestions_Click"></asp:LinkButton></span>
                    <span style="color:#333333"></span>
                    <%---------------------------------------------------------------------------------------------%>  
                   <%-- <span id="TskNewComment" runat="server" style="color:#FF1493">Unread comments<asp:LinkButton
                    ID="LnkTskNewcomment" runat="server" CausesValidation="false" ForeColor="#FF1493" OnClick="LnkTskNewcomment_Click"></asp:LinkButton></span>
                    <span id="spnMakeTskcmntRead" runat="server" style="color:#FF1493;margin-left:-5px">
                    <asp:LinkButton ID="LnkMakeTaskcommentRead" runat="server" ForeColor="#FF1493"  CausesValidation="false"
                    OnClick="LnkMakeTaskcommentRead_Click"></asp:LinkButton></span>--%>
                    <%---------------------------------------------------------------------------------------------%>
                    <span id="firstpipe" runat="server"  style="color:black;font-weight:bold;">&nbsp;|&nbsp;</span>
                    <span id="OverDuetsk" runat="server" style="color:red">Overdue<asp:LinkButton  ID="BtnOverdue" runat="server" BackColor="transparent" BorderStyle="none" CausesValidation="False" OnClick="BtnOverdue_Click" Style="cursor:pointer;color:red"></asp:LinkButton></span>
                    <%--<asp:Button ID="BtnOverdue" runat="server"  BackColor="transparent" BorderStyle="none" CausesValidation="False" OnClick="BtnOverdue_Click" Style="cursor:pointer;color:red"/> --%>
                    
                    <%---------------------------------------------------------------------------------------------%>
                    <span id="allsign" runat="server" style="color:Black;">ALL:&nbsp;</span>
                    <span id="SpnAllTaskNewComment" runat="server" style="color:#FF1493">Unread comments<asp:LinkButton ID="LnkAllTsknewComment" runat="server" OnClick="LnkAllTsknewComment_Click" ForeColor="#FF1493"></asp:LinkButton></span>
                    <span id="Span1" runat="server" style="color:#FF1493;margin-left:-5px"><asp:LinkButton ID="LnkMakeAllTaskCmmntRead" runat="server" CausesValidation="false"
                    OnClick="LnkMakeAllTaskCmmntRead_Click" ForeColor="#FF1493"></asp:LinkButton></span>
                 <%----------------------------------------------------------------------------------------------------------------------------------------------%>
                    <span id="AllOverDuetsk" runat="server" style="color:red"><%--<span style="color:Black;">&nbsp;|&nbsp;</span>--%><%--<span style="color:Black;">ALL:&nbsp;</span>--%>Overdue<asp:LinkButton ID="BtnallOverdue" runat="server"  BackColor="transparent" BorderStyle="none" CausesValidation="False" Style="width:auto;cursor:pointer;color:red" OnClick="BtnallOverdue_Click"></asp:LinkButton></span>
                    <%--<asp:Button ID="Button1" runat="server" BackColor="transparent" BorderStyle="none" CausesValidation="False" Style="width:auto;cursor:pointer;color:red" onclick="BtnallOverdue_Click"/>--%>
                    <%------------------------------------------------------------------------------------------------------%>
                     &nbsp;
                     <span id="tobeansweres" runat="server" style="color:black">To be answered<asp:LinkButton ID="lnktobeansweres" runat="server"
                    CausesValidation="False" OnClick="lnktobeansweres_Click" ></asp:LinkButton></span>
                    <span id="secondpipe" runat="server" style="color:black;font-weight:bold;">&nbsp;|&nbsp;</span>
                    <%---------------------------------------------------------------------------------------------%>
                    <%--<span id="NewCR" runat="server" style="color:Green">
                    <span style="color:Black ">&nbsp;|&nbsp;</span>CR:New<asp:LinkButton ID="LnkNewCR" runat="server" ForeColor="green"   OnClick="LnkNewCR_Click"></asp:LinkButton></span>
                    <span style="color:#333333"></span>--%>
                    <%---------------------------------------------------------------------------------------------%>
                   <%-- <span id="CrNewComment" runat="server" ><span>Unread comments</span><asp:LinkButton
                    ID="LnkCrNewComment" runat="server" OnClick="LnkCrNewComment_Click"></asp:LinkButton></span>
                    <span style="color:#FF1493"></span><span id="MakeCommentRead" runat="server" style="margin-left:-5px">
                    <asp:LinkButton ID="LnkMakecommentRead" runat="server" OnClick="LnkMakecommentRead_Click"></asp:LinkButton></span>--%>
                    <%----------------------------------------This Link does not want to show ----------------------------------------%>
                    <%--<span id="CRwocr" runat="server" style="color: green">
                    <span style="color: #ff0000">CR(wocr)</span><asp:LinkButton ID="LnkCRWocr" runat="server"
                    OnClick="LnkCRWocr_Click"></asp:LinkButton></span>&nbsp;--%>
                    <%---------------------------------------------------------------------------------------------------------------%>
                    <%--<span id="SpnAllTaskNewComment" runat="server" style="color:red"><span style="color:Black">&nbsp;|&nbsp;</span>Tasks with new comment<asp:LinkButton ID="LnkAllTsknewComment" runat="server" OnClick="LnkAllTsknewComment_Click" ForeColor="red"></asp:LinkButton></span>
                    <span id="Span2" runat="server" style="color:red;margin-left:-5px"><asp:LinkButton ID="LnkMakeAllTaskCmmntRead" runat="server" CausesValidation="false"
                    OnClick="LnkMakeAllTaskCmmntRead_Click" ForeColor="red"></asp:LinkButton></span>--%>
                    <%--------------------------------------------------------------------------------------------------------------------------------%>
                    <span id="CRsign" runat="server" style="color:Green;">CR:&nbsp;</span>
                    <span id="NewCR" runat="server" style="color:Green">
                    <%--<span style="color:Black ">&nbsp;|&nbsp;</span>--%>New<asp:LinkButton ID="LnkNewCR" runat="server" ForeColor="green"   OnClick="LnkNewCR_Click"></asp:LinkButton></span>
                    <span style="color:#333333"></span>
                    <%-------------------------------------------------------------------------------------------------------------------------%>
                     <span id="CrNewComment" runat="server" ><span>Unread comments</span><asp:LinkButton
                    ID="LnkCrNewComment" runat="server" OnClick="LnkCrNewComment_Click"></asp:LinkButton></span>
                    <span style="color:#FF1493"></span><span id="MakeCommentRead" runat="server" style="margin-left:-5px">
                    <asp:LinkButton ID="LnkMakecommentRead" runat="server" OnClick="LnkMakecommentRead_Click"></asp:LinkButton></span>
                    &nbsp;
                    <%----------------------------------------------------------------------------------------------------------------------------------%>
                    <%--<span id="SpnAllTaskNewComment" runat="server" style="color:red"><span style="color:Black">&nbsp;|&nbsp;</span>Tasks with new commentUnread comments<asp:LinkButton ID="LnkAllTsknewComment" runat="server" OnClick="LnkAllTsknewComment_Click" ForeColor="red"></asp:LinkButton></span>
                    <span id="Span2" runat="server" style="color:red;margin-left:-5px"><asp:LinkButton ID="LnkMakeAllTaskCmmntRead" runat="server" CausesValidation="false"
                    OnClick="LnkMakeAllTaskCmmntRead_Click" ForeColor="red"></asp:LinkButton></span>--%>
                    <%--============================End Without change name code===============================================================================--%>
                    <asp:ImageButton ID="refreshbtn" runat="server" ImageUrl="~/Admin/images/reload.png" style="vertical-align:bottom;" Height="17px" Width="20px" OnClick="refreshbtn_Click" /> 
                    <%--<asp:Button id="btnsubmit" runat="server" Text="Refresh"  style="background: #282c5f;border:none;cursor:hand;Color:#FFFFFF;padding:2px 4px;" OnClick="btnsubmit_Click"  />--%>
       </td> <%----%>
    </tr>
    <%--style="background: none repeat scroll 0% 0% transparent; border:medium none;cursor:pointer;width:auto;padding:0"--%>
</table>
