<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SendConfirmation.aspx.cs" Inherits="SendConfirmation" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
      <div>
        <asp:Label  ID="lblresult" runat="server"></asp:Label>
      </div>
    </form>
</body>
</html>
