@charset "utf-8";
/* CSS Document */

.DnnModule {
    position: relative;
    z-index: auto !important;
}
body {
	padding:0;
	margin:0;
	font-family:"YogaSans", "Myriad Pro", Arial, Verdana;
	font-size:13px;
	background-image:url(images/body_bg.gif);
	background-position:top left;
	background-repeat:repeat-x;
	background-color:#f6f5f5;
}
 


/* Everest tabs start */


/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
	width:100%;
	margin:0 auto;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 10px 0;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-radius: 5px 5px 0 0;
	border: 1px solid #CCC;
 color:#666;
 padding: 10px 5px;
 margin: 0 2px;
 border-bottom: none;
 text-decoration: none;
 font-size: 15px;
}

ul.tabbernav li a:link { color: #666; }

/*ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}*/

ul.tabbernav li:first-child a {
	margin:0 !important;
}

ul.tabbernav li.tabberactive a
{
 	background: #911901; /* Old browsers */
	background: -moz-linear-gradient(top,  #EBEBEB  0%, #00A651 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#911901), color-stop(100%,#cd2c0c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #911901 0%,#cd2c0c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #911901 0%,#cd2c0c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #911901 0%,#cd2c0c 100%); /* IE10+ */
	background: linear-gradient(top,  #911901 0%,#cd2c0c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#911901', endColorstr='#cd2c0c',GradientType=0 ); /* IE6-9 */
	color:#FFF !important;
	border: 1px solid #00A651;
}

.tabbertab .tab-content-holder {
	
	width:100%;
	margin:0 auto;	
}

.tabbertab .tab-content-holder ul, .tabbertab .tab-content-holder ul li {
	list-style-type:none;
	margin:0;
	padding:0;
}

.tabbertab .tab-content-holder ul li {
	display:inline;
}

.tabbertab .tab-content-holder ul li:first-child {
	float:left;
}

.tabbertab .tab-content-holder ul li h1 {
	color:#2f2f2f;
	font-size:26px;
	line-height: 25px;
}

.tabbertab .tab-content-holder ul li p {
	color:#696a6a;
	font-size:14px;
}

.tabbertab .tab-content-holder .date-visible div {
	zoom:0 !important;
}


.tabbertab .tab-content-holder .date-visible div:hover {
	zoom:0 !important;
}

/*ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}*/

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
	background:#FAFAFA;
	padding:10px;
	border:solid 1px #00A651;
	border-top:solid 3px #00A651;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
/* Everest tabs end */
 