﻿@import url("font/texgyreadventor.css");

body
{
	margin: 0;
	padding: 0;
	font-family: "TeXGyreAdventorRegular";
	font-size: 12px;
	color: #333333;
	height: 100%;
	min-width: 1000px;
}

a
{
	text-decoration: none;
	color: #000;
}
a:hover
{
	text-decoration: none;
	color: #004086;
}

  

.filerDrpodown
{
	font-size: 12px;
	height: 20px;
}
.processMessage
{
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 10px;
	width: 18%;
	background-color: Transparent;
	border: none;
}
.processMessage1
{
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 10px;
	width: 18%;
	background-color: Transparent;
	border: none;
}


#Content
{
	text-align: left;
}
#Content_98
{
	text-align: left;
	width: 98%;
	margin: 0 auto;
}


.divBorder
{
	background: #fff url(images/topBg.jpg) repeat-x left top;
	height: auto;
	min-height: 80px;
}

#divMessage
{
	color: Red;
	font-weight: bold;
	text-align: left;
}

#divMessage1
{
	color: Red;
	font-weight: bold;
	text-align: left;
}

#pageHeader
{
	font-size: 22px;
	color:#0054a5;
}




#pageTitle
{
	height: 37px;
	background: #282c5f url(images/bluebar.jpgg);
	font-weight: bold;
	color: White;
	font-size: 16px;
	padding-left: 10px;
	text-align: left;
	vertical-align: middle;
	line-height: 37px;
}
.titleText
{
	font-family: "TeXGyreAdventorRegular";
	font-size: 19px;
	color: #1d2257;
	background: #fff url(images/titletxtBg.jpg) no-repeat left top;
	height: 31px;
	line-height: 31px;
	padding: 0 0 0 10px;
	min-width: 410px;
}
.whitetext1
{
	font-family: "TeXGyreAdventorRegular", Arial;
	font-size: 12px;
	color: #fff;
}
.whitetext2
{
	font-family: "TeXGyreAdventorRegular";
	font-size: 13px;
	color: #fff;
}
.whitetext2:hover
{
	font-family: "TeXGyreAdventorRegular";
	font-size: 13px;
	color: #E0BC14;
}
.whitetext2 a
{
	font-family: "TeXGyreAdventorRegular";
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
.whitetext2 a:hover
{
	font-family: "TeXGyreAdventorRegular";
	font-size: 13px;
	color:#02B3FF;
	text-decoration: underline;
}

.loginBtn
{
	background: url(images/loginBtn2.png);
	width: 59px;
	height: 26px;
	color: #fff;
	border: 0;
}
.loginBtn:hover
{
	border: none;
	background: url(images/loginBtn2.png);
	background-position: 0 -52px;
	padding: 2px 8px;
}
.clearfilter
{
	/*background: url(images/BtnBg.png);*/
	background:background: #00a651; /* Old browsers */
	background: -moz-linear-gradient(top,  #00a651 0%, #008e53 77%, #008e53 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a651), color-stop(77%,#008e53), color-stop(100%,#008e53)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00a651 0%,#008e53 77%,#008e53 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00a651 0%,#008e53 77%,#008e53 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00a651 0%,#008e53 77%,#008e53 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00a651 0%,#008e53 77%,#008e53 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a651', endColorstr='#008e53',GradientType=0 ); /* IE6-9 */
	width: 80px;
	height: 20px;
	color: #ffffff;
	border: 0;
	background-position: 0 0px;
	font-size: 11px;
	border-radius: 4px 4px 4px 4px;
}

.clearfilter:hover
{
background:background: #008e53; /* Old browsers */
	background: -moz-linear-gradient(top,  #008e53 0%, #00a651 77%, #00a651 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008e53), color-stop(77%,#00a651), color-stop(100%,#00a651)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #008e53 0%,#00a651 77%,#00a651 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #008e53 0%,#00a651 77%,#00a651 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #008e53 0%,#00a651 77%,#00a651 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #008e53 0%,#00a651 77%,#00a651 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008e53', endColorstr='#00a651',GradientType=0 ); /* IE6-9 */
	width: 80px;
	height: 20px;
	color: #ffffff;
	border: 0;
	background-position: 0 0px;
	font-size: 11px;
	border-radius: 4px 4px 4px 4px;
}




span.firstWord
{
	font-weight: bold;
	text-decoration: none;
	font-family: "TeXGyreAdventorRegular";
	font-size: 47px;
	color: #1d2257;
	text-transform: uppercase;
}
.yellowtext1
{
	font-family: "TeXGyreAdventorRegular";
	font-size: 30px;
	color: #1d2257;
}
.style1
{
	color: #686868;
}
.style1 a
{
	color: #686868;
	text-decoration: none;
}
.style1 a:hover
{
	color: #686868;
	text-decoration: underline;
}
#footer
{
	width: 99%;
	margin: 0;
	padding: 0;
	padding-bottom:10px;
	float:left;
	/*background: #fff url(images/public/img05.jpg) no-repeat center top;
	border-left: 10px solid #FFFFFF;
	border-right: 10px solid #FFFFFF;*/
}

#footer p
{
	margin: 0;
	padding: 0;
	text-align: right;
	line-height: normal;
	color: #B5ADA5;
	float: right;
}

#footer a
{
	color: #B5ADA5;
}

#footer-left
{
	width: 650px;
	float: left;
	margin: 0px;
	padding: 0px;
}

#footer-right
{
	float: right;
	padding-top: 10px;
	margin: 0px;
}

#wrapper
{
	width: 100%;
	margin: 0 auto;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.modalPopup
{
	background-color: #ffffdd;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 3px;
	width: 250px;
}
.tblTitle1
{
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}
.tblTitle1 a
{
	font-size: 12px;
	color: #ffffff !important;
	text-decoration: none;
}
.tblTitle1 a:link
{
	font-size: 12px;
	color: #ffffff !important;
	text-decoration: none;
}
.tblTitle1 a:hover
{
	font-size: 12px;
	color: #fff;
	text-decoration: underline;
}


.tasktbl tr td, .tasktbl tr th {
border:1px solid #00a651;

}

.goBtn
{
	background: url(images/goBg.png) no-repeat center top;
	border: groove 0px #CC9900;
	color: #ffffff;
	height: 21px;
	font-size: 11px;
	width: 30px;
	line-height: 20px;
}
.style1_bg
{
	color: #686868;
	background: url(images/loginBg.pngg) no-repeat left top;
	padding: 10px;
	width: auto;
}
.blueBtns
{
/* background: linear-gradient(to bottom, #00A651 0%, #54A57B 100%) repeat scroll 0 0 transparent !important;*/
background: #00a651; /* Old browsers */
background: -moz-linear-gradient(top,  #00a651 0%, #54a57b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a651), color-stop(100%,#54a57b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00a651 0%,#54a57b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00a651 0%,#54a57b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00a651 0%,#54a57b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #00a651 0%,#54a57b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a651', endColorstr='#54a57b',GradientType=0 ); /* IE6-9 */
border: 1px solid #00A651 !important;
border-radius: 5px 5px 5px 5px !important;
color: #FFFFFF !important;
cursor: pointer !important;
font-size: 13px !important;
font-weight: normal !important;
padding: 4px 12px !important;}
	

.blueBtns:hover
{
	
/*background: linear-gradient(to bottom, #0054A6 0%, #135FA5 45%, #4878A5 100%) repeat scroll 0 0 transparent !important;*/
background: #0054a6; /* Old browsers */
background: -moz-linear-gradient(top,  #0054a6 0%, #135fa5 45%, #4878a5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0054a6), color-stop(45%,#135fa5), color-stop(100%,#4878a5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0054a6 0%,#135fa5 45%,#4878a5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0054a6 0%,#135fa5 45%,#4878a5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0054a6 0%,#135fa5 45%,#4878a5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0054a6 0%,#135fa5 45%,#4878a5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0054a6', endColorstr='#4878a5',GradientType=0 ); /* IE6-9 */
border: 1px solid #0054A6 !important;
border-radius: 5px 5px 5px 5px !important;
color: #FFFFFF !important;
cursor: pointer !important;
font-size: 13px !important;
font-weight: normal !important;
padding: 4px 12px !important;

}
/*===================*/
.BtnsNotHover
{
	background: #282c5f;
	border: none;
	cursor:hand;
	color: #FFFFFF;
	padding: 2px 4px;
	/*cursor:inherit;*/
}
/*===================*/
.yeloBtns
{
	background: #e0bc14;
	border: none;
	cursor: hand;
	color: #FFFFFF;
	padding: 5px;
}
.bck
{
	background: url(images/arrow.png) no-repeat left top;
	line-height: 27px;
	padding: 0 0 0 35px;
	font-size: 22px;
	height: 27px;
}
.brdr_top
{
	border-top: solid 1px #cdcdcd;
}
.tblbrdr1
{
	border: solid 1px #cdcdcd;
	padding: 0px;
}
.bulletlink1
{
	margin: 0;
	padding: 0;
}
.bulletlink1 a
{
	margin: 0;
	padding: 0 0px 0 20px;
	background: url(images/bulletlink.png) no-repeat left top;
}
/*********************FOR ASP BUTTONs*************************/
.button
{
	background: transparent url(  'images/button.gif' ) no-repeat top left;
	display: block;
	float: left;
	line-height: 11px; /* 21px (Button Background) = 5px (padding-top) + 11px (font-size) + 5px(padding-bottom) */
	height: 26px; /* Button Background Height */
	padding-left: 9px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	font-size: 11px;
}

a:link.button, a:visited.button, a:active.button
{
	color: white;
	text-decoration: none;
	margin-right: 10px;
}

a.button:hover
{
	background-position: bottom left;
}

a.button span, a.button span
{
	background: transparent url(  'images/end.jpg' ) no-repeat top right;
	display: block;
	padding: 8px 9px 7px 0; /*Set 9px below to match value of 'padding-left' value above*/
}

a.button:hover span
{
	background-position: bottom right;
	color: white;
}
/*********************FOR INPUT TYPE BUTTONs*************************/
input.button2
{
	padding: 0 0 0 5px;
	margin: 0 10px 0 0;
	border: 0;
	background: transparent url(  'images/button.gif' ) no-repeat top left;
	color: #fff;
	height: 26px; /* used to catch the buttonEnding */
	position: relative;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
}

.buttonEnding
{
	position: absolute;
	display: inline;
	margin-left: -10px;
	width: 7px;
	height: 26px;
	background: transparent url(  'images/end.gif' ) no-repeat top left;
}
.text_default
{
	font: "TeXGyreAdventorRegular";
	font-size: 12px;
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}
.text_default a
{
	font: "TeXGyreAdventorRegular";
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}
.text_default a:hover
{
	font: "TeXGyreAdventorRegular";
	font-size: 12px;
	text-decoration: none;
	color: #282c5f;
}
.text_button_trans
{
	font: "TeXGyreAdventorRegular";
	font-size: 12px;
	text-decoration: none;
	color: #000000;
	font-weight: normal;
	background: none;
	border: none;
}
.text_button_trans a
{
	font: "TeXGyreAdventorRegular";
	font-size: 12px;
	text-decoration: none;
	color: #000000;
	padding: 0;
}
.text_button_trans:hover
{
	font: "TeXGyreAdventorRegular";
	font-size: 12px;
	text-decoration: none;
	color: #282c5f;
}
.content
{
	width: 20px;
	overflow: auto;
}
.content span
{
	width: 100px;
	overflow: auto;
}

.wordwrap
{
	word-wrap: break-word;
	width: 100px;
}
.topfilter
{
	font-family: "TeXGyreAdventorRegular";
	font-size: 12px;
	text-align: right;
	color: Red;
}

.linke124 {
	color:#ffffff;
    font-size: 14px;
    font-weight: bold;
	}
.linke124:hover {
	text-decoration:none;
	}
.function-menu {
 	/*background: url("images/yellowbar_filter.png") no-repeat scroll left top transparent;*/
	background:background: #00a651; /* Old browsers */
	background: -moz-linear-gradient(top,  #00a651 0%, #008e53 77%, #008e53 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a651), color-stop(77%,#008e53), color-stop(100%,#008e53)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00a651 0%,#008e53 77%,#008e53 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00a651 0%,#008e53 77%,#008e53 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00a651 0%,#008e53 77%,#008e53 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00a651 0%,#008e53 77%,#008e53 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a651', endColorstr='#008e53',GradientType=0 ); /* IE6-9 */
	color:#FFFFFF;
    float: left;
    height: 27px;
    line-height: 28px;
    text-align: center;
    width: 101px;
	cursor:pointer;
	border-radius: 4px 4px 0 0;
  }
  
.function-menu:hover {
  /*	background: url(images/yellowbar_filter-hover.png) no-repeat left top;*/
  background:background: #008e53; /* Old browsers */
	background: -moz-linear-gradient(top,  #008e53 0%, #00a651 77%, #00a651 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008e53), color-stop(77%,#00a651), color-stop(100%,#00a651)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #008e53 0%,#00a651 77%,#00a651 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #008e53 0%,#00a651 77%,#00a651 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #008e53 0%,#00a651 77%,#00a651 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #008e53 0%,#00a651 77%,#00a651 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008e53', endColorstr='#00a651',GradientType=0 ); /* IE6-9 */
	color:#FFFFFF;
	border-radius: 4px 4px 0 0;
	float: left;
    height: 27px;
    line-height: 28px;
	cursor:pointer;
    text-align: center;
    width: 101px;
  }
.function-menu-1 {
 	/*background: url("images/yellowbar_filter123.png") no-repeat scroll left top transparent;*/
	background:background: #00a651; /* Old browsers */
	background: -moz-linear-gradient(top,  #00a651 0%, #008e53 77%, #008e53 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a651), color-stop(77%,#008e53), color-stop(100%,#008e53)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00a651 0%,#008e53 77%,#008e53 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00a651 0%,#008e53 77%,#008e53 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00a651 0%,#008e53 77%,#008e53 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00a651 0%,#008e53 77%,#008e53 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a651', endColorstr='#008e53',GradientType=0 ); /* IE6-9 */
	color:#FFFFFF;
	border-radius: 4px 4px 0 0;
    float: left;
    height: 27px;
    line-height: 28px;
    text-align: center;
    width:134px;
	cursor:pointer;
  }
  
.function-menu-1:hover {
  	/*background: url(images/yellowbar_filter123-hover.png) no-repeat left top;*/
	background:background: #008e53; /* Old browsers */
	background: -moz-linear-gradient(top,  #008e53 0%, #00a651 77%, #00a651 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008e53), color-stop(77%,#00a651), color-stop(100%,#00a651)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #008e53 0%,#00a651 77%,#00a651 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #008e53 0%,#00a651 77%,#00a651 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #008e53 0%,#00a651 77%,#00a651 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #008e53 0%,#00a651 77%,#00a651 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008e53', endColorstr='#00a651',GradientType=0 ); /* IE6-9 */
	color:#FFFFFF;
	border-radius: 4px 4px 0 0;
	float: left;
    height: 27px;
    line-height: 28px;
	cursor:pointer;
    text-align: center;
    width:134px;
  }

/*.hide_panel {
	background-color: #FEFFB3;
    border: 1px solid #333333;
    float: right;
    height: 100%;
    left: 23%;
    margin: 0 auto;
    overflow: auto;
    padding-left: 3px;
    position: absolute;
    top: 49%;
    width: 800px;
	display:block;
	}*/
	
	
.hide_panel {
	background-color: #FAFAFA;
    border: 1px solid #EBEBEB;
    bottom: 0;
    left: 255px;
    margin-left: 33px;
    min-width: 240px;
    padding: 22px 16px 10px 31px;
    position: fixed;
    right: 0;
    top:76px;
	height:565px;
	}

.container-panel {
	bottom: auto;
    float: right;
    left: 300px;
    position: absolute;
    width: 800px;
	}
.container-panel2 {
 background: none repeat scroll 0 0 #FAFAFA;
    height: 100%;
    left: 33px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 120;
	}
	
	
    .image-holder
    {
    float:left;
    width:200px;
    height:220px;
    padding:10px;
    margin:10px;
    border:1px solid #ddd;
    background:#eee url(images/ajax-loader-mini.gif) 50% 50% no-repeat;
    display:inline;
    }

