﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TestMacId.aspx.cs" Inherits="Admin_TestMacId" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>EsgDesk</title>

    <script type="text/javascript">
        function ShowData(){
            alert("Test1");
            var macAddress = "";
            var ipAddress = "";
            var computerName = "";
            alert("Test2");
            var wmi = GetObject("winmgmts:{impersonationLevel=impersonate}");
            alert(wmi);
            e = new Enumerator(wmi.ExecQuery("SELECT * FROM Win32_NetworkAdapterConfiguration WHERE IPEnabled = True"));
            
            for (; !e.atEnd(); e.moveNext())
            {
                var s = e.item();
                macAddress = s.MACAddress;
                ipAddress = s.IPAddress(0);
                computerName = s.DNSHostName;
               
                alert(macAddress);
                alert(ipAddress);
                alert(computerName);
                break;
            }
            alert("Break")
            document.getElementById("txtMACAdress").value = unescape(macAddress);
            document.getElementById("txtIPAdress").value = unescape(ipAddress);
            document.getElementById("txtComputerName").value = unescape(computerName);
            
        }
//        function clientMac() {
//                     alert("Test0");
//                     var locator = new ActiveXObject("WbemScripting.SWbemLocator");
//                     alert(locator);
//                     var service = locator.ConnectServer(".");
//                     alert(service);
//                     var properties = service.ExecQuery("SELECT * FROM Win32_NetworkAdapterConfiguration");
//                     alert(properties);
//                     var e = new Enumerator(properties);
//                     for (;!e.atEnd();e.moveNext ())
//                     {
//                    var p = e.item ();
//                    var mystring= new String(p.Caption);
//                    var myregExp='PCI';
//                    var answerIdx=mystring.search(myregExp)
//                    if(answerIdx != -1 && p.MACAddress != null) {
//                    alert(p.MACAddress);
//                    document.write(p.MACAddress);
//                    }
//                    else
//                    {
//                    var mystring= new String(p.Caption);
//                    var myregExp='NIC';
//                    var answerIdx=mystring.search(myregExp)
//                    if(answerIdx != -1 && p.MACAddress != null)
//                    {
//                    document.write(p.MACAddress);
//                    }
//                    }

//                    }
//                }
//           
           
           
          
	        
//	        function btnGo_onClick() {
//	            alert("Test11");
//	            var locator = new ActiveXObject("WbemScripting.SWbemLocator");
//	            alert("Test12"); 
//	            var service = locator.ConnectServer(".");
//	            var properties = service.ExecQuery("SELECT * FROM Win32_NetworkAdapterConfiguration");
//	            var e = new Enumerator (properties);
//	            document.write("<table border=1>");
//	            document.write("<thead>");
//                document.write("<td>Caption</td>");
//	            document.write("<td>MAC Address</td>");
//	            document.write("</thead>");
//	            for (;!e.atEnd();e.moveNext())
//	            {
//	                var p = e.item ();
//	                document.write("<tr>");
//	                document.write("<td>" + p.Caption + "</td>");
//	                document.write("<td>" + p.MACAddress + "</td>");
//	                document.write("</tr>");
//	            }
//	            document.write("</table>");
//	        }
//	        function Testbyme() {
//	            alert("1");
//	            var strComputer = ".";
//	            var objWMIService = GetObject("winmgmts:\\\\" + strComputer + "\\root\\cimv2");
//	            alert(objWMIService);
//	            var e = new Enumerator(objWMIService.ExecQuery("Select * from Win32_NetworkAdapter", "WQL", 48));

//	            for (; !e.atEnd(); e.moveNext()) {
//	                objItem = e.item();
//	                WScript.Echo("MACAddress: " + objItem.MACAddress)
//	            }


//	        }
//	        function showMacAddress() {

//	            var obj = new ActiveXObject("WbemScripting.SWbemLocator");
//	            alert("Test");
//	            var s = obj.ConnectServer(".");
//	            var properties = s.ExecQuery("SELECT * FROM Win32_NetworkAdapterConfiguration");
//	            var e = new Enumerator(properties);


//	            var output;
//	            output = '<table border="0" cellPadding="5px" cellSpacing="1px" bgColor="#CCCCCC">';
//	            output = output + '<tr bgColor="#EAEAEA"><td>Caption</td><td>MACAddress</td></tr>';
//	            while (!e.atEnd()) {
//	                e.moveNext();
//	                var p = e.item();
//	                if (!p) continue;
//	                output = output + '<tr bgColor="#FFFFFF">';
//	                output = output + '<td>' + p.Caption; +'</td>';
//	                output = output + '<td>' + p.MACAddress + '</td>';
//	                output = output + '</tr>';
//	            }

//	            output = output + '</table>';
//	            document.getElementById("box").innerHTML = output;
//	        }
//	        
    </script>

</head>
<body onload="ShowData()">
    <form id="form1" runat="server">
    <div>
        <table>
            <tr>
                <td>
                    MacId
                </td>
                <td>
                    <asp:Label ID="lblArchived" runat="server">
                    </asp:Label>
                </td>
            </tr>
            <tr>
                <td>
                    All Address
                </td>
                <td>
                    <input type="text" id="txtMACAdress" />
                    <input type="text" id="txtIPAdress" />
                    <input type="text" id="txtComputerName" />
                </td>
            </tr>
            
        </table>
    </div>
    <div id="box"  runat="server">
    
    </div>
    </form>
</body>
</html>
