﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test_speed.aspx.cs" Inherits="test_speed" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html><head>



<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Online Spoof - the classic game</title>
		<meta name="description" lang="en" content="Online Spoof. Play the classic game of spoof head to head. " />
		<meta name="keywords" lang="en" content="Online Spoof, Spoof Betting, Horse Racing, Casino Spoof, Spoof Game, Spoof online, bet Spoof" />
        <link rel="stylesheet" type="text/css" href="style.css" />
<script type="text/javascript" language="javascript">
function gotologin()
{
var btnsend = document.getElementById("Btnsubmit");
btnsend.click();
}
</script>



<!-- INPUT: javascript scripts if applicable -->
<!-- START - Set aff_id Cookie --><script type="text/javascript">
function getAffID() {
	var affid = "";
	var query = location.search.substring(1);
	var pairs = query.split("&");

	for(var i = 0; i < pairs.length; i++) {
		var pos = pairs[i].indexOf('=');
		if (pos == -1) continue;
		if (pairs[i].substring(0,pos) =="aff_id") {
			affid = pairs[i].substring(pos+1);
			break;
		}
	}
	return affid;
}

var aff_id = getAffID();

//if nothing in query string, set default value for "rec"
if (aff_id != "") {
	var affexp = "";
	affexp = new Date((new Date()).getTime() + 604800);
	affexp = "; expires=" + affexp.toGMTString();
	path = "; path=/";
	document.cookie = "aff_id=" + aff_id + path + affexp;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
</script>
<script type="text/javascript" language="javascript">
var timerID;
function fncref(){
	 if(timerID!=0) {
		 timerID  = setInterval("showmsg()",500);
	 }
}

function showmsg(){
	var currentTime = new Date();
	var months_long =  new Array ('1','2','3','4',
		   '5','6','7','8','9','10','11',
		   '12')
	var days_long = new Array('Sunday','Monday','Tuesday','Wednesday',
		   'Thursday','Friday','Saturday')
	var day = currentTime.getDay();
	day=days_long[day];
	var month =currentTime.getMonth();
	month=months_long[month];
	var date = currentTime.getDate();
	var year = currentTime.getFullYear();
	//year=year.substr(2,4);
	var time = currentTime.getTime();
	var minutes = currentTime.getMinutes();
	var hours = currentTime.getHours();
	var hour;
	var time="";
		if (minutes < 10)
			minutes = "0" + minutes
		if(hours > 12)
			hour=parseInt(hours)-12;
		else
			hour=parseInt(hours);	
		time=(hour + ":" + minutes + " ")
		
		if(hours > 12){
			hours=parseInt(hours)-12;
			time=time+("PM");
		} else {
			time=time+("AM");
		}
		////cuttent=daydate+" "+ month+" "+year+" "+ "   |  " + time;
		cuttent= date+"/"+month+"/"+year + " | "+time;
	//document.getElementById("sndingDate").Text =cuttent;
	///document.getElementById("settime").innerHTML=cuttent;
	
	document.getElementById("hdndate").value=cuttent;
	///alert(document.getElementById("hdndate").value);
	
}
</script>
<!-- END - Set aff_id Cookie -->
<script src="Scripts/AC_RunActiveContent.js"ype="text/javascript"></script>

<script language="JavaScript" type="text/javascript">
document.write(unescape('%3Cscript language="JavaScript" type="text/javascript" src="' + (('https:' == document.location.protocol) ? 'https:' : 'http:') + '//cbi.boldchat.com/aid/2178106990504207724/bc.cbhs?wdid=5521932250074740&amp;rdid=3362902833177967633"%3E%3C/script%3E'));
</script><script language="JavaScript" type="text/javascript">
bt_showChatHTML('','');
</script>

<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #E9E9E9;
}
-->
</style></head>

<body>

<table width="830" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:'Trebuchet MS',Arial,Helvetica,sans-serif; font-size:12px;">
  <tr>
    <td height="50" align="left" valign="middle" style="font-size:24px; font-weight:bolder; color:#333333;">Broadband speed checker</td>
    <td rowspan="3" align="left" valign="top"><div style="border:1px solid black; width:160px; float:right; margin-left:20px; height:315px;">
      <script language="JavaScript" type="text/javascript">
	AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0','width','160','height','315','id','AuditMyPcSpeedTestSBv108','align','middle','src','AuditMyPcSpeedTestSBv108','quality','high','bgcolor','#ffffff','name','AuditMyPcSpeedTestSBv108','allowscriptaccess','sameDomain','allowfullscreen','false','pluginspage','http://www.adobe.com/go/getflashplayer','movie','AuditMyPcSpeedTestSBv108' ); //end AC code
    </script>
      <noscript>
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="160" height="315" id="AuditMyPcSpeedTestSBv108" align="middle">
          <param name="allowScriptAccess" value="sameDomain" />
          <param name="allowFullScreen" value="false" />
          <param name="movie" value="AuditMyPcSpeedTestSBv108.swf" />
          <param name="quality" value="high" />
          <param name="bgcolor" value="#ffffff" />
          <embed src="AuditMyPcSpeedTestSBv108.swf" quality="high" bgcolor="#ffffff" width="160" height="315" name="AuditMyPcSpeedTestSBv108" align="middle" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" /></embed>
          </embed>
        </object>
        </noscript>
    </div></td>
  </tr>
  <tr>
    <td height="40" align="left" valign="middle" style="font-size:18px; color:#666666;">Having download problems or you suspect that your broadband is slow? </td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="650" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top">Just use the broadband speed tester on the right. <br />
              <br />
          If the download speed is less than 1Mbps then you have a slow internet speed.<br />
          If the download speed is greater that 1Mbps but less than 3Mbps then you have a slow to average internet speed.<br />
          If the download speed is greater that 3Mbps but less than 5Mbps then you have a pretty quick internet speed.<br />
          If the download speed is greater that 5Mbps then you have a blisteringly fast internet speed. </td>
      </tr>
    </table></td>
  </tr>
</table>
</body>

</html>