<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TestDesktop.aspx.cs" Inherits="TestDesktop" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form  name="channel355391844" action="https://secure.logmeinrescue.com/Customer/Download.aspx" method="post">
    
    <table>
        <tr><td>Please enter your name: </td><td><input type="text" runat="server" id="name" name="name" maxlength="64" value="Avinash" /></td></tr>
        <tr><td>Custom Field 1: </td><td><input type="text" runat="server" id="comment1" name="comment1" maxlength="512" value="Avinash" /></td></tr>
        <tr><td>Custom Field 2: </td><td><input type="text" runat="server" id="comment2" name="comment2" maxlength="512"  value="Avinash" /></td></tr>
        <tr><td>Custom Field 3: </td><td><input type="text" runat="server" id="comment3" name="comment3" maxlength="256"  value="Avinash" /></td></tr>
        <tr><td>Custom Field 4: </td><td><input type="text" runat="server" id="comment4" name="comment4" maxlength="64"  value="Avinash" /></td></tr>
        <tr><td>Custom Field 5: </td><td><input type="text" runat="server" id="comment5" name="comment5" maxlength="64"  value="Avinash" /></td></tr>
        <tr><td>Custom Field 5: </td><td><input type="text" runat="server" id="comment6" name="company6" maxlength="64" value="Avinash"/></td></tr>
    </table>
 

     <input type="submit"  value="Start Remote Desktop" />

    <input type="hidden"  name="EntryID" value="355391844" />

    <input type="hidden" name="tracking0" maxlength="64" /> <!-- optional -->

    <input type="hidden" name="language" maxlength="5" /> <!-- optional -->
    </form>
</body>
</html>
