<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test_attachment.aspx.cs" Inherits="test_attachment" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <script language="javascript" type="text/javascript">
    
    function GetSize(file){

        var fso=new ActiveXObject("Scripting.FileSystemObject");
        
        alert(fso);

        var f=fso.getFile(file);

        return fso.getFile(file).size;
    }
    function checkFileSize(ctrl){

    alert(ctrl.value);

    //check if file size is > 10 MB


    if(GetSize(ctrl.value)>10485760)//10 MB=10485760 B
    {
        alert('Sorry file size > 10MB');

        ctrl.form.reset();//file grater than 10MB then reset form
    }
    }
 


    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:FileUpload ID="FileUpload1" runat="server" />
        <asp:Button ID="btnSend" runat="server" OnClick="btnSend_Click" Text="Send" /><br />
        <br />
        <input id="File1" type="file" />
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" /><br />
        <br />
        <br />
        <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Button" /></div>
    </form>
</body>
</html>
