﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="Admin_LMSAdmin_Default2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:DropDownList ID="ddlEmpList" runat="server" AutoPostBack="true">
    <asp:ListItem Text="Rutuja Kadam" Value="Rutuja Kadam"></asp:ListItem>
    <asp:ListItem Text="Arvind Ghadge" Value="Arvind Ghadge"></asp:ListItem>
    <asp:ListItem Text="Manisha Singla" Value="Manisha Singla"></asp:ListItem>
    <asp:ListItem Text="Chaitali Palsokar" Value="Chaitali Palsokar"></asp:ListItem>
    <asp:ListItem Text="Anisa Chaugule" Value="Anisa Chaugule"></asp:ListItem>
  
    </asp:DropDownList>
    <asp:Button ID="btn" runat="server" Text="Click" OnClick="btn_Click"/>
    </div>
    <div style="background-image:'url(http://esgdesk/images/esglogo1.png)'; width='50px'; height='20px';"></div>


    </form>
</body>
</html>
