@charset "utf-8";
/* CSS Document */

.treeview ul { /*CSS for Simple Tree Menu*/
	margin: 0;
	padding: 0;
}
.treeview li { /*Style for LI elements in general (excludes an LI that contains sub lists)*/
	list-style-type: none;
	padding-left: 22px;
	margin-bottom: 3px;
	background-image: url(img/list.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.treeview li.submenu { /* Style for LI that contains sub lists (other ULs). */
	background:  url(img/closed.gif) no-repeat left 1px;
	cursor: hand !important;
	cursor: pointer !important;
}
.treeview li.submenu ul { /*Style for ULs that are children of LIs (submenu) */
	display: none; /*Hide them by default. Don't delete. */
}
.treeview .submenu ul li { /*Style for LIs of ULs that are children of LIs (submenu) */
	cursor: default;
}
.treeview_div_left {
	margin:20px;
	background:#f3f3f3;
	line-height:25px;
	border:1px solid #999;
	height:820px;
	margin-top:25px;
}
fieldset {
	background-color: #F3F3F3;
	border: 1px solid #999;   
	padding: 10px;

}
.leave_border {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
}
legend{color:#333 !important;}