@charset "utf-8";
/* CSS Document */
@import url("font/texgyreadventor.css");
body
{
	margin: 0;
	padding: 0;
	font-family: "TeXGyreAdventorRegular";
	font-size: 12px;
	color: #333333;
	height: 100%;
	min-width: 1000px;
	background:#EFEFEF;
}

.yellowtext1{
    color: #1D2257;
    font-family: "TeXGyreAdventorRegular";
    font-size: 30px;
}

#pageHeader {
    font-size: 28px;
}

/* ----[ LINKS ]----*/

/* all menu links */
#lmsmenu1 a{
	text-decoration:none;
	display:block;
	color:#FFFFFF !important;
}
#subMenusContainer a{
	text-decoration:none;
	display:block;
	padding:5px 20px;
	background-color:#282c5f  ;

	color:#FFFFFF !important;
}

/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#lmsmenu1 a{
padding:15px;
	margin:0;
	float:left;	
	color:#FFFFFF;
}

/* Just sub menu links */
#subMenusContainer a, #lmsmenu li li a{
	text-align:left;
	color:#FFFFFF !important;
	margin-top:15px;
}

/* All menu links on hover or focus */
#lmsmenu1 a:hover, #lmsmenu a:focus, #lmsmenu a.mainMenuParentBtnFocused,
#lmsmenu1 li a:hover,
#lmsmenu1 li a:focus{
	background: url(../images/navRoll.png) no-repeat center top;
	color:#FFF;
}

/* sub menu links on hover or focus */
#subMenusContainer a:hover, 
#subMenusContainer a:focus, 
#subMenusContainer a.subMenuParentBtnFocused{
	background-color: #0291FF;
    box-shadow: 0 0 20px #131313 inset;
    color: #FFFFFF;
    padding: 5px 20px;
}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn{ 
	background: url(../images/arrow_right.gif) right center no-repeat;  
}

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{ 
	background: url(../images/arrow_right_over.gif) right center no-repeat;  
}

/* Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn{	
	 background: url(../images/arrow_down.gif) right center no-repeat;
	
}

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused{	
	background: url(../images/arrow_down_over.gif) right center no-repeat; 
}

/* ----[ OLs ULs, LIs, and DIVs ]----*/

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{ 
	display:none; 
	position: absolute; 
	overflow:hidden;
	/*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
	padding:0 0px;
	margin:0;
	height:150px;
	margin:-1px 0 0 -2px;
}


/* All ULs and OLs */
#lmsmenu1, #lmsmenu1 ul, #lmsmenu1 ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;


}

/* All submenu OLs and ULs */
#lmsmenu1 ol, #lmsmenu1 ul, #subMenusContainer ul, #subMenusContainer ol {	
	/*border around submenu goes here*/	 

	background:#282c5f;	
	border:1px solid #fff;
	left:0;
	color:#FFFFFF;
}


/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#lmsmenu1 li { 
	/*great place to use a background image as a divider*/
	
	list-style:none;
	position:relative;
	float:left;
	display:inline;
	
}

#subMenusContainer li{
	list-style: none;
	border-bottom:1px solid #fff;
	
}

/* main menu ul or ol elment */
#lmsmenu1{
	display:block;

	list-style:none;
	margin:0 0 0 0;
	z-index:5;
	color:#FFFFFF;
	text-align: center;
	display:block;
}

#subMenusContainer{	display:block; 	position:absolute;	top:0;	left:0;	width:100%;	height:0;	overflow:visible;	z-index:1000000000;}


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#lmsmenu1 li li{	float:none;
margin-top:10px;
}

#lmsmenu1 li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
	color:#FFFFFF;
}

#lmsmenu1 li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	
	color:#FFFFFF;
	top:24px;
	

}

/* third-and-above-level lists */
#lmsmenu1 li ul ul { margin: -1em 0 0 -1000em; 
border:1px solid #ff0000;}
#lmsmenu1 li:hover ul ul {	margin-left: -1000em; 
}

 /* lists nested under hovered list items */
#lmsmenu1 li:hover ul{	margin-left: 0; }
#lmsmenu1 li li:hover ul {	margin-left: 10em; margin-top:-2.5em;}

/* extra positioning rules for limited noscript keyboard accessibility */
/*#lmsmenu1 li a:focus + ul {  margin-left: 0; margin-top:2.2em; }
#lmsmenu1 li li a:focus + ul { left:0; margin-left: 1010em; margin-top:-2.2em;}
#lmsmenu1 li li a:focus {left:0;  margin-left:1000em; width:10em;  margin-top:0;}
#lmsmenu1 li li li a:focus {left:0; margin-left: 2010em; width: 10em;  margin-top:-1em;}
#lmsmenu1 li:hover a:focus{ margin-left: 0; }
#lmsmenu1 li li:hover a:focus + ul { margin-left: 10em; }
*/

.blueBtns {
    background: none repeat scroll 0 0 #282C5F;
    border: medium none;
    color: #FFFFFF;
    padding: 2px 4px;
}

.blueBtns:hover {
    color: #EDC105;
}

.divBorder {
    background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfcfc 0%, #d5d5d5 0%, #ffffff 50%, #fcfcfc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(0%,#d5d5d5), color-stop(50%,#ffffff), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfcfc 0%,#d5d5d5 0%,#ffffff 50%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfcfc 0%,#d5d5d5 0%,#ffffff 50%,#fcfcfc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfcfc 0%,#d5d5d5 0%,#ffffff 50%,#fcfcfc 100%); /* IE10+ */
background: linear-gradient(top,  #fcfcfc 0%,#d5d5d5 0%,#ffffff 50%,#fcfcfc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
border: 1px solid #CDCDCD;
    height: auto;
	/*margin:0 15px 15px;
	padding:15px;*/
   
}


.divBorderhm {
    background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfcfc 0%, #d5d5d5 0%, #ffffff 50%, #fcfcfc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(0%,#d5d5d5), color-stop(50%,#ffffff), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfcfc 0%,#d5d5d5 0%,#ffffff 50%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfcfc 0%,#d5d5d5 0%,#ffffff 50%,#fcfcfc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfcfc 0%,#d5d5d5 0%,#ffffff 50%,#fcfcfc 100%); /* IE10+ */
background: linear-gradient(top,  #fcfcfc 0%,#d5d5d5 0%,#ffffff 50%,#fcfcfc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
border: 1px solid #CDCDCD;

}


.LoginTitle{
color:#FFFFFF;}

.pgtitle{
background:#282c5f;
padding:5px;
color:#ffffff;
margin:30px 15px 0 15px;
}


.blueBtns {
    background: none repeat scroll 0 0 #282C5F;
    border: medium none;
    color: #FFFFFF;
    padding: 2px 4px;
}

.blueBtns:hover {
    color: #EDC105;
}

.tblfont{color:#333333;}

.tblfont a{ color:green;
text-decoration:underline;

}

.tblfont a:hover{ color:#282C5F;
text-decoration:none;
}

.btn005{background-color: rgb(40, 44, 95); border: medium none; color: rgb(255, 255, 255); padding-bottom: 3px; padding-top: 2px; border: 1px solid #1E214A;}


/* start formationg lms page 30 march 2013*/

.view001 td{
	border:1px solid #cdcdcd;
	padding:6px;}
	
	
	.view001 th{
	border:1px solid #008000;
	color:#333333;
	text-decoration:none;
	padding:10px;}
	
	
.view001 th a{
	color:#333333;
	text-decoration:none;}
	
	
.input_boxline{
		border:1px solid #cccccc;
		height:20px;}
		
		
.h2
{
	font-size:30px;
	font-weight: normal;
}
.leave_border
{
	border-right:thin solid #cccccc;
	border-bottom:thin solid #cccccc;
}
.leavetbl td
{
	border:1px solid #999999;
	padding:3px;
}






