.menu
        {
            height: 42px;
            position: relative;
            z-index: 100;
            background: #3E3F3D;
            float: right;
            margin-right: 130px;
            color: #FFFFFF;
        }
        .menu ul
        {
            padding: 0;
            margin: 0;
            list-style-type: none;
			
        }
        .menu li
        {
            list-style: none;
            float: left;
            display: block;
            position: relative;
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
        }
        .menu ul li a
        {
            display: block;
            padding: 0 14px;
            margin: 6px 0;
            line-height: 28px;
            text-decoration: none;
           border-left: 1px solid #3E3F3D;
    border-right: 1px solid #4F5058;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-size: 12px;
            color: #f3f3f3 !important;
            text-shadow: 1px 1px 1px rgba(0,0,0,.6);
            -webkit-transition: color .2s ease-in-out;
            -moz-transition: color .2s ease-in-out;
            -o-transition: color .2s ease-in-out;
            -ms-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;
        }
        .menu ul li ul li a
        {
            width: 140px;
            padding: 0px 0 0px 40px;
            margin: 0;
            line-height: 30px;
            border: none;
            border-bottom: 1px solid #353539;
            height:30px;
			transition: color 0.2s ease-in-out 0s;
        }
		
	
        .menu a, .menu a:hover
        {
            display: block;
            font-size: 12px;
            text-decoration: none;
            color: #01ad55 !important;
            height: 30px;
			transition: color 0.2s ease-in-out 0s;
        }
        .menu ul ul
        {
            visibility: hidden;
            position: absolute;
            height: 0;
            top: 40px;
            left: 0;
            width: 179px;
            background: #3E3F3D;
           /* border: 1px solid #353539;*/
		
        }
        .menu ul ul li
        {
            background: #3E3F3D;
            text-align: left;
        }
        .menu ul ul li:hover
        {
            background: #454545;
            color: #01ad55 !important;
        }
        .menu ul ul ul
        {
            visibility: hidden;
            position: absolute;
            height: 0;
            top: 0;
            left: 146px;
            width: 182px;
        }
        .menu ul ul ul li
        {
            background: #3E3F3D;
            text-align: left;
        width:183px;
        }
        .menu ul ul ul li:hover
        {
            background: #454545;
            color: #01ad55 !important;
        }
        .menu table
        {
            position: absolute;
            top: 0;
            left: 0;
            border-collapse: collapse;
        }
        /* style the table so that it takes no ppart in the layout - required for IE to work */
        .menu ul ul a, .menu ul ul a:visited, .menu ul ul ul a, .menu ul ul ul a:visited
        {
            color: #fff;
            height: 40px;
			transition: color 0.2s ease-in-out 0s;
        }
        .menu a:hover, .menu ul ul li:hover
        {
        }
        .menu :hover > a, .menu ul ul :hover > a, .menu ul ul ul :hover > a
        {
        }
        .menu ul li:hover > ul, .menu ul a:hover ul, .menu ul ul li:hover ul
        {
            visibility: visible;
        }
		
		/* Icons */

.menu a.documents { background: url("../images/docs123.png") no-repeat scroll 6px center transparent; }
.menu a.messages { background: url("../images/arrow123.png") no-repeat 6px center; }
.menu a.taskmessage { background: url("../images/bubble123.png") no-repeat 6px center; }
		