@import url("/web/20151216153159/http://www.gates.esuk.co.uk/class/font/open-sans.css");
body {
	margin: 0 auto;
	text-align: center;
	padding: 0;
	/*line-height: 16px;*/
	/*background: #fff url(/web/20151216153159/http://www.gates.esuk.co.uk/images/bg_toprepeat.gif) repeat-x top left;*/
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	background:#E0E4E7;
	/*overflow-y:scroll;*/
}
::-moz-selection {
background:#4687B8;
color:#FFF;
}
#wrapper {
	width: 940px;
	margin: 0px auto;
	text-align: left;
	font-size: 12px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color: #000000;
}
#wrapper2 {
	width: 950px;
	margin: 0px auto;
	text-align: left;
	font-size: 12px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color: #000000;
}
#wrappersearch {
	width: 1050px;
	margin: 0px auto;
	text-align: left;
	font-size: 12px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color: #000000;
}
/*---top----*/
#index_1 {
	background:url(/web/20151216153159/http://www.gates.esuk.co.uk/mailsite/images/menu_top.jpg) repeat-x left top;
	width:940px;
	height:33px;
}
.logo {
	font-size:40px;
	color:#FFFFFF;
	text-align:center;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	width:332px;
	height:60px;
	margin-top:20px;
	margin-left: 275px;
	float:left;
}
.call1 {
	width:278px;
	float:right;
	/*background:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/contact.jpg) no-repeat top left;*/
	height:56px;
	margin-top:10px;
	color:#FFFFFF;
	font-size:12px;
	text-align:right;
}
.call {
	width:278px;
	float:right;
	/*background:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/contact.jpg) no-repeat top left;*/
	height:56px;
	margin-top:10px;
	color:#FFFFFF;
	font-size:12px;
	text-align:right;
}
.topmenu {
	background:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/menu_top.jpg) left top repeat-x;
	height:32px;
	margin-top:114px;
}
.topmenu_font {
	font-size:14px;
	color:#4687B8;
	text-align:right;
	font-weight:bold;
	margin-right:10px;
	height:20px;
	text-decoration:none;
}
.nopadding a:link, a:visited{
	padding-right:0px !important;
	font-size:18px;
	color:#4687B8;
	text-align:right;
	font-weight:normal;
	margin-right:0px;
	height:20px;
	text-decoration:none;
}
a:link, a:visited.topmenu_font {
	/*padding-right:5px;*/
	font-size:18px;
	color:#4687B8;
	text-align:right;
	font-weight:normal;
	margin-right:0px;
	height:20px;
	text-decoration:none;
}
a:hover.topmenu_font {
	padding-right:5px;
	font-size:18px;
	color:#4687B8;
	text-align:right;
	font-weight:bold;
	margin-right:10px;
	height:20px;
	text-decoration:none;
}
/*---left---*/
#leftcol {
	width: 220px;
	float: left;
	padding-left:6px;
	margin-left:6px;
	background-color:#FFFFFF;
	border-left:#999999 dotted 1px;
}
#search {
	background: url('/web/20151216153159/http://www.gates.esuk.co.uk/images/bg_search.gif') repeat-y top;
	width: 220px;
	margin-bottom: 15px;
}
#search h3 {
	background: url('/web/20151216153159/http://www.gates.esuk.co.uk/images/bg_quicksearch.gif') no-repeat left top;
	height: 35px;
	margin-bottom: 18px;
}
#search ol {
	padding: 0 14px;
}
#search li {
	margin-bottom: 5px;
	width: 192px;
	list-style: none !important;
}
#futurebg {
	background:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/future_bg.jpg) left top repeat-y;
}
#futurebg_new {
	background: #CED3D6;
	padding:0 0 10px;
}
#futurebg h1 {
	background:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/feature_p.jpg) top left no-repeat;
	height:39px;
}
.text {
	font-size:11px;
	text-align:left;
	color:#000000;
}
/*-------index------*/
.text_bold {
	font-size:16px;
	color:#4687B8;
	font-weight:bold;
	text-align:left;
}
/*----foot---*/
#footer {
	clear: both;
	background: url('/web/20151216153159/http://www.gates.esuk.co.uk/images/bg_footerrepeat.gif') repeat-x;
	height: 50px;
	font-size: 10px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	margin: 3px 0 0;
}
/*---property---*/
.headwrap {
	border-top: 1px solid #fff;
	background-color: #4687B8;
	padding: 6px 0 6px 10px;
	height:10px;
}
.headwrap3 {
	border-top: 3px solid #F7F7F8;
	background-color:#F7F7F8;
	padding: 6px 0;
	height:10px;
}
.headwrap3 p {
	color:#000000;
	font-size:12px;
	font-style:italic;
	font-weight: bold;
	display: inline;
	padding-left: 10px;
	height:10px;
}
.headwrap2 {
	border-top: 3px solid #E9E9E9;
	background-color:#E9E9E9;
	padding: 6px 0;
	height:10px;
}
.headwrap2 p {
	color: #8f0000;
	font-weight: bold;
	display: inline;
	padding-left: 10px;
	height:10px;
}
.headwrap p {
	color: #fff;
	font-weight: normal;
	display: inline;
	padding-left: 0px;
	height:10px;
	font-size:14px;
}
.lnkarrow2 {
	background: url(/web/20151216153159/http://www.gates.esuk.co.uk/images/icons/arrow2.gif) center left no-repeat;
	font-weight: bold;
	padding: 0 0 0 12px !Important;
	color: #8f0002;
	text-decoration: none;
	font-size:12px;
	text-decoration:underline;
}
a.lnkarrow2 {
	background: url(/web/20151216153159/http://www.gates.esuk.co.uk/images/icons/arrow2.gif) center left no-repeat;
	font-weight: bold;
	padding: 0 0 0 12px !Important;
	color: #8f0002;
	text-decoration: none;
	font-size:12px;
	text-decoration:underline;
}
.lnkarrow1 {
	background: url(/web/20151216153159/http://www.gates.esuk.co.uk/images/icons/arrow2.gif) center left no-repeat;
	font-weight: bold;
	padding: 0 0 0 12px !Important;
	color: #333333;
	text-decoration: none;
	font-size:12px;
	text-align:right;
}
/*---aboutus---*/
.titel {
	font-size:20px;
	color:#770000;
	text-align:left;
	font-weight:bold;
}
.contact_us {
	font-size:12px;
	color:#000000;
	text-align:left;
}
#copyright {
	clear:both;
	background-image:url('/web/20151216153159/http://www.gates.esuk.co.uk/images/bg_footerrepeat.gif');
	background-repeat:repeat-x;
	height:41px;
	width:100%;
}
.modalProgressGreyBackground {
	background:#CCCCCC;
	filter:alpha(opacity=60);
	opacity:0.6;
}
.modalProgressRedBackground {
	background:Red;
	filter:alpha(opacity=60);
	opacity:0.6;
}
.modalPopup {
	text-align:center;
	padding-top: 30px;
	border-style:solid;
	border-width:1px;
	background-color:White;
	width:300px;
	height:50px;
	font-size:16px;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
}
.modalPopup2 {
	text-align:center;
	padding-top: 30px;
	border-style:solid;
	border-width:1px;
	background-color:White;
	width:300px;
	height:50px;
	font-size:16px;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
}
.pager {
	font-size:14px;
	color:#770000;
	font-weight:bold;
	text-align:right;
}
.newsnew1 a:link {
	font-size:24px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color:#780000;
	text-decoration:none;
}
.newsnew1 a:visited {
	font-size:24px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color:#780000;
	text-decoration:none;
}
.newsnew1 a:hover {
	font-size:24px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color:#780000;
	text-decoration:none;
}
.newsnew2 a:link {
	font-size:14px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color:#780000;
	text-decoration:none;
}
.newsnew2 a:visited {
	font-size:14px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color:#780000;
	text-decoration:none;
}
.newsnew2 a:hover {
	font-size:14px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color:#780000;
	text-decoration:none;
}
.texr_newstext a:link {
	font-size:12px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color:#666;
	text-decoration:none;
}
.texr_newstext a:visited {
	font-size:12px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color:#666;
	text-decoration:none;
}
.texr_newstext a:hover {
	font-size:12px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	color:#666;
	text-decoration:none;
}
a {
	outline-style:none;
}
.menu {
	color:#333;
	/*text-align:left;*/
}
.menu li {
	display:inline;
	list-style:none;
	padding:9px;
	font-weight:bold;
}
.menu ul {
	padding-left:0px;
	margin:18px 0 10px;
}
.menu li a {
	color:#333 !important;
	padding-right:0px !important;
	text-shadow: 0 1px #fefefe;
	font-size:21px !important;
}
.menu li a:hover {
	color:#4687B8 !important;
	transition:all 0.25s ease-out 0s;
	-moz-transition: all 0.25s ease-out 0s;
	-o-transition: all 0.25s ease-out 0s;
	-ms-transition: all 0.25s ease-out 0s;
	-webkit-transition: all 0.25s ease-out 0s;
}
.footer_menu {
	color:#333;
	text-align:right;
	float:right;
	padding-left:15px;
	width:84%;
}
.footer_menu li {
	display:inline;
	list-style:none;
	padding:12px;
}
.footer_menu ul {
	padding-left:0px;
	margin:13px 0px;
}
.footer_menu li a {
	font-size:14px !important;
	color:#333;
	padding-right:0px !important;
	font-weight:normal;
}
.span3 {
	width: 270px;
}
[class*="span"] {
 float: left;
 margin-left: 20px;
 min-height: 1px;
}
.service-box {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	border-radius: 0 0 0 0;
	box-shadow: none;
	margin-bottom: 0;
	min-height: 20px;
	overflow: hidden;
	padding: 0;
}
.service-box.blue-style .icon {
	background-color: #4687B8;
}
.service-box .icon {
	border-radius: 70px 70px 70px 70px;
	float: left;
	height: 70px;
	margin: 0 15px 10px 0;
	transition: all 0.3s ease 0s;
	width: 70px;
}
.service-box h2 {
	font-size: 30px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 24px;
	margin: 0;
	overflow: visible;
	padding: 10px 30px 10px 0;
	text-transform: none;
}
.service-box_txt {
	clear: both;
	color: #85929C;
	font-style: italic;
	margin-bottom: 15px;
	padding-right: 32px;
}
.service-box .btn-align {
	text-align: left;
}
.service-box.green-style .icon {
	background-color: #6A8938;
}
.service-box.red-style .icon {
	background-color: #863514;
}
.coloumn li {
	list-style:none;
	/*font-style:italic;*/
	text-shadow:0 1px 4px #C9C9C9;
}
.rows {
	margin:0px auto;
	width:1000px;
}
.coloumn {
	width:300px;
	font-size:15px;
	float:left;
}
.banner {
	background:#CED3D6;
	background-image:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/stripes.png);
	background-repeat:repeat;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #B6B6B6;
}
.block h3 {
	/*background: url(/web/20151216153159/http://www.gates.esuk.co.uk/images/block-header.png) repeat;*/
	/*border-radius: 10px 10px 0 0;*/
	color: #333;
	font-size: 1.33em;
	line-height:32px;
	margin: 0;
	width: 195px;
	font-size:17px;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	border:1px solid #B2B2BC;
	font-weight:normal;
}
.block div.content02 {
	/*background:#F7F7F7;*/
	/*border:1px solid #bbb;*/
	/*border-radius: 0 0 10px 10px;*/
	/*box-shadow: 0 0 6px 0 #DDDDDD;*/
	overflow: hidden;
	width: 194px;
	font-size:13px;
	text-align:left;
	border-top:none;
}
input, textarea, select {
	border: 1px solid #CCCCCC;
	font-size: 12px;
	margin: 0;
	padding: 5px;
	resize: none;
	color:#333;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
}
.searchbutton {
	background:#4687B8;
	color: #FFFFFF;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	font-size: 14px;
	font-weight: normal;
	padding: 6px 67px;
	*padding: 6px 41px;
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #666;
	cursor:pointer;
	text-shadow: 0 1px #5F5F5F;
}
.searchbutton:hover {
	background:#333;
	transition:all 0.25s ease-out 0s;
	-moz-transition: all 0.25s ease-out 0s;
	-o-transition: all 0.25s ease-out 0s;
	-ms-transition: all 0.25s ease-out 0s;
	-webkit-transition: all 0.25s ease-out 0s;
}
.header {
	color:#E0E4E7;
	height:130px;
	border-bottom: 1px solid #B6B6B6;
}
.innerhead {
	width:1000px;
	margin:0px auto;
}
.logo_top {
	width:100%;
	height:65px;
	padding-top:5px;
}
.main_logo {
	float:left;
	width:50%;
	text-align:center;
	margin-left:240px;
}
.contact_top {
	color:#333;
	font-weight:normal;
	float:right;
	width:20%;
	text-align:right;
}
.main_rows {
	background:#D5DADD;
	height:245px;
	color:#333;
	border-top: 1px solid #eee;
	box-shadow: 5px 0 20px #BDBDBD inset;
}
.content {
	background:#E0E4E7;
	font-size:14px;
	color:#333;
}
.inner_content {
	width:1000px;
	margin:0px auto;
	text-align:left;
}
.left_content {
	width:185px;
	float:left;
	margin-bottom:10px;
}
.search_button {
	margin-top:5px;
	display:block;
	text-align:right;
	/*margin-left:94px;*/
/**margin-left:52px;*/
	width:180px;
	padding-bottom: 0px;
}
.middle_content {
	width:1000px;
	margin:10px 0px;
	line-height:22px;
}
.right_content {
	width:198px;
	float:right;
}
.content02 {
	padding-left:0px;
	width:210px;
}
.footer {
	background:#CED2D6;
	height:65px;
	padding:10px 0px;
	color:#333;
	box-shadow: 5px 0 20px #BDBDBD inset;
}
.coloumn li a {
	color:#333 !important;
	text-align:left;
	font-size:13px;
	text-decoration:underline;
}
.coloumn li a:hover {
	text-decoration:none;
	color:#4687B8 !important;
}
.blue img {
	background:#4687B8;
	padding:15px;
	border-radius:70px;
}
.blue img:hover {
	background:#333;
	transition:all 0.25s ease-out 0s;
	-moz-transition: all 0.25s ease-out 0s;
	-o-transition: all 0.25s ease-out 0s;
	-ms-transition: all 0.25s ease-out 0s;
	-webkit-transition: all 0.25s ease-out 0s;
}
.green img {
	background:#6A8938;
	padding:15px;
	border-radius:70px;
}
.green img:hover {
	background:#333;
	transition:all 0.25s ease-out 0s;
	-moz-transition: all 0.25s ease-out 0s;
	-o-transition: all 0.25s ease-out 0s;
	-ms-transition: all 0.25s ease-out 0s;
	-webkit-transition: all 0.25s ease-out 0s;
}
.red img {
	background:#863514;
	padding:15px;
	border-radius:70px;
}
.red img:hover {
	background:#333;
	transition:all 0.25s ease-out 0s;
	-moz-transition: all 0.25s ease-out 0s;
	-o-transition: all 0.25s ease-out 0s;
	-ms-transition: all 0.25s ease-out 0s;
	-webkit-transition: all 0.25s ease-out 0s;
}
.footer_left {
	float:left;
	width:50%;
	font-size:12px;
	text-align:left;
	padding:0px 0px 10px 0px;
}
.footer_left a {
	color:#333 !important;
	font-size:12px !important;
	font-weight:normal !important;
}
.footer_right {
	float:left;
	width:50%;
	font-size:12px;
	text-align:right;
	padding:0px 0px 10px 0px;
}
.footer_right a {
	color:#333 !important;
	font-size:12px !important;
	font-weight:normal !important;
	padding-right:0px !important;
	text-decoration:underline;
}
.footer_right a:hover {
	text-decoration:none;
}
.inner_banner {
	margin:0px auto;
	width:1000px;
	background-image:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/main-banner.png);
	background-repeat:no-repeat;
	height:408px;
	padding-top:10px;
	background-position:0 40px;
	color:#333;
}
.read_more {
	padding-top:20px;
	font-style:normal !important;
}
.footer_logo {
	float:left;
	width:14%;
	text-align:left;
}
.coloumn h3 {
	font-size: 18px;
	font-style: normal;
	font-weight: normal !important;
	margin:8px 0px;
}
.content02 select, option {
	font-size:12px !important;
	color:#5B5B5B !important;
	background:none !important;	
}
.content02 select{
	border: 1px solid #B2B2BC !important;
}
.top_contact {
	font-size:20px;
	float:right;
	background:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/call_icon.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:30px;
}
.email {
	font-size:19px;
	float:right;
	padding-top:2px;
}
.email a {
	color:#333;
}
.languages {
	float:left;
	width:615px;
}
.middle_content a {
	color:#0C4576;
	font-size:14px;
}
.middle_content p {
	margin:10px 0px
}
.mortgage_link {
	height:27px;
	text-align:left;
	vertical-align:middle;
}
.mortgage_link a {
	text-align:right;
	text-decoration:underline;
}
.mortgage_text {
	font-weight:bold;
}
.middle_content input {
	padding:7px;
}
select:focus, textarea:focus, input:focus {
	box-shadow:0 0 1px #4687B8 inset;
	border:1px solid #4687B8;
	transition:all 0.25s ease-out 0s;
	-moz-transition: all 0.25s ease-out 0s;
	-o-transition: all 0.25s ease-out 0s;
	-ms-transition: all 0.25s ease-out 0s;
	-webkit-transition: all 0.25s ease-out 0s;
}
.middle_content h3 {
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	font-size: 30px;
/*	font-weight: bold;*/
	margin: 20px 0;
}
.sitemap h4 {
	font-size: 13px;
	font-weight: normal;
	margin: 5px 0;
	text-shadow: 1px 1px #FFFFFF;
	background-image:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/big-bullets.png);
	background-repeat:no-repeat;
	background-position:0 7px;
	padding-left: 20px;
}
.sitemap h4 a {
	color:#333 !important;
}
.sitemap h4 a:hover {
	color:#4687B8 !important;
}
.sitemap h4 span:hover {
	color:#4687B8 !important;
}
a:hover {
	color:#4687B8 !important;
}
.footer_left span:hover {
	color:#4687B8 !important;
}
.page_heading {
	font-size: 16px;
	font-weight:normal;
	padding-bottom: 10px;
}
.chat {
	float:right;
	width:70px;
	padding-top: 5px;
	background-image:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/chat.png);
	background-repeat:no-repeat;
	background-position:0 8px;
	cursor:pointer;
	font-size:15px;
}
.chat a {
	color:#333;	
	font-size:15px;
}
#divFeaturs li {
	list-style:none !important;
}
.reqdetails {
	background:#4687B8;
	color: #FFFFFF;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	font-size: 13px;
	font-weight: normal;
	padding: 6px 20px !important;
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #666;
	cursor:pointer;
	text-shadow: 0 1px #5F5F5F;
	color:#FFF !important;
}
.reqdetails:hover {
	background:#333;
	transition:all 0.25s ease-out 0s;
	-moz-transition: all 0.25s ease-out 0s;
	-o-transition: all 0.25s ease-out 0s;
	-ms-transition: all 0.25s ease-out 0s;
	-webkit-transition: all 0.25s ease-out 0s;
	color:#FFF !important;
}
.ptpage a {
	color:#333 !important;
}
.ptpage td a {
	-moz-transition: all 0.25s ease-out 0s;
	background: url("/web/20151216153159/http://www.gates.esuk.co.uk/images/button-arrow.png") no-repeat scroll right 0 transparent;
	cursor: pointer;
	height: 28px;
	line-height: 31px;
	padding: 0px 40px 7px 8px;
	text-decoration: none;
	text-decoration:none;
	color:#810000;
	border-bottom:1px solid #cccccc;
	font-weight:normal!important;
	font-size:14px;
	display:block;
	text-align:left;
	width:142px;
}
.ptpage td a:hover {
	color:#f0a901;
	background: url("/web/20151216153159/http://www.gates.esuk.co.uk/images/button-arrow.png") no-repeat scroll right 100% transparent;
	cursor: pointer;
	text-decoration: none;
}
.pd_heading {
	color: #4687B8;
	font-size: 16px;
}
.property_top {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 64px;
	width: 130px !important;
}
.property_top_span {
	font-size: 12px;
	display: none;
	color: #FFFFFF;
	font-weight:normal;
}
.tab-box a.activeLink {
    background: #4687B8;
    border-bottom: 0 none;
    color: #FFFFFF !important;
    padding: 6px 15px !important;
}
.tab-box a {
    outline: medium none;
    padding: 6px 15px !important;
    text-decoration: none;
	background: none repeat scroll 0 0 #333;
    border: 1px solid #666;
    color: #FFFFFF !important;
}
.tab-box a:hover{background:#4687B8;}
.tab-box {
    border-bottom: 1px solid #DDDDDD;
    float: left;
    line-height: 50px;
    margin-left: 9px;
    margin-right: 9px;
    width: 707px;
}

.tabcontent {
    background: none repeat scroll 0 0 #F5F3F3;
    float: left;
    margin-bottom: 10px !important;
    margin-left: 10px;
    margin-right: 9px;
    margin-top: 0;
    min-height: 300px;
    padding: 5px 20px 0;
    width: 91%;
	border:1px solid #ccc;
}
.border_bottom {
    border-bottom: 1px dotted #CCCCCC;
}
#listing {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #666666 -moz-use-text-color #666666 #666666;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    cursor: pointer;
    float: left;
    height: 399px;
    left: 401px;
    overflow: auto;
    position: inherit;
    width: 24%;
}

#resultsTable {
    border-collapse: collapse;
    font-size: 10px;
}
#map_canvas {
    border: 1px solid grey;
    float: left;
    height: 399px;
    width: 74%;
}
.gmnoscreen {
    display: none;
}
.backtosearch a {
    background-image: url("/web/20151216153159/http://www.gates.esuk.co.uk/images/back-to-search.png");
    background-repeat: no-repeat;
    float: right;
    line-height: 15px;
    margin-top: 4px;
    font-size: 14px;
    padding-left: 15px;
}
.backtosearch a:hover {
    background-image: url("/web/20151216153159/http://www.gates.esuk.co.uk/images/back-to-search-hover.png");
    background-repeat: no-repeat;
    color: #F0A901;
    float: right;
    font-size: 14px;
    line-height: 15px;
    margin-top: 4px;
    padding-left: 15px;
    text-decoration: underline;
}

.tabcontent li, .tabcontent ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

.hide { display: none;}

/*map places marker style - added by smita on 29 aug 2012*/
    #map_canvas {
  position: relative;
  width:74%;
  height: 399px;
  float:left;
/*  top: 25px;
  left: 0px;
*/  border: 1px solid grey;
}
#listing {
/*  position: absolute;
*/  width: 24%;
/*	position:relative;
*/  height: 399px;
  overflow: auto;
  left: 401px;
  /*top: 123px;*/
  cursor: pointer;
  float:left;
  position:inherit;
  border:1px solid #666;
  border-right:none;
}
#controls {
/*  width: 200px;
  position: absolute;
  top: 0px;
  left: 400px;
  height: 60px;
  padding: 5px;
  font-size: 12px;*/
}
#controls ul li{ /*display:inline;*/}

.placeIcon {
  width: 16px;
  height: 16px;
  margin: 2px;
}
#resultsTable {
  font-size: 10px;
  border-collapse: collapse;
}
#locationField {
  width: 400px;
  height: 25px;
  top: 0px;
  left: 0px;
  position: absolute;
}
#autocomplete {
  width: 400px;
}
/* end style tag for map places marker */



.bannercontent{
 width:100%;
}


.contentbanner{
margin-top:10px;
}

.contentbanner img{
border:none;
}

/*.controlhrborder{
  width:206px;
 border-top: 1px dotted #CCCCCC;
}*/


.valuationctrl{
 height: 50px;
 width:200px;
 float:right;
 margin-top:10px;
  border-top: 1px dotted #CCCCCC;
}


.valuationclientctrl{
 height: 192px;
 width:200px;
 float:right;
 margin-top:10px;
  border-top: 1px dotted #CCCCCC;
}



.valuationimg{
position:absolute;
   float:left;
   }

.valuationtxt{
font-size: 15px;
    margin-left: 2px;
    margin-top: 9px;
	color:#EF0518;
	}
	
	.valuationtxt a{
    font-size: 15px;
    margin-left: 46px;
    margin-top: 9px;
	color:#EF0518;
	text-decoration:none;
	line-height: 40px;
	}
	
	.valuationtxt a:hover{
	font-size: 15px;
    margin-left: 46px;
    margin-top: 9px;
	color:#00A7BA;
	text-decoration:none;
	line-height: 40px;
	}
	
	.valphone{
	font-size:27px;
	color:#00A7BA;
	}
	
	.maillink{
	color:#333333  !important;
	text-decoration:none  !important;
	}
	
	.maillink:hover{
	color:#00A7BA !important;
	text-decoration:underline  !important;
	}
	
	.contactaddress{
	width:238px;
	float:left;
	}
	
	.contactmap{
	width:470px; 
	float:right; 
	padding-left:10px; 
	border-left:1px dotted #ccc;
	}
	#TabContainer1_Panel3_PreviousPage:hover{color:#fff !important;}
	#TabContainer1_TabPanel1_lnkNext13:hover{color:#fff !important;}
	.more_details a{ color:#4687B8 !important; font-size:12px !important;}
	.more_details{height:90px;}
	
.call1
		{
    background-repeat: no-repeat;
    cursor: pointer;
    height: 140px;
    position: fixed;
    right: 0;
    top: 100px;
    width: 43px;
}
#header {
	position:fixed;
	width:100%;
	left:0;
	right:400px;
	top:0;
	background:transparent;
	height:30px;
	opacity:0.7;
}
.call1:hover
		{
	background-image: url("/web/20151216153159/http://www.gates.esuk.co.uk/images/live_chat_hover.png");}	    
	.block div.content02a {
	/*background:#F7F7F7;*/
	/*border:1px solid #bbb;*/
	/*border-radius: 0 0 10px 10px;*/
	/*box-shadow: 0 0 6px 0 #DDDDDD;
	overflow: hidden;
	width: 194px;*/
	font-size:13px;
	text-align:left;
	border-top:none;
}

	.call
		{
    background-image: url('/web/20151216153159/http://www.gates.esuk.co.uk/images/live_chat.png');
    background-repeat: no-repeat;
    cursor: pointer;
    height: 140px;
    position: fixed;
    right: 0;
    top: 232px;
    width: 43px;
}

.call:hover
		{
    background-image: url("/web/20151216153159/http://www.gates.esuk.co.uk/images/live_chat_hover.png");}
	
	.block div.content02a {
	/*background:#F7F7F7;*/
	/*border:1px solid #bbb;*/
	/*border-radius: 0 0 10px 10px;*/
	/*box-shadow: 0 0 6px 0 #DDDDDD;
	overflow: hidden;
	width: 194px;*/
	font-size:13px;
	text-align:left;
	border-top:none;
}

.content02a{
	padding-left:25px;
	/*width:210px;*/
}
.content02a select, option {
    background: none repeat scroll 0 0 transparent !important;
    color: #5B5B5B !important;
    font-size: 12px !important;
}
.inner_banner1 {
	margin:0px auto;
	width:1000px;
	background-repeat:no-repeat;
	height:408px;
	padding-top:10px;
	color:#333;
}



.rgbutton {
	background:#4687B8;
	color: #FFFFFF;
	font-family: 'OpenSansRegular', "Myriad Pro", Arial, Verdana;
	font-size: 14px;
	font-weight: normal;
	padding: 6px 50px;
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #666;
	cursor:pointer;
	text-shadow: 0 1px #5F5F5F;
}
.rgbutton:hover {
	background:#333;
	transition:all 0.25s ease-out 0s;
	-moz-transition: all 0.25s ease-out 0s;
	-o-transition: all 0.25s ease-out 0s;
	-ms-transition: all 0.25s ease-out 0s;
	-webkit-transition: all 0.25s ease-out 0s;
}


.rg_buy{
	background-image:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/for-sale.jpg);
	width:267px;
	height:106px;
	}
	
.rg_buy:hover{
	background-image:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/for-rent-hover.jpg);
	width:267px;
	height:106px;
	}
	
.rg_rent{
	background-image:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/for-renting.jpg);
	width:267px;
	height:106px;
	}
	
.rg_rent:hover{
	background-image:url(/web/20151216153159/http://www.gates.esuk.co.uk/images/for-sale-hover.jpg);
	width:267px;
	height:106px;
	}	
	
	


