﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Add-glossary.aspx.cs" Inherits="Admin_Glossary" %>

<%@ Register Src="Notifications.ascx" TagName="Notifications" TagPrefix="uc4" %>
<%@ Register Src="../footer.ascx" TagName="footer" TagPrefix="uc1" %>
<%@ Register Src="Admin_Header.ascx" TagName="Admin_Header" TagPrefix="uc2" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Assembly="FreeTextBox" Namespace="FreeTextBoxControls" TagPrefix="FTB" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<title>Add/Edit glossary</title>
<link rel="stylesheet" href="../class/style.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="../class/layout.css" type="text/css" media="screen, projection" />
<script>

    function keypressHandler(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode == 13)
            var btn = document.getElementById('<%=btnAdd.ClientID%>');
        btn.focus();
        btn.click();
    }

</script>
</head>
<body>
<form id="form1" runat="server">
  <div id="wrap" class="container clearfix">
    <uc2:Admin_Header ID="Header1" runat="server" />
    <div class="borderdiv2"> </div>
    <div class="divider4"> </div>
    <div class="middivtest">
      <div>
        <h3 class="htitle">Admin glossary</h3>
      </div>
      <div class="txtabt">
        <div>
          <table>
            <tr>
              <td> Word : </td>
              <td><asp:TextBox ID="txtWord" runat="server" Width="400px" onkeypress="javascript:keypressHandler(event)"></asp:TextBox>
                <asp:RequiredFieldValidator ID="ReqQ" runat="server" ControlToValidate="txtWord"
                        ErrorMessage="Please enter Word." Display="None" ValidationGroup="g1">*</asp:RequiredFieldValidator>
              </td>
            </tr>
            <tr>
              <td colspan="2" height="12"></td>
            </tr>
            <tr>
              <td> Description : </td>
              <td><asp:TextBox ID="txtDesc" runat="server" Width="400px"  TextMode="MultiLine" onkeypress="javascript:keypressHandler(event)"></asp:TextBox>
                <asp:RequiredFieldValidator ID="ReqA" runat="server" ControlToValidate="txtDesc"
                        ErrorMessage="Please enter Description." Display="None" ValidationGroup="g1">*</asp:RequiredFieldValidator>
              </td>
            </tr>
            <tr>
              <td colspan="2" height="12"></td>
            </tr>
            <tr>
              <td colspan="2" align="right"><asp:Button ID="btnAdd" CssClass="button" runat="server" Text="Add" OnClick="btnAdd_Click" ValidationGroup="g1" />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="left"><asp:ValidationSummary ID="ValidationSummary1" runat="server" ShowMessageBox="True"
                        ShowSummary="False" ValidationGroup="g1" />
              </td>
            </tr>
            <tr>
              <td colspan="2"><asp:Label ID="lblMsg" runat="server" ForeColor="Red"></asp:Label>
              </td>
            </tr>
          </table>
          <table width="100%">
            <tr>
              <td colspan="2"><asp:Label ID="lblmessageAD" runat="server" ForeColor="Red"></asp:Label>
                <asp:SqlDataSource ID="SqlDataSource1" runat="server" >
                  <UpdateParameters>
                    <asp:Parameter Name="ID" />
                  </UpdateParameters>
                  <DeleteParameters>
                    <asp:Parameter Name="ID" />
                  </DeleteParameters>
                </asp:SqlDataSource>
                <asp:GridView
                ID="GridView1"  runat="server" AllowSorting="True" AutoGenerateColumns="False" CausesValidation="false" 
                AutoGenerateDeleteButton="True" BackColor="White"
                BorderColor="#39436f" AutoGenerateEditButton="True" BorderStyle="Solid" 
                BorderWidth="1px" CellPadding="3"
                DataSourceID="SqlDataSource1" OnRowDeleting="GridView1_RowDeleting" 
                DataKeyNames="ID"  Font-Size="Small" Font-Strikeout="False" Font-Underline="False"
                OnRowDataBound="GridView1_RowDataBound" 
                ShowFooter="True" Width="992px" AllowPaging="True" PageSize="20" 
                onrowupdating="GridView1_RowUpdating" EnableModelValidation="False" 
                 onrowediting="GridView1_RowEditing" HeaderStyle-BackColor="#39436e" HeaderStyle-ForeColor="#ffffff" HeaderStyle-CssClass="faqques" CssClass="faqtbl">
                  <FooterStyle BackColor="White" ForeColor="#000066"/>
                  <Columns>
                  <asp:BoundField DataField="ID" HeaderText="ID" ReadOnly="True" SortExpression="ID" />
                  <asp:TemplateField HeaderText="Word" SortExpression="Word" >
                    <EditItemTemplate>
                      <asp:TextBox ID="TextBox1" Width="165px" runat="server" Text='<%# Bind("Word")%>' CausesValidation="false" Height="300%"></asp:TextBox>
                    </EditItemTemplate>
                    <ItemTemplate><%# ((string)Eval("Word")).Replace("|@", "'") %> </ItemTemplate>
                  </asp:TemplateField>
                  <asp:TemplateField HeaderText="Description" SortExpression="Desc">
                    <EditItemTemplate>
                      <asp:TextBox ID="TextBox2" Width="662px" MaxLength="250" runat="server" Text='<%# Bind("Desc")%>'  CausesValidation="false" TextMode="MultiLine"></asp:TextBox>
                    </EditItemTemplate>
                    <ItemTemplate><%# ((string)Eval("Desc")).Replace("|@", "'")%> </ItemTemplate>
                  </asp:TemplateField>
                  <%--  <asp:CheckBoxField DataField="ID" HeaderText="Select multiple"  SortExpression="ID" />--%>
                  </Columns>
                  <RowStyle ForeColor="Black" />
                  <SelectedRowStyle BackColor="#669999" Font-Bold="True" ForeColor="White" />
                  <PagerStyle BackColor="White" ForeColor="#39436f" Font-Size="Medium" HorizontalAlign="Left" />
                  <HeaderStyle Font-Bold="True" ForeColor="#39436f" />
                  <EditRowStyle HorizontalAlign="Left" VerticalAlign="Middle" Wrap="False" />
                  <PagerSettings Mode="NumericFirstLast" Position="TopAndBottom" />
                </asp:GridView>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="footlogo">
      <div class="divider"> </div>
      <div class="divider2"> </div>
      <uc1:footer ID="Footer1" runat="server" />
    </div>
  </div>
</form>
</body>
</html>
