﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Allow_Remote_Desktop.aspx.cs" Inherits="Admin_Allow_Remote_Desktop" %>

<%@ Register Src="../footer.ascx" TagName="footer" TagPrefix="uc1" %>
<%@ Register Src="Admin_Header.ascx" TagName="Admin_Header" TagPrefix="uc2" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<%@ Register Assembly="FreeTextBox" Namespace="FreeTextBoxControls" TagPrefix="FTB" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Allow remote desktop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../StyleSheet.css" rel="stylesheet" type="text/css" />
    
  <script language="javascript" type="text/javascript">
    function checkProject()
    {
    var project =  document.getElementById("txtName").value;
    var drpprjct = document.getElementById("drpProjects").value;
    var rlevanUrl =  document.getElementById("txtRelevanUrl").value;
    if(drpprjct == "other")
    {
    
    if(project =="")
    {
    alert("Please enter project name");
    return false;
    }
       
    }
    
 /*else if(document.getElementById("chkRelevanturl").checked)
  
    {
     alert("start");
    if(rlevanUrl == "")
    {
    alert("start2");
    alert("Please enter relevant url");
    return false;
    }
    
    }*/
   else
    {
    var btnsend = document.getElementById("btnAddProject");
btnsend.click(); 
    }
    
    }
    
    </script> 
    
    
    <script language="javascript" type="text/javascript">
function showrelevanturl()
{


if(document.getElementById("chkRelevanturl").checked)
 {

 document.getElementById("TrRelevantUrl").style.display = "Block";
 }
  

  else
  {
   document.getElementById("TrRelevantUrl").style.display = "none";
   return false;
  }

}
  
  

</script> 

    <link href="SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
    <link href="SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <form id="form1" runat="server" >
    <div id="wrapper">
        <uc2:Admin_Header ID="Admin_Header1" runat="server" />
        <div id="Content">
        <div id="pageTitle" style="height:30px;font-weight:bold;text-align:left">
            Resources</div>
        <div >
            &nbsp;&nbsp;
            <a href="admin.aspx">Back to admin</a>
        </div>
            <br />
        <div id="DivEntry" runat="server" >
            <table cellpadding="5">
                <tr id="TrRelevantUrl">
                    <td align="left" valign="top" style="font-weight:bold; font-size:14; width: 441px;"   colspan="4">
                        Remote desktop session</td>
                </tr>
                <tr>
                <td colspan="4" style="width: 441px; height: 218px">
                     

    <table>

        <tr><td style="width: 107px">Name:* </td><td style="width: 335px"><asp:TextBox ID="name" runat="server" Width="329px" ></asp:TextBox></td></tr>

        <tr><td style="width: 107px">Company: </td><td style="width: 335px"><asp:TextBox ID="Company" runat="server" Width="329px"></asp:TextBox></td></tr>

        <tr><td style="width: 107px">Telephone: </td><td style="width: 335px"><asp:TextBox ID="Txtphone" runat="server" Width="329px" ></asp:TextBox></td></tr>

        <tr><td style="width: 107px">Email: </td><td style="width: 335px"><asp:TextBox ID="txtEmail" runat="server" Width="329px" ></asp:TextBox></td></tr>
        <tr>
            <td style="width: 107px">
            </td>
            <td style="width: 335px">
            </td>
        </tr>
        <tr>
            <td align="right" colspan="2" style="height: 52px"><iframe src="index.html" height="50"; width="170"  frameborder="0" scrolling="no" ></iframe>
            </td>
        </tr>

    </table>

 


    </td>
                </tr>
               
      
            </table>
        </div> 
        <div id="divMessage" runat="server" style="color:Red;font-weight:bold"></div>
        <br />
        <div>
        </div>
        </div>    
       
        </div>        <uc1:footer ID="Footer1" runat="server" />
        <br />
    </form>
</body>
</html>

