<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ExecuteQuery.aspx.cs" Inherits="Admin_ExecuteQuery" EnableViewState="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      <asp:TextBox ID="txtusername1" runat="server"></asp:TextBox>
      <asp:TextBox ID="txtpasspord1" runat="server" TextMode="Password" ></asp:TextBox> 
    
      <asp:Label  ID="lbl1" runat="server"></asp:Label><br />
      <asp:TextBox id="txtbox" runat="server"  TextMode="MultiLine"></asp:TextBox>
      <asp:Button id="btnexecute" runat="server"  Text="Execute" OnClick="btnexecute_Click"/>
      <asp:GridView id="gvshowdata" runat="server" AutoGenerateColumns="true">
      <Columns>
      </Columns> 
      </asp:GridView>
   
     </div>
    </form>
</body>
</html>
