﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LoopForCategory.aspx.cs"
    Inherits="Admin_LoopForCategory" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="btnadd" runat="server" Text="Add category" OnClick="btnadd_Click" /><br />
        <br />
        <asp:Label ID="lblerror" runat="server" Style="color: Red"></asp:Label>
    </div>
    </form>
</body>
</html>
