﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SetPathTest.aspx.cs" Inherits="Admin_SetPathTest" %>


<%@ Register TagPrefix="telerik" Namespace="Telerik.Web.UI" Assembly="Telerik.Web.UI" %>
<%@ Register TagPrefix="telerik" Namespace="Telerik.Charting" Assembly="Telerik.Web.UI" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <%--<asp:Label Id="lblpath" runat="server" ></asp:Label>--%>
    <telerik:RadChart ID="RadChart4" runat="server" Height="500px" Width="500px">
                 </telerik:RadChart>
                
    </div>
    </form>
</body>
</html>
