.link {
	cursor:pointer;
	color:#000
}
.link:hover {
	color:#004086;
}
.slider {
	position:relative;
	overflow:hidden;
	
	height:50px;

	
}
.slidercontent {
	position:absolute;
	width:100%;
	top: 2px;
	left: 0px;
}
.slidercontent .upper {
	
}
.section {
	padding:5px 10px 10px;
}
.newsslider {
	position:relative;
	overflow:hidden;
	
	height:95px;
	width:300px;


}
.newsslidercontent {
	position:absolute
}
.newsslidercontent .upper {
	
}
.newssection {
	padding:10px;
	height:75px
}
