<%@ Page Language="C#" AutoEventWireup="true" CodeFile="tes_Modalpopup.aspx.cs" Inherits="Admin_tes_Modalpopup" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script src="SpryMenuBar.js" type="text/javascript"></script>
<link href="SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <style>
    
    
    .modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        <asp:Button ID="Button1" runat="server" Text="Openfirst" />
       
    <cc1:ModalPopupExtender id="ModalPopupExtender1" runat="server" TargetControlID="Button1" PopupControlID="Panel1" DropShadow="true" CancelControlID="Button2" BackgroundCssClass="modalBackground">
</cc1:ModalPopupExtender>
<asp:Panel ID="Panel1" runat="server" Width="755px" Height="500px" BackColor="white" ><div style="Width:755px; heigh;500px; background-color:White; color: black">Open First modalpopup  <asp:Button ID="Button2" runat="server" Text="Close" /></div></asp:Panel>
  <cc1:ModalPopupExtender id="ModalPopupExtender2" runat="server" TargetControlID="Button3" PopupControlID="Panel2" DropShadow="true" CancelControlID="Button4" BackgroundCssClass="modalBackground">
</cc1:ModalPopupExtender>
        <asp:Button ID="Button3" runat="server" Text="OpenSecond" />
       
<asp:Panel ID="Panel2" runat="server" Width="755px" Height="500px"  BackColor="white"  ><div style="Width:755px; heigh;500px;  background-color:White; color: black">Open Secon modalpopup  <asp:Button ID="Button4" runat="server" Text="Close" /></div></asp:Panel>
    </div>
    </form>
</body>
</html>
