﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="TriggerUpload.aspx.cs" Inherits="_Default" %>







<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  
 
  
 <link rel="Stylesheet" type="text/css" href="CSS/uploadify.css" />
 <script type="text/javascript" src="scripts/jquery-1.3.2.min.js"></script>
 <script type="text/javascript" src="scripts/jquery.uploadify.js"></script>
</head>
<body>
        <form id="form1" runat="server">
         
         <div id="divFlash" runat="server">
           <div id="divBackLink" runat="server"></div>
         
           <div id="divMessage" runat="server" style="font-weight: bold; color: red; text-align: left"></div>
            <div style = "padding:40px">
                <asp:FileUpload ID="FileUpload1" runat="server"  />
                  <a href="javascript:$('#<%=FileUpload1.ClientID%>').fileUploadStart()">Start Upload</a>&nbsp; 
           |&nbsp;<a href="javascript:$('#<%=FileUpload1.ClientID%>').fileUploadClearQueue()">Clear</a> 
            </div>
            </div>
             <div id="divAttachment" runat="server" style="text-align:left"> </div>
       
        </form>
</body>
</html>
<script type = "text/javascript">
$(window).load(
    function() {
        $("#<%=FileUpload1.ClientID%>").fileUpload({
        'uploader': 'scripts/uploader.swf',
        'cancelImg': 'images/cancel.png',
        'buttonText': 'Browse Files',
        'script': 'Upload.ashx',
        'folder': 'uploads',
        'fileDesc': 'All Files',
        'fileExt': '*.jpg;*.jpeg;*.gif;*.png;*.txt;*.xml',
        'multi': true,
        'auto': false
    });
   }
);
</script> 
