﻿<%@ WebHandler Language="C#" Class="Upload" %>

using System;
using System.Data;
using System.Configuration;
using System.Collections;
using System.Web;
using System.Web.Security;
using System.Web.UI;
using System.Web.UI.WebControls;
using System.Web.UI.WebControls.WebParts;
using System.Web.UI.HtmlControls;
using System.Web.Mail;
using System.IO;
using System.Web.SessionState;

public class Upload : IHttpHandler,IRequiresSessionState ,   IReadOnlySessionState
{
    
    public void ProcessRequest (HttpContext context) {
       
        context.Response.ContentType = "text/plain";
        context.Response.Expires = -1;
        //try
        //{
            HttpPostedFile postedFile = context.Request.Files["Filedata"];
            
            string UserName =context.Session["admin"].ToString();
            string strId = context.Session["taskid"].ToString();
            string savepath = "";
            string tempPath = "";

            string Pkey = System.Guid.NewGuid().ToString();

            //tempPath = @"uploads1";
            tempPath =@"../Attachment/backup";
            //tempPath = Server.MapPath(Request.ApplicationPath + "\\Attachment");
            //tempPath = System.Configuration.ConfigurationManager.AppSettings["FolderPath"]; 
            savepath = context.Server.MapPath(tempPath);
            string filename = postedFile.FileName;
            if (!Directory.Exists(savepath))
                Directory.CreateDirectory(savepath);

            postedFile.SaveAs(savepath + @"\" + Pkey + "_"  + filename);
          //  context.Response.Write(tempPath + "/" + Pkey + "_" + filename);
          //  object obj = DatabaseHelper.insertTaskAttachment(Int32.Parse(strId), Pkey, filename, "", UserName);

            context.Response.StatusCode = 200;
        //}
        //catch (Exception ex)
        //{
        //    context.Response.Write("Error: " + ex.Message);
        //}
    }
 
    public bool IsReusable {
        get {
            return false;
        }
    }


    int RequestId;
    int id;
    string sql = "";
    string strDownload = "";
    string task_action = "";
    string emailSubject = "";



   


   
}