
#wrapper { width: 940px; margin: 0px auto; text-align: left; font-size: 12px; font-family: arial, verdana; color: #000000;}
#wrapper3 { width: 705px; margin: 0px auto; text-align: left; font-size: 12px; font-family: arial, verdana; color: #000000;}
#wrapper2 { width: 950px; margin: 0px auto; text-align: left; font-size: 12px; font-family: arial, verdana; color: #000000;}
#wrappermap { width: 780px; margin: 0px auto; text-align: left; font-size: 12px; font-family: arial, verdana; color: #000000;}
/*---top----*/
#index_1{background:url(../../mailsite/images/menu_top.jpg) repeat-x left top; width:940px; height:33px;}
.logo{font-size:40px; color:#FFFFFF; text-align:left; font-family:"Times New Roman", Times, serif; width:372px; height:60px; margin-top:30px; float:left; }
.call{
	width:278px;
	float:right;
	background:url(../images/contact.jpg) no-repeat top left;
	height:56px;
	margin-top:20px; color:#FFFFFF;font-size:12px; text-align:right;
}
.topmenu{background:url(../images/menu_top.jpg) left top repeat-x; height:32px; width:940px; margin-top:114px; }
.topmenu_font{   font-size:14px; color:#790000; text-align:right; font-weight:bold; margin-right:10px;   height:20px; text-decoration:none;}
a:link, a:visited.topmenu_font{padding-right:5px;  font-size:14px; color:#790000; text-align:right; font-weight:bold; margin-right:0px;   height:20px; text-decoration:none;}
a:hover.topmenu_font{padding-right:5px;  font-size:18px; color:#790000; text-align:right; font-weight:bold; margin-right:10px;   height:20px; text-decoration:none;}
/*---left---*/
#leftcolProp {width: 220px; float: left; padding-left:3px; margin-left:3px; background-color:#FFFFFF; }
#leftcolNew {width: 220px; float: left;  background-color:#FFFFFF; }
#search { background: url('../images/bg_search.gif') repeat-y top; width: 220px;margin-bottom: 15px; }
#searchNew { width: 220px;}
#search h3 {background: url('../images/bg_quicksearch.gif') no-repeat left top;  height: 35px;margin-bottom: 18px;}
#searchNew h3 {background: url('../images/bg_quicksearch.gif') no-repeat left top;  height:35px;margin-bottom: 5px;}
#searchNew h4 {background: url('../images/bg_quicksearch.gif') no-repeat left top;  height:35px;margin-bottom: 5px;}
#search ol {padding: 0 14px;}
#search li {margin-bottom: 5px; width: 192px; list-style: none !important;}
#futurebg{background:url(../images/future_bg.jpg) left top repeat-y; }
#futurebg h1{background:url(../images/feature_p.jpg) top left no-repeat; height:39px; }
.text{font-size:11px; text-align:left; color:#000000;}

/*-------index------*/
.text_bold{font-size:16px; color:#770000; font-weight:bold; text-align:left;}
.text_bold3{font-size:20px; color:#770000; text-decoration:underline; font-weight:bold; text-align:left;}
.text_bold2{font-size:14px; color:#770000; font-weight:bold; text-align:left;}
.text_boldresult{font-size:12px; font-family:Arial,Helvetica,sans-serif; color:#666666; font-weight:normal; text-align:left;}
/*----foot---*/
#footer {clear: both; background: url('../images/bg_footerrepeat.gif') repeat-x; height: 50px; font-size: 10px; font-family: Arial, Helvetica, sans-serif; margin: 3px 0 0;
}
/*---property---*/
.headwrap {border-top: 3px solid #fcc201; background-color: #8f0000;padding: 6px 0; height:10px;}
.headwrap3 { border-top: 3px solid  #F7F7F8; background-color:#F7F7F8 ;padding: 6px 0; height:10px;}
.headwrap3 p {color:#000000; font-size:12px; font-style:italic; font-weight: bold; display: inline; padding-left: 10px; height:10px;}
.headwrap2 {border-top: 3px solid #E9E9E9 ; background-color:#E9E9E9 ;padding: 6px 0; height:10px;}
.headwrap2 p {color: #8f0000; font-weight: bold; display: inline; padding-left: 10px; height:10px;}
.headwrap p {color: #fff; font-weight: bold; display: inline; padding-left: 10px; height:10px;}
.lnkarrow2 {background: url(../images/icons/arrow2.gif) center left no-repeat;font-weight: bold;padding: 0 0 0 12px !Important;color: #8f0002;text-decoration: none; font-size:12px; text-decoration:underline;}
a.emailUs
  {
    display: block;
    width: 107px;
    height: 29px;
    background: url("../images/street_view_main.gif") no-repeat 0 0;

  }

  a.emailUs:hover
  { 
	display: block;
    width: 107px;
    height: 29px;
    background: url("../images/street_view_over.gif") no-repeat 0 0;
  }
  
  a.ArrangeView
  {
    display: block;
    width: 107px;
    height: 29px;
    background: url("../images/arrange_viewing_main.gif") no-repeat 0 0;

  }

  a.ArrangeView:hover
  { 
	display: block;
    width: 107px;
    height: 29px;
    background: url("../images/arrange_viewing_over.gif") no-repeat 0 0;
  }
  
  a.Fulldetail
  {
    display: block;
    width: 100px;
    height: 29px;
    background: url("../images/full_detail_main.gif") no-repeat 0 0;

  }

  a.Fulldetail:hover
  { 
	 display: block;
    width: 100px;
    height: 29px;
    background: url("../images/full_detail_over.gif") no-repeat 0 0;
  }

a.lnkarrow2 {background: url(../images/icons/arrow2.gif) center left no-repeat;font-weight: bold;padding: 0 0 0 12px !Important;color: #8f0002;text-decoration: none; font-size:12px; text-decoration:underline;}
.lnkarrow1 {background: url(../images/icons/arrow2.gif) center left no-repeat;font-weight: bold;padding: 0 0 0 12px !Important;color: #333333;text-decoration: none;  font-size:12px; text-align:right;}
/*---aboutus---*/
.titel{font-size:20px; color:#770000; text-align:left; font-weight:bold;}
.contact_us{font-size:12px; color:#000000; text-align:left;}
#copyright{clear:both; background-image:url('../images/bg_footerrepeat.gif'); background-repeat:repeat-x; height:41px; width:100%;}
.modalProgressGreyBackground 
{
    background:#CCCCCC;
	filter:alpha(opacity=60);
	opacity:0.6;
}

.modalProgressRedBackground 
{
    background:Red;
	filter:alpha(opacity=60);
	opacity:0.6;
}

.modalPopup
{
    text-align:center;
    padding-top: 30px; 
    border-style:solid; 
    border-width:1px; 
    background-color:White; 
    width:300px; 
    height:50px;
    font-size:16px;
    color:#000000;
    font-weight:bold;
    vertical-align:middle;
}

.modalPopup2
{
    text-align:center;
    padding-top: 30px; 
    border-style:solid; 
    border-width:1px; 
    background-color:White; 
    width:300px; 
    height:50px;
    font-size:16px;
    color:#000000;
    font-weight:bold;
    vertical-align:middle;
}

.pager{font-size:14px; color:#770000; font-weight:bold; text-align:right;}