/* This bit does all the work */
#container 
{
	position: relative; display: block; background-color: #FFFFFF; 
	border-left: 165px solid #FFFFFF; border-right: 165px solid #FFFFFF;
}

#inner 
{
	display: block; margin-left: -165px; margin-right: -165px;
}

#left 
{
	float: left; position: relative; width: 145px; left:0px; padding: 10px;
}

#right 
{
	float: right; position: relative; width: 145px; right: 0px; padding: 10px;
}

#center 
{
	margin-left: 165px; margin-right: 165px; position: relative; display: block; height: 1%;
	border-left: solid 1px #C2C2C2; border-right: solid 1px #C2C2C2; padding: 10px;
}

.clear {clear:both;}
.ques {
color:#bd0c21;
}