body
{
	font-family: Verdana, Tahoma, Sans-Serif;
	font-size: 70%; color: #000000;
	padding: 0px; margin: 0px;
	background-color: #FFFFFF;
}

#print-searchoptions{display:none}
#print-navbar{display:none}
#print-hide{display:none}
.print-hide{display:none}
.print-tel{	display: block;}


.non-print-tel {	display: none; }

.footer {	display: none; }
.copyRight { display: none; }

hr{	width: 100%; height: 1px; background-color: inherit;	color: #C5C7C9;}

/*#### RE-USEABLE STYLES ####*/.picBorder{	border: solid 1px #000000;}.propAddress{	font-family: Verdana, Tahoma, sans-serif;	font-size: 8pt;	color: #84221E;	background-color:inherit;	font-weight: bold;}.propDetails{	font-family: Verdana, Tahoma, sans-serif;	font-size: 8pt;	color: #000000;	background-color: #FFFFFF;}.propPrice{	font-family: Verdana, Tahoma, sans-serif;	font-size: 8pt;	color: #000000;	background-color:inherit;	font-weight: bold;}.propBrief{	width: 100%;	height: 40px;	overflow: hidden;	font-family: Verdana, Tahoma, sans-serif;	font-size: 8pt;	color: #000000;	background-color:inherit;}a.propAdd:link		{ color: #84221E; background-color:inherit; text-decoration: none; font-weight: bold; font-size: 8pt; }a.propAdd:hover  { color: #84221E; background-color:inherit; text-decoration: none; font-weight: bold; font-size: 8pt; }a.propAdd:visited	{ color: #84221E; background-color:inherit; text-decoration: none; font-weight: bold; font-size: 8pt; }a.fullDetails:link		{ color: #84221E; background-color:inherit; text-decoration: none; font-size: 8pt; height: 10px }a.fullDetails:hover		{ color: #84221E; background-color:inherit; text-decoration: none; font-size: 8pt; height: 10px }a.fullDetails:visited	{ color: #84221E; background-color:inherit; text-decoration: none; font-size: 8pt; height: 10px }a.paging:link		{ color: #84221E; background-color:inherit; text-decoration: none; font-size: 8pt; }a.paging:hover		{ color: #84221E; background-color:inherit; text-decoration: none; font-size: 8pt; }a.paging:visited	{ color: #84221E; background-color:inherit; text-decoration: none; font-size: 8pt; }.galleryNav{	border: solid 1px #FFFFFF;	font-family: Verdana, Tahoma, sans-serif;	font-size: 8pt;	color: #000000;	background-color:inherit;}.hr{background-color:inherit;	color: #C5C7C9;}ul	{		margin-left: 0px;		padding-left: 0px;		list-style: none;		line-height: 150%;		margin-top: 0px;		margin-bottom: 0px;	}li	{		padding-left: 10px;		padding-top: 0px;		background-image: url('../images/structure/bullet.gif');		background-repeat: no-repeat;		background-position: 0 6px;	}/*#### RE-USEABLE STYLES ####*/

.printHide	{ display: none; }
.printShow	{ display: block; }