a{ cursor:pointer}
body
{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, Tahoma, Sans-Serif;
	font-size:70%;
	color: #bd0c21;
	background-repeat:repeat-x;
	width: 100%;
	background-position: 0px 0px;
}#summary, #summaryprop,#Mortcaculator, #Desctab, #showimage, #mapTab,#PropertyEPC, #streetTab,#slideshow,#Divefavourites,#DivSendToFrnd, #arrvw, #proprequest, #mortcalc, #Floor{
	position:absolute;
	z-index:2;
	width:662px;
	visibility:hidden;
	margin: 0px;
	padding:1px 0px 0px 1px;
	background-color: #FFFFFF;
	vertical-align:top;
	height:498px;
}

.EntryBody {
	background-image: url(../Images/backgroundbody.jpg);
	background-position: center -165px;
	background-color: #BD0B21;
}
.EntryBody2 {
		background-image: url(../Images/backgroundbody2.jpg);
	background-position: center -165px;
	background-color: #FFFFFF;
}
.EntryBody3 {
	background-image: url(../Images/backgroundbody2.jpg);
	background-position: center -247px;
	background-color: #FFFFFF;
}


a:link		{
	text-decoration: none;
}
a:visited	{
	text-decoration: none;
}

.staffemail				{ text-decoration:underline; }
a.staffemail:link		{ color: #000000; text-decoration: underline; background-color: inherit; }
a.staffemail:visited	{ color: #000000; text-decoration: underline; background-color: inherit; }
a.staffemail:hover		{ color: #073F18; text-decoration: none; background-color: inherit; }

a.officeJumper:link		{ color: #FFFFFF; text-decoration: none; }
a.officeJumper:visited	{ color: #FFFFFF; text-decoration: none; }
a.officeJumper:hover	{ color: #FFFFFF; text-decoration: underline; }


form
{ 
	margin-top: 10px; padding: 0px; margin-bottom: 0px; 
	margin-left: 0px; margin-right: 0px; font-size: 100%;
}

img {border: 0px; }

input 
{
	font-size: 100%;
}

textarea
{
	font-size: 100%; font-family:Arial, Verdana, Tahoma, Sans-Serif;
}

ul	{		margin-left: 0px;		padding-left: 0px;		list-style: none;		line-height: 150%;		margin-top: 0px;		margin-bottom: 0px;	}li	{		padding-left: 10px;		padding-top: 0px;		background-image: url('../images/structure/bullet.gif');		background-repeat: no-repeat;		background-position: 0px 6px;		font-size: 100%;	}

/* END OF DEFAULT STYLES */

#siteContainer /* TO MAKE 100% WIDTH SITE, SET WIDTH TO 100%, AND REMOVE LEFT AND MARGIN-LEFT VALUES */
{
	position: relative; overflow: hidden;
	padding: 0px; width: 100%;
	color: inherit; min-width: 1002px;
}
#siteContainerEntry
{
	width: 100%;
	padding: 0px;
	color: inherit; 
	text-align:center; 
	min-width: 1002px;
}
/* The header and footer */
.header
{
	text-align: left; padding: 25px 10px 15px 20px; color: inherit;
}
.headerInternationalHome
{
	text-align: left; color: inherit;
	background-image:url(../Images/ih-header-bg.gif);
}
.headerFlash
{
	text-align: left; padding: 0px 0px 0px 0px; color: inherit; height:90px;
}

.footer1
{ padding-bottom:10px;
  
}

.footerfixed
{
	width:820px;
}

.footerIH
{
	background-color: #3D69B4; text-align: left; padding: 20px 10px 10px 160px; color:#FFFFFF; 
	border-top: solid 1px #CCCCCC; border-bottom: solid 1px #CCCCCC; height: 80px; color: inherit;
}
.LogoEntry {
	padding-top:38px;
	margin-bottom:27px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-left: 0px;
	vertical-align: bottom;
}
.LogoEntry1 {
	padding-top:5px;
	margin-bottom:5px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-left: 0px;

}
/* HEADER DIVS */

#headerItems
{
	position: relative; height: 62px; /* HEIGHT OF THE LOGO */
}
#headerItemsFlash
{
	position: relative; padding: 25px 20px 15px 20px;
}
#headerItemsInternatioanalHome
{
	position: relative;  padding: 22px 20px 15px 18px; height: 53px; background-image:url(../Images/ih-home-logo.jpg); background-repeat:no-repeat;
}

.logoContainer
{
	border: 0px; position: relative; float: left
}

.telContainer
{
	border: 0px; position: relative; float: right;
}

#navbar
{
	position: relative;
	height: 29px;
	overflow: hidden;
	color: inherit;
	padding-left:20px;
	font-size:100%;
	background-color: #000000;
	margin-bottom: 1px;
}
#navbarEntry
{
	width:70%;
	position: relative;
	height: 48px;
	overflow: hidden;
	color: inherit;
	text-transform:uppercase;
	font-size:99%;
	font-weight: normal;

	
}
#navbarEntry1
{
	width:90%;
	position: relative;
	height: 40px;
	overflow: hidden;
	color: inherit;
	text-transform:uppercase;
	font-size:99%;
	font-weight: normal;
	margin:auto;
}

#navbarIH
{
	width: 100%;
	position: relative;
	height: 29px;
	overflow: hidden;
	color: inherit;
	padding-left:20px;
	text-transform:uppercase;
	font-size:90%;
	background-color:#3D69B4;
	background-color: #000000;
}

.mobileSpaceOnly
{
	width: 100%; height: 6px; background-color: inherit; color: inherit;
}

.navheader
{
	float: left; padding-top: 11px;
}

.navBarItem{ }
.navBarItem:hover{}

a.navBarItem-link:link		{
	color: #FFFFFF;
	text-decoration: none;
	position: relative;
	float: left;
	font-size: 11px;
	margin-top: 8px;
	margin-right: 2px;
	margin-bottom: 6px;
	margin-left: 2px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
}
a.navBarItem-link:visited	{
	color: #FFFFFF;
	text-decoration: none;
	position: relative;
	float: left;
	margin-top: 8px;
	margin-right: 2px;
	margin-bottom: 6px;
	margin-left: 2px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
}
a.navBarItem-link:hover		{
	color: #FFFFFF;
	text-decoration: none;
	position: relative;
	float: left;
	background-color: #FFFFFF;
	color: #BD0B21;
	border-top:1px solid #FFFFFF;
	margin-top: 8px;
	margin-right: 2px;
	margin-bottom: 6px;
	margin-left: 2px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
}

a.navBarItem-linkEntry:link		{ color: #FFFFFF; text-decoration: none; padding: 1px 5px 1px 5px; position: relative; margin: 8px 0px 6px 0px; border-right: solid 1px #C0C0C0; }
a.navBarItem-linkEntry:visited	{ color: #FFFFFF; text-decoration: none; padding: 1px 5px 1px 5px; position: relative; margin: 8px 0px 6px 0px; border-right: solid 1px #C0C0C0; }
a.navBarItem-linkEntry:hover	{ color: #FFFFFF; text-decoration: none; padding: 1px 5px 1px 5px; position: relative; margin: 8px 0px 6px 0px; border-right: solid 1px #C0C0C0; background-color: #000000;  color: #FFFFFF; }

#navbarLeft {
	position: relative; overflow: hidden; color: inherit; padding-left:15px; padding-top:15px; text-transform:uppercase; font-size:90%; border-bottom: solid 1px #CCCCCC; padding-bottom:10px; 
}

#navbarLeftIH {
	position: relative; overflow: hidden; color: inherit; padding-top:20px; padding-left:15px; text-transform:uppercase; font-size:90%; padding-bottom:10px; border-bottom: solid 1px #CCCCCC; 
}

.nav
{
	position: absolute;
	margin-left: -380px;
	left: 50%;
	width:900px;
}
.nav1
{

	position: absolute;
	margin-left: 0px;
	width: 100%;
}

.navBarItemLeft{}
.navBarItemLeft:hover{}

.navBarItem-link-Left			{ color: #FFFFFF; text-decoration: none; padding:5px 0px 5px 0px ; display:block; background-image:url(../Images/arrow-link.gif); background-repeat:no-repeat; background-position:center right; }
a.navBarItem-link-Left:link		{ color: #FFFFFF; text-decoration: none; padding:5px 0px 5px 0px ; display:block; background-image:url(../Images/arrow-link.gif); background-repeat:no-repeat; background-position:center right; }
a.navBarItem-link-Left:visited	{ color: #FFFFFF; text-decoration: none; padding:5px 0px 5px 0px ; display:block; background-image:url(../Images/arrow-link.gif); background-repeat:no-repeat; background-position:center right; }
a.navBarItem-link-Left:hover	{ color: #FFFFFF; text-decoration: none; padding:5px 0px 5px 0px ; display:block; background-image:url(../Images/arrow-link-over.gif); background-repeat:no-repeat; background-position:center right;}

a.navBarItem-link-Left-ih:link		{ color: #FFFFFF; text-decoration: none; padding:5px 0px 5px 0px ; display:block; background-image:url(../Images/arrow-link-ih.gif); background-repeat:no-repeat; background-position:center right; }
a.navBarItem-link-Left-ih:visited	{ color: #FFFFFF; text-decoration: none; padding:5px 0px 5px 0px ; display:block; background-image:url(../Images/arrow-link-ih.gif); background-repeat:no-repeat; background-position:center right; }
a.navBarItem-link-Left-ih:hover		{ color: #FFFFFF; text-decoration: none; padding:5px 0px 5px 0px ; display:block; background-image:url(../Images/arrow-link-over.gif); background-repeat:no-repeat; background-position:center right;}



/* PAGE CLASSES */

h1
{
	color: #84221E; text-decoration: none; margin-top: 10px; margin-bottom: 10px; 
	padding: 0px; font-size: 120%; background-color: inherit;
}

h2
{
	color: #000000; text-decoration: none; margin-top: 5px; margin-bottom: 0px; 
	padding: 0px; font-size: 110%; background-color: inherit;
}

h3
{
	padding: 5px; margin: 0px;
	color: #25422E; font-size: 100%;
}
h4
{
	color: #000000; text-decoration: none; margin-top: 0px; margin-bottom: 0px; 
	padding: 0px; font-size: 110%; background-color: inherit; font-weight:bold;
}

.pagingContainer {
	height:25px;
	padding-top:1px;
	width:840px;
	padding-right:15px;
}

.overseaspagingContainer
{
	height:25px;
	padding-top:10px;
}

#pagingContainerNewHomes {
	height:25px;
	padding-top:1px;
	width:790px; color: #FFFFFF;
	margin-top: -23px;
	position: absolute;
}
#pagingContainerNewHomesFooter {
	height:25px;
	padding-top:1px;
	width:790px; color: #000000;
}

.pagingContainerElite {
	padding-top:1px;
	padding-right:15px;
	width:840px;
}
.pagingContainerBot {
	height:25px;
	padding-top:1px;
	width:820px;
}

#pagingContainerNewHomes a
{
	color: #FFFFFF;
}

.newHomeselectedpage
{
	color: #000000; font-weight: bold;
}

.newHomeselectedpageFooter
{
	color: #073F18; font-weight: bold;
}

.propertiesFound
{
	float: left;
}
.propertiesFoundElite {
	float: left; margin-left:40px; display:inline; margin-top:5px;
}

.pagingBox { float: right; font-size:90%; }

.pagingBoxElite { float: left; font-size:90%; margin-left:40px; display:inline; }

.PagingLink { color:#000000; text-decoration:none; font-weight:normal; }
a.PagingLink:visited { color:#000000; text-decoration:none; font-weight:normal; }
a.PagingLink:link { color:#000000; text-decoration:none; font-weight:normal; }
a.PagingLink:hover { color:#295234; text-decoration:none; font-weight:bold; }

.selectedpage { font-weight:bold; color:#295234; }

.textContainer
{
	margin-top: 10px; margin-bottom: 10px;
}
.textContainerSearchResults
{
	margin-top: 5px; margin-bottom: 20px;
}
.textContainerNewInstructions
{
	margin-top: 10px; margin-bottom: 20px; border-bottom: solid 1px #527966; padding:10px;
}
.textContainerIH
{
	margin-top: 10px; margin-bottom: 20px; border-bottom: solid 1px #527966; padding:10px 20px 10px 10px; background-color:#E3E9F5; border-bottom:solid 1px #7286A9;
}
.textContainerNewInstructionsLetting
{
	margin-top: 10px; margin-bottom: 10px; border-bottom: solid 1px #527966; padding:10px; background-color:#D7D9D8;
}
.textContainerEliteHomesHome
{
	margin-top: 10px; margin-bottom: 10px; border-bottom: solid 1px #527966; padding:10px; background-color:#FFFFFF; border:solid 1px #4F6455; min-height:330px; _height:330px;
}
.textContainerRepton
{
	margin-top: 10px; margin-bottom: 10px; border-bottom: solid 1px #527966; padding:10px; background-color:#FFFFFF; border:solid 1px #4F6455; min-height:330px; _height:330px;
}


.featuredContainer
{
	margin-top: 10px; margin-bottom: 10px; height: 120px;
}

.tblRow
{
	width: 100%; min-height: 35px;
}

.tblTextBoxRow
{
	width: 100%; height: 85px;
}

.tblCellLeft
{
	margin-right: 10px; float: left; height: 25px; padding-top: 7px; width: 150px;
}

.tblCellRight
{
	margin-right: 10px; float: left; height: 25px;
}

.propertyCellLeft
{
	float: left; margin-right: 10px; position: relative;
}

.mobilePropertyCellLeft
{
	float: left; margin-right: 10px; position: relative; width: 60px;
}

.propertyCellLeftSearch
{
	float: left; margin-right:-3px; z-index:101;
}

.mobileRoomHolder
{
	height: 25px; margin-bottom: 5px;
}

.propertyCellRight
{
	float: left; position: relative;
}

.smallImage, .pagingBorder
{
	padding: 0px; border: solid 1px #444444;
}

.smallImageF
{
	padding: 0px; border: solid 1px #444444; margin-top:5px; margin-right:5px;
}

.hr
{
	height: 1px; width: 100%; background-color: #C2C2C2; margin-top: 10px; color: inherit;
}

select
{
	font-family: Arial, Verdana, Calibri, "MS Sans Serif";
	font-size: 12px;
	color:#000000;
	border: solid 1px #B3B3B3;
	width: 110px;
	margin-top: 1px;
	background-color:#FFFFFF;

}

.MortgageSelect
{
	font-family: Arial, Verdana, Tahoma, Sans-Serif; font-size: 90%; color:#1E1A19; border: solid 1px #B3B3B3;
	width: 110px; margin-top: 0px; margin-bottom: 0px; background-color:#FFFFFF; 
}

.textField
{
	width: 110px; margin-top: 5px; margin-bottom: 5px; margin-left: 5px; font-size: 90%; color:#CCCCCC; border: solid 1px #B3B3B3; background-color:#333333; 
}

.photoHolder
{
	width: 411px; height:410px; margin-top: 10px; float:left;
}
.photoHolderEH
{
	width: 411px; height:390px; margin-top: 10px; margin-bottom: 10px; float:left;
}
.photoHolderIH
{
	min-height: 225px; _height:225px; margin-top: 10px; margin-bottom: 10px;
}

#printContainer {
	min-height: 225px; _height:225px; margin-top: 10px; 
}

.Options { margin-top: 20px; margin-bottom: 40px; margin-left:411px; height:380px; border-top: solid 1px #323335; background-color:#C5D0C8;}

.mobilePhotoHolder
{
	width: 100%; height: 75px; margin-top: 10px; margin-bottom: 10px;
}

.mainPic			{ }
.mainPicIH	{ float:left;}
.mainPicFloatLeft	{ float:left; margin-bottom:25px; }
.mainPicSplitter	{ float: left; width: 25px; }


.extraPhotosHolder
{
	 margin-left:-5px;
}

.overseasextraPhotosHolder
{
	 margin-top:3px;
}

.extraPhotosHolderElite
{
	margin-top:6px; padding-left:5px; margin-left:510px;
}

.pagePadding
{
	padding: 20px; 
}

.noResults
{
	_height: 400px; min-height: 400px;
	text-align: center;
}

/* ICONS */

.iconHolder { border-top:solid 1px #475E4E; margin-top:5px; }
.iconHolderNewHomes { border-top:solid 1px #475E4E; border-bottom:solid 1px #475E4E;  margin-top:15px; background-color:#D3DDD5; width:100%; }
.icon
{
	font-size:110%;
}

.iconEH
{
	font-size:110%;
}

.iconLink { border-top:solid 1px #DAF3E0; border-bottom:solid 1px #475E4E; padding:4px 5px 4px 15px; display:block;  }
a.iconLink:visited { border-top:solid 1px #DAF3E0; border-bottom:solid 1px #475E4E; padding:4px 5px 4px 15px; display:block;  }
a.iconLink:link { border-top:solid 1px #DAF3E0; border-bottom:solid 1px #475E4E; padding:4px 5px 4px 15px; display:block;  }
a.iconLink:hover { border-top:solid 1px #DAF3E0; border-bottom:solid 1px #475E4E; background-color:#8EA696; color:#000000; padding:4px 5px 4px 15px; display:block;  }

.iconLinkArrange 
{ 
	border-top:solid 3px #FFFFFF; position: absolute; 
	left: 446px; top: 480px; _width: 369px; min-width: 371px; 
	border-bottom:solid 1px #475E4E; padding:5px 5px 5px 15px; 
	display:block; background-color:#073F18; color:#FFFFFF;  
	_margin-top: 9px; _margin-left: 2px; *top: 467px;
}

a.iconLinkArrange:visited { border-top:solid 3px #FFFFFF; border-bottom:solid 1px #475E4E; padding:5px 5px 5px 15px; display:block; background-color:#073F18; color:#FFFFFF; }
a.iconLinkArrange:link { border-top:solid 3px #FFFFFF; border-bottom:solid 1px #475E4E; padding:5px 5px 5px 15px; display:block; background-color:#073F18; color:#FFFFFF; }
a.iconLinkArrange:hover { border-top:solid 3px #FFFFFF; border-bottom:solid 1px #475E4E; background-color:#073F18; color:#FFFFFF; padding:5px 5px 5px 15px; display:block;  }

.iconLinkNewHomes { background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 18px; display:block; float:left;  }
a.iconLinkNewHomes:visited { background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 18px; display:block; float:left; }
a.iconLinkNewHomes:link { background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 18px; display:block;  float:left;}
a.iconLinkNewHomes:hover { background-color:#8EA696; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; color:#000000; padding:5px 15px 5px 18px; display:block; float:left; }

.iconLinkEliteHomesFirst { background-color:#D3DDD5; border-right: solid 1px #595D5B; padding:5px 15px 5px 10px; display:block; float:left; width: 80px }
a.iconLinkEliteHomesFirst:visited { background-color:#D3DDD5; border-right: solid 1px #595D5B; padding:5px 15px 5px 10px; display:block; float:left; }
a.iconLinkEliteHomesFirst:link { background-color:#D3DDD5; border-right: solid 1px #595D5B; padding:5px 15px 5px 10px; display:block; float:left; }
a.iconLinkEliteHomesFirst:hover { background-color:#8EA696; border-right: solid 1px #595D5B; color:#000000; padding:5px 15px 5px 10px; display:block; float:left; }

.iconLinkEliteHomesEmail { background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 10px; display:block; float:left; width: 120px  }
a.iconLinkEliteHomesEmail:visited { background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 10px; display:block; float:left; }
a.iconLinkEliteHomesEmail:link { background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 10px; display:block; float:left; }
a.iconLinkEliteHomesEmail:hover { background-color:#8EA696; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; color:#000000; padding:5px 15px 5px 10px; display:block; float:left; }

.iconLinkEliteHomes { background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 10px; display:block; float:left; width: 80px  }
a.iconLinkEliteHomes:visited { background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 10px; display:block; float:left; }
a.iconLinkEliteHomes:link { background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 10px; display:block; float:left; }
a.iconLinkEliteHomes:hover { background-color:#8EA696; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; color:#000000; padding:5px 15px 5px 10px; display:block; float:left; }

.iconLinkLandNewHomes { width:120px; background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 18px; display:block; float:left;  }
a.iconLinkLandNewHomes:visited { width:120px;background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 18px; display:block; float:left; }
a.iconLinkLandNewHomes:link { width:120px;background-color:#D3DDD5; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; padding:5px 15px 5px 18px; display:block; float:left; }
a.iconLinkLandNewHomes:hover { width:120px;background-color:#8EA696; border-left:solid 1px #FFFFFF; border-right: solid 1px #595D5B; color:#000000; padding:5px 15px 5px 18px; display:block; float:left; }

.iconLinkLandNewHomesFirst { width:120px; background-color:#D3DDD5; border-right: solid 1px #595D5B; padding:5px 15px 5px 18px; display:block; float:left;  }
a.iconLinkLandNewHomesFirst:visited { width:120px;background-color:#D3DDD5; border-right: solid 1px #595D5B; padding:5px 15px 5px 18px; display:block; float:left; }
a.iconLinkLandNewHomesFirst:link { width:120px;background-color:#D3DDD5; border-right: solid 1px #595D5B; padding:5px 15px 5px 18px; display:block;float:left;  }
a.iconLinkLandNewHomesFirst:hover { width:120px;background-color:#8EA696; border-right: solid 1px #595D5B; color:#000000; padding:5px 15px 5px 18px; display:block; float:left; }

.iconLinkLandNewHomesArrangeView { color:#FFFFFF; background-color:#073F18; border-right: solid 1px #595D5B; padding:2px 15px 2px 20px; display:block; }
a.iconLinkLandNewHomesArrangeView:visited { color:#FFFFFF; background-color:#073F18; border-right: solid 1px #595D5B; padding:2px 15px 2px 20px; display:block; }
a.iconLinkLandNewHomesArrangeView:link { color:#FFFFFF; background-color:#073F18; border-right: solid 1px #595D5B; padding:2px 15px 2px 20px; display:block; }
a.iconLinkLandNewHomesArrangeView:hover { color:#FFFFFF; background-color:#073F18; border-right: solid 1px #595D5B; padding:2px 15px 2px 20px; display:block; font-weight: bold; }

.iconLinkNewHomesArrangeView { color:#FFFFFF; background-color:#073F18; border-right: solid 1px #595D5B; padding:2px 10px 2px 10px; display:block; }
a.iconLinkNewHomesArrangeView:visited { color:#FFFFFF; background-color:#073F18; border-right: solid 1px #595D5B; padding:2px 10px 2px 10px; display:block; }
a.iconLinkNewHomesArrangeView:link { color:#FFFFFF; background-color:#073F18; border-right: solid 1px #595D5B; padding:2px 10px 2px 10px; display:block; }
a.iconLinkNewHomesArrangeView:hover { color:#FFFFFF; background-color:#073F18; border-right: solid 1px #595D5B; padding:2px 10px 2px 10px; display:block; font-weight: bold; }

/* FOOTER CLASSES */

.branchHolder
{
	float: left; text-align: center; width: 25%; color:#FFFFFF;
}

.copyRight
{
	padding: 20px;
	background-color: #000000;
	text-align: right;
	color: #999999;
	height:60px;
	font-size:90%;
	font-family: Arial, Verdana, Tahoma, sans-serif;
}
.copyRightCE
{
	text-align: center;
	color: #FFFFFF;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
a.copyRightCE
{
	text-align: center;
	color: #FFFFFF;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}

a.copyRightCE:hover
{
	text-align: center;
	color: #BD0B21;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	background-color:#FFFFFF;
}



.copyRightCE a{
	color: #FFFFFF;
}
.footerselected a{
	background-color: #FFFFFF;
	color: #BD0B21;
}

.topdate{
	font-family: Arial;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	position:absolute;
	width:300px;
	height:56px;
	text-align:right;
	left: 70%;
	top: 85px;
}
.topdate1{
	font-family: Arial;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	position:absolute;
	width:300px;
	height:56px;
	text-align:right;
	left: 70%;
	top: 45px;
	right:10px
}

.FloatLeft { float:left; }
.FloatRight { float:right; }



.SearchPanelTitle {	
	text-transform:uppercase;
	font-weight:bold;
	color:#FFFFFF;
}
.SearchPanelLeft {
	padding: 10px 10px 10px 10px;
	color:#CCCCCC;
	font-size:90%;
	min-height:195px;
	background-color: #000000;
}
.AdvancedSearch { margin: 3px 0px 0px 0px;  }

.AdvancedSearchLink { color:#CCCCCC; text-decoration:underline; }
a.AdvancedSearchLink:visited { color:#CCCCCC; text-decoration:underline;}
a.AdvancedSearchLink:link { color:#CCCCCC; text-decoration:underline;}
a.AdvancedSearchLink:hover { color:#FFFFFF; text-decoration:none;}

.QuickSearchLeft {
	text-transform:uppercase;
	color:#FFFFFF;
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	font-weight:bold;
	line-height:110%;
	font-size:90%;
	margin-top: 80px;
	padding: 10px
}
.CenterGreyBg {
	background-color:#CCCCCC;
	_height:640px; min-height: 640px;
	margin:0px;
	padding:0px;
}
.CenterGreyBgElite {
	background-color:#E5E5E5;
	height:1%;
	margin:0px;
	padding:20px 25px 20px 25px;
}
.FixCenterContent {
	width:822px;
	padding:15px 15px 15px 15px;
	background-color:#FFFFFF;
	min-height:450px; _height:450px; 
}
.FixCenterContentSR {
	width:822px;
	padding:5px 15px 15px 15px;
	background-color:#FFFFFF;
	min-height:640px; _height:640px; 
}
.FixCenterContentAdvanced {
	width:792px; oveflow: hidden;
	padding:0px 30px 15px 30px;
	background-color:#FFFFFF;
	min-height: 650px; _height: 650px;
}
.FixCenterContentSales {
	width:792px;
	padding:0px 30px 15px 30px;
	background-color:#FFFFFF;
	_height: 630px;
	min-height: 630px;
}


.SearchPanelEntry { color:#FFFFFF; font-size:90%; width:660px; position:relative; margin-left:auto; margin-right:auto; padding-top:25px; height:70px; }
.EntrySearchFloatLeft { float: left; margin-right:10px; text-align:left;}

.QuickSearchPanel { height:70px; margin-top: -40px;}

.WhiteLinkAdvanced { color:#FFFFFF; display:block; text-decoration:underline; padding-top:5px;}
a.WhiteLinkAdvanced:visited { color:#FFFFFF; display:block; text-decoration:underline; padding-top:5px;}
a.WhiteLinkAdvanced:link { color:#FFFFFF; display:block; text-decoration:underline; padding-top:5px;}
a.WhiteLinkAdvanced:hover { color:#BACDC3; display:block; text-decoration:underline; padding-top:5px;}

*html .LandLordsMinusNo { margin-left:-5px; float:left; }

.homesearch
{
	text-align: center;
	font-size:12px;
	margin-left:120px;
}

.homepanel
{
	height: 75px; width: 1180px;
}

/*SITEMAP*/

.sitemapfooter
{
	background-color: #073F18; width: 100%; border-top: #97BEA3;
	border-bottom: #97BEA3; height: 80px; padding-top: 10px;
}

.sitecontainer
{
	padding-left: 60px; padding-top: 40px; padding-bottom: 40px;
		
}
.SalesHomeLinksBelt { background-color:#D3DDD5; border-top: solid 1px #829488; position:relative; margin-left:270px; height:23px; text-align:right; }

#pnlAmount { background-color:#FFFFFF; border:1px solid #000000; width:180px; height:15px; display:none; padding:2px 5px 2px 5px; margin-top:5px; }

.printHide	{ display: block; }
.printShow	{ display: none; }
/*propertysearch page*/
.text_bold{
	font-size:12px;
	color:#BD0B21;
	font-weight:bold;
	text-align:left; 
}
.psearch1{
	background-image: url(../Images/psearch_bg08.jpg);
	background-repeat: repeat-y;
	width: 946px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	margin-top: 8px;
	background-position: center top;
	color: #666666;
}
.psearch2{
	background-image: url(../Images/psearch_bg07.jpg);
	background-repeat:no-repeat;
	background-position: center top;
}
.headwrap{
	
	padding-left: 10px;
	height: 25px;
	padding-top: 5px;
	color: #333333;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 15px;
	font-weight: bold;
}
.propsbody{
	background-image: url(../Images/psearch_bg06.jpg);
	background-repeat: repeat-x;
}
/*left navigation*/
.lmenu1{
	width:190px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../Images/left_menu01_1.jpg) ;
	background-position:right top;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	text-align:left;
}
.lmenu1 a{
	color: #333333;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

.lmenu12A{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	width:25%;
	margin-right: auto;
	margin-left: auto;
	border-left: solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	cursor:pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size:12px;
	padding-top: 8px;
	
}
.lmenu12A a{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}

.lmenu12{
	width:95px;
	margin-right: auto;
	margin-left: auto;
	background-position: left top;
	background-repeat: no-repeat;
	border-left: solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	cursor:pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
}
.lmenu12 a{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.lmenu124{
	font-size:12px;
	width:95px;
	margin-right: auto;
	margin-left: auto;
	background-position: left top;
	background-repeat: no-repeat;
	border-left: solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
    cursor:pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
	color:#333333;
}
.lmenu124 a{
	color:#333333;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.lmenu12 span{
	color: #333333;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}

.lmenu123A{
	width:120px;
	margin-right: auto;
	color: #FFFFFF;
	margin-left: auto;
	background-color:#B40B20;
	background-position: left top;
	background-repeat: no-repeat;
	padding-left:15px;
	cursor:pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
}
.lmenu123A a{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.lmenu123{
	width:95px;
	margin-right: auto;
	margin-left: auto;
	background-color:#B40B20;
	background-position: left top;
	background-repeat: no-repeat;
    cursor:pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
}
.lmenu123 a{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}

.lmenu123 span{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.lmenu1234{
	width:95px;
	margin-right: auto;
	margin-left: auto;
	background-color:#B40B20;
	background-position: left top;
	background-repeat: no-repeat;
    cursor:pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
	font-size: 12px;
}
.lmenu1234 a{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.lmenu1234 span{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}

.lmenu2{
	width:218px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../Images/left_menu03.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	padding-left: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	float:right;
	
}
.lmenu2 a{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.lmenu3{
	background-image: url(../Images/left_menu04.jpg);
	background-position: right top;
	background-repeat: repeat-y;
	padding-left:5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 5px;
	padding-bottom: 10px;
	float:right;
}
.lmenu3 a{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.propertyNavigation {
	height: 25px; width: 250px;
	float:left;
	position:static;
}
.navigationRight {
	text-align: right;
	padding-bottom:5px ;
	padding-left:0px;
	padding-top:5px;
	padding-right:0px;
	margin-bottom:10px; float: right;
	width: 120px; cursor: pointer;
}

.navigationLeft {
	text-align: left; padding: 5px;
	margin-bottom: 10px; float: left;
	width: 120px; cursor: pointer;
}
.navigationLeft a{
	color: #333333;
}
.BlueTxt {
	color:#BD0B21;
	font-weight:bold;
		padding-left:0px;
}
.BlueTxt22{
	color:#BD0B21;
	font-weight:bold;
	font-size:24px;
}
.imgNextProperty {
	width: 108px;
	
}
.nextHeading { display:block; }

.previousHeading { display:block; }
.NextPrevPrice { color:#3E85C6; padding:0px 4px 4px 4px; }
.imgPreviousProperty
{
	width: 108px;
	
}

.transP{
-ms-filter: progid:DXImageTransform.Microsoft.Fade(duration=5, overlap=0.2);
filter:progid:DXImageTransform.Microsoft.Fade(duration=5, overlap=0.2);

}

.navBarItem-static		{ color: #FFFFFF; background-color:#BD0B21;}

.DropDownMenu {
border-top: solid 5px #BD0B21;
background-color:#BD0B21;
	color:#FFFFFF;
	padding: 1px;
    width: 178px; 
	text-align: left; 
	
	left:610px;
    z-index: 10000000;
    position: absolute;
	margin-top:28px;

}

.DropDownMenu1 {
    border-top: solid 5px #BD0B21;
    background-color:#BD0B21;
	color:#FFFFFF;
	padding: 1px;
    width: 150px; 
	text-align: left; 
	
	left:318px;
    z-index: 10000000;
    position: absolute;
	margin-top:25px;

}

a.navBarItem-subLink:link{ color:#FFFFFF; text-align:left; text-decoration: none;  display:block; padding:8px 0px 6px 0px;  background-color:#BD0B21; padding-left:15px;  }

a.navBarItem-subLink:visited{ color:#FFFFFF; text-decoration: none; text-align:left;  display:block; padding:8px 0px 6px 0px;  background-color:#BD0B21; padding-left:15px;}

a.navBarItem-subLink:hover{ color:#BD0B21; text-decoration: none;  display:block; text-align:left; padding:8px 0px 6px 0px; background-color:#FFFFFF; padding-left:15px; }

.click_here{ color:#BD0B21;text-decoration:underline; background-color:#FFFFFF;}

.click_here a:link{ color:#BD0B21; text-decoration:underline; background-color:#FFFFFF;}
.click_here a:visited{ color:#BD0B21; text-decoration:underline; background-color:#FFFFFF;}

.click_here a:hover{ color:#BD0B21; text-decoration:none;  text-align:left;  background-color:#FFFFFF;  }
.lmenu123A span{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}

.lmenu12A span{
	color: #333333;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}


.lmenu12b{
	width:25%;
	margin-right: auto;
	margin-left: auto;
	background-position: left top;
	background-repeat: no-repeat;
	border-left: solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	cursor:pointer;
	color:#333333;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
	font-size: 12px;
}
.lmenu12b a:link{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.lmenu123b{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	width:25%;
	margin-right: auto;
	margin-left: auto;
	background-color:#B40B20;
	background-position: left top;
	background-repeat: no-repeat;
	font-size:12px;
    cursor:pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
	color: #FFFFFF;
}
.lmenu123b a:link{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.lmenu123Ab{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
	width:25%;
	margin-right: auto;
	color: #FFFFFF;
	margin-left: auto;
	background-color:#B40B20;
	background-position: left top;
	background-repeat: no-repeat;
	cursor:pointer;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 8px;
}
.lmenu123Ab a:link{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}
.lmenu12Ab{
	font-family: Arial, Verdana, Tahoma, sans-serif;
	width:25%;
	margin-right: auto;
	margin-left: auto;
	border-left: solid 1px #CCCCCC;
	border-top:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	cursor:pointer;
	margin-top: 0px;
	color:#333333;
	margin-bottom: 0px;
	font-size:12px;
	padding-top: 8px;
	
}
.lmenu12Ab a{
	color: #FFFFFF;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
}