@charset "utf-8";
/* CSS Document */
@import url("font/open-sans.css");
body {
	/*background:#ffffff;*/
	color:#000000;
	font-family: 'OpenSansRegular',"Myriad Pro",Arial,Verdana;
	font-size:12px;
	padding:0;
	margin:0;
	font-weight:normal;
}
ul, li {
	list-style-type:none;
	padding:0;
	margin:0;
}


p {
	text-align:justify;
}

a{outline:none;}


.clear {
	clear:both;
}

#wrapper {
	margin:0 auto;
	
}


#header {
	height:120px;
	margin-top:10px;
}



.header-holder {
	/*padding-top: 29px;*/
}

.header-holder ul li {
	display:inline;
}

.header-holder ul li:first-child a {
	margin: 0;
}


.menubg{ 
	background:url(../images/main_navbg.png) repeat-x center top ; 
	height:41px;
	width:1000px;
	margin:0 auto;
}
.gscript{
margin-left:782px;
    margin-top: -28px;
    padding-right: 5px;
    position: absolute;
	}

.hlogin{color:#FFFFFF;
}


.hlogin:hover{
text-decoration:underline;
}

.header-tag-contact ul li {
	display:inline;
	float:right;
	font-size: 14px;
  
	color:#FFFFFF;
}

.header-tag-contact ul li:first-child {
    float: right;
    margin:0;
	
}

.header-tag-contact ul li.phone {
	background:url(../images/call-icon.png) no-repeat;
	line-height: 32px;
	
	color:#FFFFFF;
	margin-top: 30px;
	height:36px;
}

.logo {
	width:250px;
	height:77px;
	float:left;
	cursor:pointer;
	margin-left: 44px;
    margin-top: 30px;
}

.header-tag-contact ul li .call{
	font-size:22px;
	font-weight:bold;
	margin: 3px 36px 0 42px !important;
}

.headertxt{
	margin: 68px 36px 0 304px !important;
    position: absolute;
}


.headertxt1{
margin: 87px 36px 0 414px !important;
    position: absolute;
}

.headertxt2{
margin: 105px 36px 0 508px !important;
    position: absolute;
	*margin: 105px 36px 0 500px !important;
}




#navbar{
	border: 1px solid #757575;
    height: 26px;
    width:954px;
	margin:0 auto;
	background:#838383;
}



#navbar ul li {
	display: inline;
    float: left;
    height: 26px;
    text-align: center;
    width: 70px;
	
}


#navbar ul li a {
	color: #FFFFFF;
	font-size:13px;
    display: block;
    padding: 4px 0;
    text-decoration: none;
	outline-style:none;
	-moz-transition: background 0.5s ease-out 0s;
	-ms-transition: background 0.5s ease-out 0s;
	-o-transition: background 0.5s ease-out 0s;
	-webkit-transition: background 0.5s ease-out 0s;
	transition: background 0.5s ease-out 0s;
}
#navbar ul li a:hover {
	 text-decoration: none;
	background:#00a7b9;
	height:18px;
	color:#ffffff;
}


.landlordsmnu{
width:84px !important;

}

.valuationmnu{
width:80px !important;
}


.valuationmnu a{
color: #E91B1B !important;
text-shadow:1px 0 0 #fec8cd;
}

.valuationmnu a:hover{
color: #E91B1B !important;
text-shadow:1px 0 0 #ffb6bc;
}


.mortagagesmnu{
width:100px !important;
}

.epcmnu {
width:55px !important;
}

.aboutusmnu {
width:85px !important;
}

.testimonialsmnu{
width:114px !important;
} 

.contactusmnu{
width:95px !important;
} 

.registermnu{
width:60px !important;
}

.banner{
 	height: 364px;
    margin: 0 auto;
    width: 956px;
	margin-top:10px;
	float:none;
		
}

.bannerimage{

	border-left: 1px dotted #CCCCCC;
    border-right: 1px dotted #CCCCCC;
    float: left;
    margin-left: 118px;
    padding: 0 15px;
    width: 601px;
	height:360px;
	*margin-top:10px;
}


.guiding
{
 background: url("../images/guiding-bg.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #00A7BA;
    height: 342px;
    position: absolute;
    width: 100px;
	*margin-top:10px;
}

.guidinglogo{
}


.guidingtxt{
color: #006B77;
font-size: 22px;
margin-top: 8px;
text-align: center;
}


.bordergray{
border-right:1px dotted #cccccc;
}


.searchname{
color:#00a7ba;
line-height:23px;
font-size:16px;
}


.searcharea{
color:#333333;
font-size:12px;
}


.buybutton{
border:1px solid #0b6d78;
color:#00a7ba;
text-decoration:none;
padding:4px 22px;
height:30px;
background: #e8f9fa; /* Old browsers */
background: -moz-linear-gradient(top,  #e8f9fa 0%, #d9f8f9 38%, #d9f8f9 52%, #bdf6f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8f9fa), color-stop(38%,#d9f8f9), color-stop(52%,#d9f8f9), color-stop(100%,#bdf6f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e8f9fa 0%,#d9f8f9 38%,#d9f8f9 52%,#bdf6f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e8f9fa 0%,#d9f8f9 38%,#d9f8f9 52%,#bdf6f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e8f9fa 0%,#d9f8f9 38%,#d9f8f9 52%,#bdf6f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e8f9fa 0%,#d9f8f9 38%,#d9f8f9 52%,#bdf6f9 100%); /* W3C */

}

.buybutton:hover
{
height:30px;
border:1px solid #0b6d78;
color:#00a7ba;
text-decoration:none;
padding:4px 22px;
background: #9ff5f9; /* Old browsers */
background: -moz-linear-gradient(top,  #9ff5f9 0%, #d4f8f9 59%, #e8f9fa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ff5f9), color-stop(59%,#d4f8f9), color-stop(100%,#e8f9fa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9ff5f9 0%,#d4f8f9 59%,#e8f9fa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9ff5f9 0%,#d4f8f9 59%,#e8f9fa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9ff5f9 0%,#d4f8f9 59%,#e8f9fa 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9ff5f9 0%,#d4f8f9 59%,#e8f9fa 100%); /* W3C */
}


.rentbutton{
border:1px solid #0b6d78;
color:#ffffff;
text-decoration:none;
padding:4px 22px;
background: #30b1c3; /* Old browsers */
background: -moz-linear-gradient(top,  #30b1c3 0%, #2eacbd 45%, #2a9cac 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30b1c3), color-stop(45%,#2eacbd), color-stop(100%,#2a9cac)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #30b1c3 0%,#2eacbd 45%,#2a9cac 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #30b1c3 0%,#2eacbd 45%,#2a9cac 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #30b1c3 0%,#2eacbd 45%,#2a9cac 100%); /* IE10+ */
background: linear-gradient(to bottom,  #30b1c3 0%,#2eacbd 45%,#2a9cac 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30b1c3', endColorstr='#2a9cac',GradientType=0 ); /* IE6-9 */
}

.rentbutton:hover
{
border:1px solid #0b6d78;
color:#ffffff;
text-decoration:none;
padding:4px 22px;
background: #209aaa; /* Old browsers */
background: -moz-linear-gradient(top,  #209aaa 0%, #2eacbd 59%, #2eacbd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#209aaa), color-stop(59%,#2eacbd), color-stop(100%,#2eacbd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #209aaa 0%,#2eacbd 59%,#2eacbd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #209aaa 0%,#2eacbd 59%,#2eacbd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #209aaa 0%,#2eacbd 59%,#2eacbd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #209aaa 0%,#2eacbd 59%,#2eacbd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#209aaa', endColorstr='#2eacbd',GradientType=0 ); /* IE6-9 */

}


.serachbuttondiv{
width:206px;
margin-top:10px;
padding-top:10px; 
padding-bottom:10px;
}

.buy{
width:180px;
}

.rent{
margin-left:88px;
width:103px;
}

.serachbutton{
padding:4px 6px;
text-decoration:none;
color:#FFFFFF;
border:1px solid #ae1723;
background: #ef0518; /* Old browsers */
background: -moz-linear-gradient(top,  #ef0518 0%, #e00517 59%, #d40516 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef0518), color-stop(59%,#e00517), color-stop(100%,#d40516)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ef0518 0%,#e00517 59%,#d40516 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ef0518 0%,#e00517 59%,#d40516 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ef0518 0%,#e00517 59%,#d40516 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ef0518 0%,#e00517 59%,#d40516 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0518', endColorstr='#d40516',GradientType=0 ); /* IE6-9 */
}

.serachbutton:hover{
padding:4px 6px;
text-decoration:none;
color:#FFFFFF;
border:1px solid #ae1723;
background: #d40516; /* Old browsers */
background: -moz-linear-gradient(top,  #d40516 0%, #ce020f 59%, #b70508 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d40516), color-stop(59%,#ce020f), color-stop(100%,#b70508)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d40516 0%,#ce020f 59%,#b70508 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d40516 0%,#ce020f 59%,#b70508 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d40516 0%,#ce020f 59%,#b70508 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d40516 0%,#ce020f 59%,#b70508 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d40516', endColorstr='#b70508',GradientType=0 ); /* IE6-9 */
}



.serachbutton:focus{
padding:4px 6px !important;
text-decoration:none !important;
color:#FFFFFF !important;
border:1px solid #ae1723 !important;
background: #d40516 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #d40516 0%, #ce020f 59%, #b70508 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d40516), color-stop(59%,#ce020f), color-stop(100%,#b70508)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d40516 0%,#ce020f 59%,#b70508 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d40516 0%,#ce020f 59%,#b70508 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d40516 0%,#ce020f 59%,#b70508 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #d40516 0%,#ce020f 59%,#b70508 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d40516', endColorstr='#b70508',GradientType=0 ) !important; /* IE6-9 */
}


.bottomarea{
 	height: 74px;
    margin: 18px auto 0;
    width: 956px;
	color:#333333;
}

.bottomcontact{
	position: absolute;
	width: 118px;
}

.bottomicon{
 	margin-left: 144px;
    width: 601px;
}


.bottomphoneno{
 color: #00A7BA;
    float: right;
    font-size: 21px;
    margin-left: 754px;
    width: 173px;
	
}

.bottomicon1{
width:85px; 
position:absolute;
}

.bottomiconname{
margin-top:10px;
}

.bottomiconname a{
 color: #333333;
 text-decoration:none;
}

.bottomiconname a:hover{
 color: #00A7BA;
 text-decoration:none;
}

.mynavigation{
background:url(../images/mynavigation.png) no-repeat;
height:35px;
margin-left: 20px;

}

.mynavigation:hover{
background:url(../images/mynavigationhover.png) no-repeat;
height:35px;

}


.bottomicon2{
width:102px; 
margin-left: 94px;
position:absolute;
}

.mobilewebsite{
background:url(../images/mobilewebsite.png) no-repeat;
height:35px;
margin-left: 30px;

}

.mobilewebsite:hover{
background:url(../images/mobilewebsitehover.png) no-repeat;
height:35px;
}


.bottomicon3{
width:100px; 
margin-left: 198px;
position:absolute;
}

.register{
background:url(../images/register.png) no-repeat;
height:35px;
margin-left: 5px;

}

.register:hover{
background:url(../images/registerhover.png) no-repeat;
height:35px;
}

.bottomicon4{
width:100px; 
margin-left: 265px;
position:absolute;
}

.callback{
background:url(../images/callback.png) no-repeat;
height:35px;
margin-left: 5px;

}

.callback:hover{
background:url(../images/callbackhover.png) no-repeat;
height:35px;
}

.bottomicon5{
width:142px; 
margin-left: 303px;
position:absolute;
}

.reason{
background:url(../images/reason.png) no-repeat;
height:35px;
margin-left: 54px;

}

.reason:hover{
background:url(../images/reasonhover.png) no-repeat;
height:35px;
}

.bottomicon6{
width:142px; 
margin-left: 441px;
position:absolute;
}

.faq{
background:url(../images/login-b.png) no-repeat;
height:35px;
margin-left:0;

}

.faq:hover{
background:url(../images/login-bhover.png) no-repeat;
height:35px;
}

.bottomicon7{
width:120px; 
margin-left: 491px;
position:absolute;
}

.valuation{
background:url(../images/valuation.png) no-repeat;
height:35px;
margin-left: 34px;

}

.valuation:hover{
background:url(../images/valuationhover.png) no-repeat;
height:35px;
}

.bottomiconnameval{
margin-top:10px;
color:#D40516;
}


.bottomiconnameval a{
color:#D40516;
text-decoration:none;
}

.bottomiconnameval{
text-decoration:none;
color:#D40516;
}


.advsearchlink{
color:#00a7ba;
text-decoration:none;
}

.advsearchlink:hover{
color:#00a7ba;
text-decoration:underline;
}

.clink{
color:#000000;
}

.clink:hover{
color:#3BA4B2;
}

.searchbutton{
padding:4px 15px;
border:none !important;
background-color:#f7941e;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color:#ffffff;
text-decoration:none;
cursor:pointer;
}

.searchbutton:hover{
padding:4px 15px;
border:#000000;
background-color:#f7941e;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color:#000000;
text-decoration:none;
cursor:pointer;
}

.search{
	float: right;
    height: 343px;
    margin-top: 0px;
    width: 200px;
}

.fpname{
color:#FFFFFF;
line-height:32px;
font-size:13px;
padding-left:10px;
height:34px;
/* margin-right: 5px;*/
background:url(../images/fpbg.png) repeat-x center top ; 
}

.fpdes{
background:#9ce3e9;
height:209px;
/*margin-right:5px;*/
color:#000000;
}

.fpprice{
background:#8bd0d7;
margin-top:0px;
margin-bottom:5px;
height:26px;
line-height:25px;
padding-left:5px; 


}
.middlediv{
width:958px; 
margin:0 auto;

}
.contentbg{
background:#eeeeee;
padding-bottom:15px;
}	
	
.content{
	color:#000000;
	font-size:12px !important;
	font-family:'OpenSansRegular',"Myriad Pro",Arial,Verdana !important;
    width:720px;
	padding: 0 4px;
	background: none repeat scroll 0 0 #FFFFFF;
	font-weight:normal;
	float:left;
	
}

.rightctrldiv{
float: right;
margin-top: 0px;
width: 188px;
}

.rightctrldivcontent{
float: right;
margin-top: 10px;
width: 206px;
border-left:1px dotted #ccc;

}



.contentheading{
color:#019bad !important;
font-size:16px;
}

.content ul li{
list-style:disc;
}




	

.goog-te-gadget {
    color: #ffffff;
    font-family: arial;
    font-size: 11px;
    white-space: nowrap;
}


.footerline{
  color: #333333;
   width: 936px;
	margin:0 auto;
	font-size:11px;
	
}


.footerline a{
color:#333 !important;
text-decoration:none;
font-size:11px;
}

.footerline a:hover{
color:#00A7BA !important;
text-decoration:underline;
font-size:11px;
}



.readmore{
background:url(../images/read-more.png) no-repeat left top ;
color:#ffffff;
float:right;
margin-top:5px;
width:90px;
height:18px;
text-align:right;
}

.readmore a{
color:#ffffff;
text-decoration:none;

}

.readmore a:hover{
color:#000000;
text-decoration:none;

}

.footerline a {
color:#FFFFFF;
text-decoration:none;
}

.footerline a:hover {
color:#85E9F8;
text-decoration:underline;
}


.button {
    background: -moz-linear-gradient(center top , #1BA0B7 0%, #2e6870 100%) repeat scroll 0 0 transparent;
	background-color:#2e6870;
    border: 1px solid #0F6A7A;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'OpenSansRegular',"Myriad Pro",Arial,Verdana;
    height: 30px;
    padding: 5px;
    text-shadow: 1px 1px 2px #000000;
	text-decoration:none;
}
.button:hover {
    background: -moz-linear-gradient(center top , #149FB7 0%, #197687 100%) repeat scroll 0 0 transparent;
	background-color:#197687;
    border: 1px solid #0F6A7A;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'OpenSansRegular',"Myriad Pro",Arial,Verdana;
    height: 30px;
    padding: 5px;
    text-shadow: 1px 1px 2px #000000;
	text-decoration:none;
}


#site-map {
	padding:0;
	width:180px;
	margin:10px 0 15px 75px;
}

#site-map ul{
    margin:0;
	padding:0;
}

#site-map ul li{
    border-bottom: 1px dashed #3d3d3d;
    border-left: 1px dashed #3d3d3d;
    display: block;
    list-style:none;
    margin: 10px 0 0;
    padding: 5px 10px;
}
#site-map ul li.sub1{
    border-bottom: 1px dashed #3d3d3d;
    border-left: 1px dashed #3d3d3d;
    display: block;
    list-style:none;
    margin: 10px 0 0 30px;
    padding: 5px 0px;
}
	
#site-map ul li a{
    margin:0;
	padding:5px 10px;
	color:#000000;
	text-decoration:none;
	}
	
#site-map ul li a.sub{
    margin:0;
	padding:5px 20px;
	color:#000000;
	}
#site-map ul li a:hover{
	color:#18A3B6;
text-decoration:underline;
	cursor:pointer;
	}
.advance_search a{color:#FFF; font-weight:bold;}
.advance_search a:hover{color:#000;}

.contact a{color:#000000;}
.contact a:hover{color:#3ba4b2 !important; text-decoration:underline;}
.activeproperty:active,focus{color:#FFF !important; background-color:#004E7B; text-decoration:none;}
.moredetails{color:#004E7B; text-decoration:none;}
.moredetails:hover{color:#F7941E !important; text-decoration:none;}

.ptpage{
line-height:30px;
}

.ptpage td{
/*border-bottom:1px solid #999999;*/
}

.ptpage td a{
    -moz-transition: all 0.25s ease-out 0s;
    background: url("../images/button-arrow.png") no-repeat scroll right 0 transparent;
    cursor: pointer;
    height: 29px;
    line-height: 30px;
    padding: 7px 40px 7px 8px;
    text-decoration: none;
	text-decoration:none;
	color:#810000;
	border-bottom:1px solid #cccccc;
	font-weight:normal!important;
	font-size:13px;
	
	
}

.ptpage td a:hover{
  color:#f0a901;
  background: url("../images/button-arrow.png") no-repeat scroll right 100% transparent;
  cursor: pointer;
  text-decoration: none;

}

.pd_heading{
color: #810000;
    font-size: 14px;
	font-weight:bold;
  
}
.kfea{
color:#18A3B6;
font-weight:bold;
}









input, textarea, select {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F0F1F2 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #474747;
    padding: 3px;
	}
	
	input:focus, textarea:focus, select:focus {
    background: none repeat scroll 0 0 #bff7fe !important;
    border: 1px solid #078a9a !important;
    box-shadow: 0 0 0 #EAFBFF inset !important;
    padding: 3px !important;
}
	
	input:hover, textarea:hover, select:hover {
    background: none repeat scroll 0 0 #F0F1F2;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 2px #CCCCCC inset;
    padding: 3px;
}
	
	.advanced-search {
    background: url("../images/advanced-search-bg-icon.png") no-repeat scroll right bottom transparent;
    border: 1px solid #999999;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0 30px 30px;
    width: 645px;
}

.advanced-search h1 {
    background: url("../images/advanced-search-h1.png") no-repeat scroll center bottom transparent;
    color: #F0F1F2;
    margin-top: 0;
    padding: 28px 0 34px;
}

.regbutton {
    background: -moz-linear-gradient(center top , #90d7e6 0%, #4eb8ce 100%) repeat scroll 0 0 transparent;
    border: 1px solid #0F6A7A;
    color: #000;
    cursor: pointer;
    font-family: 'OpenSansRegular',"Myriad Pro",Arial,Verdana;
    height: 30px;
    padding: 5px;
   
}
.regbutton:hover {
    background: -moz-linear-gradient(center top , #4eb8ce 0%, #90d7e6 100%) repeat scroll 0 0 transparent;
    border: 1px solid #0F6A7A;
    color: #000;
    cursor: pointer;
    font-family: 'OpenSansRegular',"Myriad Pro",Arial,Verdana;
    height: 30px;
    padding: 5px;
   
}


.border_bottom {
    border-bottom: 1px dotted #CCCCCC;
}

.tab-box { 
 border-bottom: 1px solid #DDDDDD;
/*    margin-top:10px;
*/	float:left;
/*    padding-bottom: 5px;
*/    width:707px;
	margin-left:9px;
	margin-right:9px;
	line-height:50px;
}
.tab-box a {
  border:1px solid #f0a901;
  color:#ffffff;
  padding: 6px 15px !important;
  text-decoration:none;
  outline:none;
  background:#f0a901; 
  -moz-border-radius: 7px 7px 0px 0;
  -webkit-border-radius: 7px 7px 0px 0;
   
}
.tab-box a:hover {
  border:1px solid #810000;
  color:#ffffff;
  padding: 6px 15px !important;
  text-decoration:none;
   background-color: #f0a901;
 
}
.tab-box a.activeLink { 
  -moz-border-radius: 7px 7px 0px 0;
   padding: 6px 15px !important;
  -webkit-border-radius: 7px 7px 0px 0;
    background: none repeat scroll 0 0 #810000;
    border-bottom: 0 none;
    color: #ffffff;
    /*padding:7px 15px 6px 15px;*/

}
.tabcontent { 
    background: none repeat scroll 0 0 #f5f3f3;
    border-color: -moz-use-text-color #810000 #810000;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    float: left;
    margin-left: 10px;
    margin-right: 9px;
    margin-top: 0;
    min-height: 300px;
    padding: 20px;
    width: 91%;
	border-top:1px solid #810000;
	margin-bottom:10px !important;
	padding-top:5px;
	padding-bottom:0px;
}

.tabcontent li, .tabcontent ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

.hide { display: none;}

/*map places marker style - added by smita on 29 aug 2012*/
    #map_canvas {
  position: relative;
  width:74%;
  height: 399px;
  float:left;
/*  top: 25px;
  left: 0px;
*/  border: 1px solid grey;
}
#listing {
/*  position: absolute;
*/  width: 24%;
/*	position:relative;
*/  height: 399px;
  overflow: auto;
  left: 401px;
  /*top: 123px;*/
  cursor: pointer;
  float:left;
  position:inherit;
  border:1px solid #666;
  border-right:none;
}
#controls {
/*  width: 200px;
  position: absolute;
  top: 0px;
  left: 400px;
  height: 60px;
  padding: 5px;
  font-size: 12px;*/
}
#controls ul li{ /*display:inline;*/}

.placeIcon {
  width: 16px;
  height: 16px;
  margin: 2px;
}
#resultsTable {
  font-size: 10px;
  border-collapse: collapse;
}
#locationField {
  width: 400px;
  height: 25px;
  top: 0px;
  left: 0px;
  position: absolute;
}
#autocomplete {
  width: 400px;
}
/* end style tag for map places marker */



.bannercontent{
 width: 956px;
}


.contentbanner{
margin-top:10px;
}

.contentbanner img{
border:none;
}

/*.controlhrborder{
  width:206px;
 border-top: 1px dotted #CCCCCC;
}*/


.valuationctrl{
 height: 50px;
 width:200px;
 float:right;
 margin-top:10px;
  border-top: 1px dotted #CCCCCC;
}


.valuationclientctrl{
 height: 192px;
 width:200px;
 float:right;
 margin-top:10px;
  border-top: 1px dotted #CCCCCC;
}



.valuationimg{
position:absolute;
   float:left;
   }

.valuationtxt{
font-size: 15px;
    margin-left: 2px;
    margin-top: 9px;
	color:#EF0518;
	}
	
	.valuationtxt a{
    font-size: 15px;
    margin-left: 46px;
    margin-top: 9px;
	color:#EF0518;
	text-decoration:none;
	line-height: 40px;
	}
	
	.valuationtxt a:hover{
	font-size: 15px;
    margin-left: 46px;
    margin-top: 9px;
	color:#00A7BA;
	text-decoration:none;
	line-height: 40px;
	}
	
	.valphone{
	font-size:27px;
	color:#00A7BA;
	}
	
	.maillink{
	color:#333333  !important;
	text-decoration:none  !important;
	}
	
	.maillink:hover{
	color:#00A7BA !important;
	text-decoration:underline  !important;
	}
	
	.contactaddress{
	width:238px;
	float:left;
	}
	
	.contactmap{
	width:470px; 
	float:right; 
	padding-left:10px; 
	border-left:1px dotted #ccc;
	}

.reqdetails:hover {
  background: -moz-linear-gradient(center top , #f0a901 0%, #f0a901 0%, #eaad1d 0%, #e7ad22 100%) repeat scroll 0 0 transparent;
  background-color:#f0a901;
    border: 1px solid #f0a901; 
	color:#FFFFFF !important;
}
.reqdetails {
 background: -moz-linear-gradient(center top , #810000 0%, #810000 0%, #921717 0%, #951a1a 100%) repeat scroll 0 0 transparent;
    border: 1px solid #810000;
	background-color:#810000 ;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF !important;
    float: none !important;
    font-size: 15px;
    height: 28px;
    margin-left: 15px;
    padding: 6px 12px !important;
    text-align: center;
    text-decoration: none;
    width: 146px;
}

.backtosearch{
color:#f0a901;
font-size:13px;
float:right;


}

.backtosearch a{
    background-image: url("../images/back-to-search.png");
    background-repeat: no-repeat;
    color: #810000;
    float: right;
    font-size: 13px;
    line-height: 15px;
    padding-left: 15px;
    text-decoration: none;
	margin-top:4px;
	
}


.backtosearch a:hover {
    background-image: url("../images/back-to-search-hover.png");
    background-repeat: no-repeat;
    color: #f0a901;
    float: right;
    font-size: 13px;
    line-height: 15px;
    padding-left: 15px;
    text-decoration: underline;
	margin-top:4px;

}


.psearchbutton{
 background: -moz-linear-gradient(center top , #148E9E 0%, #148E9E 0%, #1CBDCC 0%, #199FB7 100%) repeat scroll 0 0 transparent;
    border: 1px solid #11627F;
	background-color:#148E9E;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    height: 20px;
    padding-right: 0;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    width: 75px;
}



.psearchbutton:hover{
 background: -moz-linear-gradient(center top , #148E9E 0%, #148E9E 0%, #199FB7 0%, #148E9E 100%) repeat scroll 0 0 transparent;
    border: 1px solid #11627F;
	background-color: #199FB7;
}


.psearchbutton1{
 background: -moz-linear-gradient(center top , #148E9E 0%, #148E9E 0%, #1CBDCC 0%, #199FB7 100%) repeat scroll 0 0 transparent;
    border: 1px solid #11627F;
	background-color:#148E9E;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    height: 20px;
    padding-right: 0;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    width: 75px;
	margin-left:15px;
}



.psearchbutton1:hover{
 background: -moz-linear-gradient(center top , #148E9E 0%, #148E9E 0%, #199FB7 0%, #148E9E 100%) repeat scroll 0 0 transparent;
    border: 1px solid #11627F;
	background-color: #199FB7;
}

.psearcharrangebutton{
 background: -moz-linear-gradient(center top , #148E9E 0%, #148E9E 0%, #1CBDCC 0%, #199FB7 100%) repeat scroll 0 0 transparent;
    border: 1px solid #11627F;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
	background-color:#148E9E;
    float: left;
    font-size: 13px;
    height: 20px;
    padding-right: 0;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    width: 114px;
	margin-left:15px;
}

.psearcharrangebutton:hover{
 background: -moz-linear-gradient(center top , #148E9E 0%, #148E9E 0%, #199FB7 0%, #148E9E 100%) repeat scroll 0 0 transparent;
    border: 1px solid #11627F;
	background-color: #199FB7;
}

.colorfont{
color:#01535e;
}
.asterisk{
color:#FF0000;
}


#news-main {
    padding:3px 9px;
	
	}
	
#news-main img {
padding:3px !important;
border:1px solid #ccc;
background: #ffffff; /* Old browsers */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-os-border-radius: 5px;
-ms-border-radius: 5px;
 max-height: 100px;
max-width: 120px;
}

#news-main ul {
 padding-left:10px;
 }
#news-main td {
   text-align:left;
   vertical-align:top;
   }
   
.changeText 
{
	font-family:Arial;
	color: #00A7BA;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
}
.changeText:hover  {
	color: #018796;
    font-size: 18px;
    font-weight: lighter;
    text-decoration:underline;
}

	.texr_newstext a {
    border-bottom: 1px dotted #00A7BA;
    border-left: 10px solid #00A7BA;
    color: #018796;
    display: block;
    margin: 0;
    padding: 8px 12px !important;
    text-align: left;
    
}

.texr_newstext a:hover {
    background: none repeat scroll 0 0 #F7F7F7;
    border-left: 10px solid #018796;
    color: #333333;
	text-decoration:none
}

.cover-page:hover{
text-decoration:underline  !important;
}
	
.cover-page{
color:#00A7BA !important;
text-decoration:none;
}

.tap2{
float:right;
}
	
	
.menubgactive{
background:#00A7BA;
/*background: -moz-linear-gradient(center top , #017D8B 0%, #006C78 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 -5px 10px #333333 inset;*/
}
.menubgdeactive{
background:#838383;

}

.removefav{
 background: -moz-linear-gradient(center top , #148E9E 0%, #148E9E 0%, #1CBDCC 0%, #199FB7 100%) repeat scroll 0 0 transparent;
    border: 1px solid #11627F;
	background-color:#148E9E;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    height: 20px;
    padding-right: 0;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    width: 155px;
}



.removefav:hover{
 background: -moz-linear-gradient(center top , #148E9E 0%, #148E9E 0%, #199FB7 0%, #148E9E 100%) repeat scroll 0 0 transparent;
    border: 1px solid #11627F;
	background-color: #199FB7;
}