/*
	Juiz DropDown Menu 
	Plugin by Geoffrey Crofte
	http://jq.creativejuiz.fr
	Free for personal use (cc)
	
	More info about license : http://jq.creativejuiz.fr/plugins-jquery/dropdown-menu.php
*/


.juizdropdown {
	position: relative;
	
	line-height: 41px;
	text-align: left;
	
	background:url(../images/main_navbg.png) repeat-x center top ; 
	height:41px;
	width:1000px;
	margin:0 auto;
}
.juizdropdown li {
	position: relative;
	display: inline-block;
	list-style: none;
	
	
}


.menuactive{
color:#85e9f8;
}


.juizdropdown li.first { background: none; }
.juizdropdown a {
	display: inline-block;
	padding: 0 20px 0 22px;
	color: #ffffff;
	border: 0 none;
	text-decoration: none;
	outline: 0 none;
	-moz-transition: all 0.25s ease-out 0s;
}
.juizdropdown a:hover {
color:#63ebfb;

	}
	
	.juizdropdownactivemnu {
	background: -moz-linear-gradient(center top , #017D8B 0%, #006C78 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 -5px 10px #333333 inset;
	-moz-box-shadow:0 -5px 10px #333333 inset;
   -webkit-box-shadow:0 -5px 10px #333333 inset;
   	box-shadow:i0 -5px 10px #333333 inset;
	}
	
/*.juizdropdown a:focus { text-decoration: underline; }
*/

.juizdropdown .juizSub,
.juizdropdown .juizSubSub {
	
	position:absolute;
	padding:0;
	display: none;
	width: 150px;
	height: auto;
	background: #1694AA;
	background: #1694AA;
	background-image: none;
	border: 1px solid #1694AA;
	border-top: 0;
	text-transform: capitalize;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-ms-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	z-index: 2147483647;
	margin-left:0px;
	*margin-left:-100px;
	*margin-top:41px;
	

}




.juizdropdown .juiSub {
	top: 41px; left: 0;
}
.juizdropdown .juizSub li {
	position:relative;
	display: block;
	padding: 0;
	width: auto;
	line-height: 1.3em;
	text-align: left;
	background: none;
}
.juizdropdown .juizSub a {
	display: block;
	width: auto;
	padding: 0.4em 0.4em;
	margin: 0 1em;
	border-top: 1px solid #147f8f;
	background: transparent url(../img/hover.png) scroll -150px 0px no-repeat;
	color: .6d6d6d;
	text-shadow: 1px 1px 0 .fff;
}
.juizdropdown .juizSub li.first a { border-top: 0; } 
.juizdropdown .juizSub li.last a { border-bottom: 0; }

.juizdropdown .juizSubSub {
	right: -150px; top:0;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

/*.juizdropdown .hasSub > a {
	background: url(../img/arrow_down.png) 96% 50% no-repeat;
}
.juizdropdown li.hasSubSub {
	background: transparent url(../img/arrow_right.png) 95% 50% no-repeat;
}
*/
.juizClear { clear: left; height: 0; overflow: hidden; }

@media (max-width:640px) {
	.juisdropdown .juizSubSub {
		display:none;
	}
	.juizdropdown,
	.juizdropdown .juizSub,
	.juizdropdown .juizSub li,
	.juizdropdown .juizSub li a	{
		position:static;
		display: inline-block;
		width: auto;
		height:auto;
		text-align:left;
	}
	.juizdropdown {
		margin: 5px;
		padding: 12px;
	}
	.juizdropdown ul {
		box-shadow: 0 0 0 !important;
		background: none !important;
		border:0 !important;
		border-radius:0 !important;
	}
	.juizdropdown li {
		background-image: none;
	}
	.juizdropdown li a {
		border:0 !important;
		padding-left:0;
	}
	.juizdropdown .juizSub a {
		padding: 0;
		margin: 0;
	}
	.juizdropdown .juizSub li + li {
		padding-left: 12px;
	}
	.juizdropdown .juizSub li + li a:before {
		content: "|";
		position:relative;
		left:-8px;
	}
	.juizdropdown > li {
		display: block;
	}
	.juizdropdown li.hasSubSub {
		background:none;
	}
	.juizdropdown .hasSub {
		line-height: 24px;
	}
	.juizdropdown li + .hasSub {
		margin-top: 12px;
	}
	.juizdropdown .hasSub > a {
		background: transparent url(../img/arrow_right.png) 96% 50% no-repeat;
	}
}