a.tooltip a
{

display:none;
}
a.tooltip:hover a
{
display:inline;
position:absolute;
background:#FFFF99;
border:1px solid silver;
color:maroon;
width:200px;
margin-top:20px;
margin-left:-5px;
font-size:smaller;
line-height:1em;
}