﻿<%@ Page Language="C#" MasterPageFile="~/EsgGallery/AdminMasterMenu.master" AutoEventWireup="true" CodeFile="sharealbum.aspx.cs" Inherits="sharealbum" Title="Share Album"
   ValidateRequest ="false" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<h2>Share Album</h2>
Enter email address your friend, with whom you want to share this album.
<p />
<asp:TextBox id="txtEmail" runat="server" Width="345px" />
    <p />
        Enter text that you want to have as subject for mail.<p />
        <asp:TextBox ID="txtSubject" runat="server" 
            Width="574px"></asp:TextBox>
<p />

    <asp:Button ID="btnSend" runat="server" Text="Submit" onclick="btnSend_Click" />
    <p />
    <asp:Label ID="lblMsg" runat="server"></asp:Label>


</asp:Content>

