﻿<%@ Page Language="C#" MasterPageFile="~/Admin/EsgGallery/AdminMasterMenu.master" AutoEventWireup="true" CodeFile="showalbum1.aspx.cs" Inherits="showalbum"  Trace="false" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

   <style type="text/css">

        .image-holder
        {
            float: left;
            width: 200px;
            height: 220px;
            padding: 10px;
            border: 1px solid #ddd;
            background: url(../images/ajax-loader-mini.gif) no-repeat;
            display: inline;
        }
     
    </style>
<script>

           var sCount ;
         var  LImgNameArray = new Array();
         var  ImgNameArray = new Array();
           var i;

           function imageLoaded(img) {
               debugger;
               alert("Called");
             imageArray = new Array();
             imageArray = document.getElementsByTagName("img")
             var loadingImgId = img.alt;
             var imgCount = imageArray.length;

             loadingImgId.style.visibility = 'hidden';
             alert(imageArray.Length);
             if(imageArray.Length == sCount)
             {
                 for (var j = 0; j <= LImgNameArray.length; j++) 
                 {
                     document.getElementById(ImgNameArray[i]).style.visibility = 'visible';
                 }
             }
             else
             {
                 LImgNameArray[i] = loadingImgId
                 ImgNameArray[i] = img.id;
                 alert(ImgNameArray[i])
                 i++;
                 alert(ImgNameArray[i])
             }
             sCount++;
             alert(sCount);
         }
</script>

<script type="text/javascript">

    function setListingsImage(obj) {
     

        var img = new Image();
        img.src = obj.src;
        if (img.height > img.width) {
            obj.height = 220;
            var width = (200 * img.width) / img.height;
            width = width > 220 ? 220 : width;
            obj.width = (width > 0 ? width : 220);
        }
        else {
            obj.width = 200;
            var height = (220 * img.height) / img.width;
            height = height > 200 ? 200 : height;
            obj.height = (height > 0 ? (height - 6) : 220);

        }
    }
       </script>

  <link href="css/mytooltip.css" rel="stylesheet" type="text/css" />
    <table width="100%" height="600px">
      
<tr>
<td valign="top" width="20%" style="background-color:#dddddd">
    <asp:FormView ID="FormView1" runat="server"
      ondatabound="FormView1_DataBound">
      <ItemTemplate>
      <center>
     <div style=" z-index:-1px; text-align:center;">
     <img id='<%#Eval("firstphoto")%>Cover' class="image-holder" align="middle" style="z-index:9999"/>
     </div>
     <div style="position: absolute; z-index: 9999; text-align:center;">
     <img ID="Photo" src='photos/<%# Eval("title")%>/<%# Eval("firstphoto")%>.jpg' alt='<%#Eval("firstphoto")%>Cover' style="visibility:hidden;margin: 0px 0 0 0px;
         cursor:pointer;z-index:-1000" width="200" height="220"  onload="javascript:imageLoaded(this);" />
     </div>
     <%-- <img src='photos/<%# Eval("title")%>/<%# Eval("firstphoto")%>.jpg'
          width="200px" height="220px" onload="javascript:setListingsImage(this)" />--%>
      </center>
      <p />
      <h4> <%# Eval("title") %> (<%# Eval("nophotos") %>) </h4>
      <%# Eval("createdon")%>
      <p />
      <%# Eval("description") %>
      <p />
      <asp:Panel runat="server" ID="innerPanel" Visible="false">
      <a href='uploadphotos.aspx?aid=<%# Eval("aid")%>&atitle=<%# Eval("title")%>'>Upload photos</a>
     
   <%--  <a href='sharealbum.aspx?aid=<%# Eval("aid")%>'>Share Album</a> --%> 
       </asp:Panel>
    
 <%--   <a href='slideshow.aspx?aid=<%# Eval("aid")%>'>Slide Show</a>--%>
  
    </ItemTemplate>
    </asp:FormView>
     <asp:Panel runat="server" ID="outerPanel" Visible="false">
    <%--<asp:LinkButton ID="lnkbtnSetCover" runat="server" onclick="lnkbtnSetCover_Click">Set Cover Photo</asp:LinkButton>--%>
<%--OnClientClick="return window.confirm('Setting this photo as cover in the album. Do you want to set ?')"--%>
    <p />
  
    <asp:LinkButton ID="LinkButton1" runat="server" onclick="LinkButton1_Click" 
        OnClientClick="return window.confirm('Deleting album deletes all photos in the album. Do you want to delete album?')">Delete album</asp:LinkButton>
        <p/>
     <a href='Default.aspx'>Back</a>
         </asp:Panel>
           
<%--<asp:LinkButton ID="LinkButton2" runat="server" onclick="window.open('slideshow.aspx?id=<%= PropId %>','','scrollbars=yes,width=600,height=760')">Slide Show</asp:LinkButton>--%>
   
    <asp:ObjectDataSource ID="ObjectDataSource1" runat="server" 
              SelectMethod="GetAlbumDetails" TypeName="PhotosDAL">
        <SelectParameters>
            <asp:QueryStringParameter Name="aid" QueryStringField="aid" Type="String" />
        </SelectParameters>
          </asp:ObjectDataSource>
</td>
<td valign="top">
<asp:ListView ID="ListView1" runat="server" 
 GroupItemCount ="5" ondatabound="ListView1_DataBound" 
        onselectedindexchanged="ListView1_SelectedIndexChanged">
     <LayoutTemplate>
     <center>
      <table id="Table1" runat="server">
       <tr runat="server" id="groupPlaceholder"/>
      </table>
      <p />
      <asp:DataPager ID="DataPager1" runat="server" PagedControlID = "ListView1" >
        <Fields>
            <asp:NumericPagerField />
        </Fields>
       </asp:DataPager>
      </center>
     </LayoutTemplate>
     
     <GroupTemplate>
         <tr id="Tr1" runat="server">
             <td id="itemPlaceholder" runat="server" />
         </tr>
     </GroupTemplate>
     
     <ItemTemplate>
          <td>
            <%--<a href='showphoto.aspx?photoid=<%#Eval("photoid")%>&aid=<%#Eval("aid")%>&atitle=<%#Eval("atitle")%>'>
            
            <img src='photos/<%#Eval("atitle")%>/<%#Eval("photoid")%>.jpg' width="200" height="220"  onload="javascript:setListingsImage(this);" />&nbsp;&nbsp;
            </a>
            <strong><span style="color: #008080">
            <br />
            <%#Eval("title")%> 
            <br />
           <input id="chkbxCover" value='<%# Eval("photoid")%>' title='<%# Eval("photoid")%>' visible="false" onclick="javascript:setCheckBoxValue(this);" 
           type="checkbox" runat="server" />--%>

     <a href='showphoto.aspx?photoid=<%#Eval("photoid")%>&aid=<%#Eval("aid")%>&atitle=<%#Eval("atitle")%>'>
     <div style=" z-index:-1px; text-align:center;">
     <img id='<%#Eval("photoid")%>' class="image-holder" align="middle" style="z-index:9999"/>
     </div>
     <div style="position: absolute; z-index: 9999; text-align:center;">
     <img ID='<%#Eval("atitle")%>' src='photos/<%#Eval("atitle")%>/<%#Eval("photoid")%>.jpg' alt='<%#Eval("photoid")%>' style="visibility:hidden;margin: 0px 0 0 0px;
         cursor:pointer;z-index:-1000" width="200" height="220"  onload="javascript:imageLoaded(this);" />
    </div>
    </a>
     <strong><span style="color: #008080">
    <br />
    <%#Eval("title")%> 
     </td>
     </ItemTemplate>
     
     <EmptyDataTemplate>
     <center>
     <h4>Currently there are no photos in this album. </h4>
     </center>
     </EmptyDataTemplate>
   </asp:ListView>
   <p />
   <asp:Label runat="server" ID="lblSucessMsg"></asp:Label>
     
    <asp:ObjectDataSource ID="odsPhotos" runat="server" SelectMethod="GetPhotosFromAlbum" 
        TypeName="PhotosDAL">
        <SelectParameters>
            <asp:QueryStringParameter Name="aid" QueryStringField="aid" Type="String" />
        </SelectParameters>
    </asp:ObjectDataSource>
</td>
</tr>
</table>

    <asp:HiddenField ID="hdnfldChkBxValue" runat="server" />
</asp:Content>

