﻿<%@ Page Language="C#" MasterPageFile="~/Admin/LMSAdmin/AdminMasterMenu.master" AutoEventWireup="true" CodeFile="EmployeeList.aspx.cs" Inherits="LMSAdmin_Test" Title="Employee list for editting the Leave " %>
<%--<%@ Page Language="C#"  AutoEventWireup="true" CodeFile="EmployeeList.aspx.cs" Inherits="LMSAdmin_Test"  Title="Employee list" %>--%>
<%@ Register Src="Controls/EmployeeList.ascx" TagName="ucAdminHeaderMenu"  TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div>
    <uc1:ucAdminHeaderMenu runat="server" />
    </div>
</asp:Content>
