/* CSS Document */

@import url("font/texgyreadventor.css");
body {
	margin:0;
	padding:0;
	background-attachment:fixed;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	/*font-size:13px;*/
	background:#f3f3f3;
	overflow-y:scroll;
 *overflow-y:none;
}

#wrapper {
	margin:0 auto;
	width:800px;
}

#wrapper1 {
	margin:0 auto;
	width:99%;
}

input:hover {
	border:1px solid #282C5F;
	padding:3px;
}
input:focus {
	background:#ffffff;
	color:#333333!important;
	border: 1px solid #282C5F;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	padding:3px;
}
input {
	border:1px solid #CCCCCC;
	outline: medium none;
	background:#ffffff;
	color:#333333!important;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	padding:3px;
}
textarea {
	border:1px solid #cccccc;
	outline: medium none;
	background:#ffffff;
	color:#333333!important;
	padding:3px;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size: 13px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}
textarea:active {
	background:#ffffff;
	color:#333333!important;
	border: 1px solid #FE7003;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size: 13px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}
textarea:hover {
	background:#ffffff;
	color:#333333!important;
	border: 1px solid #FE7003;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size: 13px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}
textarea:focus {
	background:#ffffff;
	color:#333333!important;
	border: 1px solid #FE7003;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size: 13px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}


ul, li {
	list-style-type:none;
	padding:0;
	margin:0;
}
a {
	outline-style:none;
}
td {
	padding:0px;
	margin:0px;
}
/**/
div.logo {
	margin:0 0 25px;
	width:232px;
	height:80px;
	background:url(../images/logo.png) no-repeat center bottom;
}

.footer {
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size:11px;
	color:#838383;
	text-decoration:none;
	padding:6px;
	text-align:right;
}
a.footer {
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size:11px;
	color:#838383 !important;
	text-decoration:none;
	line-height:30px;
	padding:6px;
}
a.footer:hover {
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size:11px;
	color:#FFFFFF !important;
	text-decoration:none;
	padding:6px;
	line-height:30px;
}
.copyright_text {
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size:11px;
	color:#838383;
	text-decoration:none;
	padding:6px;
	text-align:right;
}
/* ---------------------- Footer area style  ----------------------------- */
	/**/

.loginbutton {
	background: #282C5F !important;
	border:1px solid #282C5F !important;
	color:#ffffff !important;
	padding:5px 14px;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size:15px;
	cursor:pointer !important;
}
.loginbutton:hover {
	background: #676767 !important;
	border:1px solid #676767 !important;
	color:#ffffff !important;
	padding:5px 14px;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size:15px;
	cursor:pointer !important;
}

.loginbutton:active {
	background: #676767 !important;
	border:1px solid #676767 !important;
	color:#ffffff !important;
	padding:5px 14px;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size:15px;
	cursor:pointer !important;
}

.loginbutton:focus {
	background: #676767 !important;
	border:1px solid #676767 !important;
	color:#ffffff !important;
	padding:5px 14px;
	font-family:'Century Gothic', 'TeXGyreAdventorRegular', Arial, sans-serif;
	font-size:15px;
	cursor:pointer !important;
}





/**/
.logo_text {
	color: #FE7003;
	font-size: 50px;
	text-decoration: none;
}
.logo_text:hover {
	text-decoration:none;
}

/*********************************************************login page*******************************************************/


body, html {
	height: 100%;
}
body.authentication {
/* background: url(../Images/login-bg.png) no-repeat scroll 100% 100% #F3F3F3;*/
}
div.centralizer {
	/*height: 0;
	overflow: visible;width: 53%;*/
	position: absolute;
	top: 25%;
	
}
div.centralizer > * {
	margin-left: auto;
	margin-right: auto;
}

div.authentication {
	height: 515px;
	/*   margin-top: -257.5px;*/
    padding-top: 72px;
	/*width: 801px;*/
	margin:0 auto;
	background-image: url(../../images/bg-panel.png);
	background-repeat: no-repeat;
}
div.authentication > div {
	/* background: url("../Images/bg-panel.png") no-repeat;
 background-position: -1602px 100%;*/
    padding-bottom: 15px;
}
* {
	background-position: 0 0;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}
div.authentication > div > div {
	background-image: url("../Images/bg-panel.png");
	background-position: -801px 0;
	background-repeat: repeat-y;
	padding: 20px 30px 0;
	height:330px;
}
div.authentication > div > div > a.magelia {
	background-image: url("../Images/magelia.png");
	display: block;
	height: 77px;
	margin: -60px 0 0 40px;
	position: absolute;
	text-indent: -9999px;
	width: 218px;
}
a {
	color: #333333;
	text-decoration: none;
}



  
  div.authentication > div > div > h4 {
	font-size: 15px;
	font-weight: normal;
	/*margin-bottom: 10px;*/
	margin-top: -25px;
	text-align: right;
}

 
	.ctx-clr {
	color: #0054A5;
}
.ctx-bg, .message, ul.messages > li {
	background-color: #282C5F;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #00a651;
	border-right-color: #00a651;
	border-bottom-color: #00a651;
	border-left-color: #00a651;
}
.message, ul.messages > li {
	background-position: 10px 10px;
	color: #FFFFFF;
	padding: 10px;
	text-align: left !important;
}
.form {
	margin-bottom: 10px;
	overflow: hidden;
}
div.authentication div.form > div.field:first-child, div.authentication div.form > div.field:first-child + div.field {
	font-size: 20px;
}
div.authentication div.field {
	margin-top: 40px;
	padding: 0;
	width: 49%;
}
.form div.field {
	float: left;
	overflow: hidden;
	padding: 5px 10px 5px 0;
}
div.authentication div.field label {
	min-width: 0;
}
.form div.field > * {
	clear: both;
	display: block;
	float: left;
}

.matcharea{
line-height: 25px !important;	
}
input[type="text"], input[type="file"], input[type="number"], input, select, label, textarea {
	/*-moz-box-sizing: border-box;
	height: 25px;
	*/
/*	line-height: 25px;*/
}
div.authentication div.field input[type="text"], div.authentication div.field input[type="password"] {
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	margin-top: 15px;
	width: 90%;
}
.form div.field input[type="text"], .form div.field input[type="file"], .form div.field input[type="number"], .form div.field input[type="password"], .form div.field select, .form div.field textarea {
	width: 250px;
}
.form div.field > * {
	clear: both;
	display: block;
	float: left;
}

div.authentication div.field1 {
	margin-top: 40px;
	padding: 0;
	width: 49%;
}

div.authentication div.buttons {
	/*margin-left: 49%;float:left;*/
	padding-top: 0;
	margin-top: 28px;
	width:49%;
}

div.buttons {
	/*clear: both;
	overflow: hidden;*/
	padding-top: 20px;
}
div.authentication div.buttons > ul {
	float: left;
}
div.buttons > ul {
	/*float: right;margin-top:46px;*/
	overflow: hidden;
	
}

div.buttons > ul > li {
	float: left;
}
a.rounded:hover {
	text-decoration: none;
}
a.rounded, a.rounded span {
	color: #333333 !important;
	display: block;
	font-weight: normal;
	height: 38px;
	line-height: 38px;
	text-transform: uppercase;
}
a:hover {
	text-decoration: underline;
}
div.authentication footer {
	padding-top: 20px;
	text-align: center;
}
#tFooter {
	display: inline-block;
}
div.authentication footer * {
	color: #999999;
}
table {
	border-collapse: collapse;
}
div.authentication footer * {
	color: #999999;
}
a:hover {
	text-decoration: underline;
}
.logo_login {
	margin-top:-78px;
	float:left;
}
.headerbg {
	background: url("../Images/bg-header.png") repeat-x scroll 0 0 transparent;
	height: 66px;
	overflow: hidden;
	padding: 20px 50px;
}
.midpart {
	margin:0 auto !important;
}
.dashboardtbl {
	padding:10px 10px;
}

fieldset {
	background-color: #F3F3F3;
	border: 1px solid #CCCCCC;
	padding: 10px 16px 20px;
    *padding: 13px 16px 20px;
	-webkit-margin-start: 0px !important;
	-webkit-margin-end: 0px !important;
	margin:0px !important;
    *margin:15px !important;
    *line-height:17px !important;
}
fieldset > legend {
 *font-size: 16px;
	font-size: 18px;
	padding: 0 2px;
 *margin-top:-20px;
	color:#333333;
}
.star {
	color:#F00;
	font-size:15px;
}
.headerbg {
	height: 66px;
	overflow: hidden;
	padding: 20px 50px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../../images/bg-header.png);
	background-repeat: repeat-x;
	background-position: 0 0;
}

.masterlogin {
color: #333333;
padding-right: 20px;
padding-top: 3px;
}
